In [2]:
a = 10
print('a = ', a)

a =  10

In [3]:
a = 'emil'
b = 10
print(a * b)

emilemilemilemilemilemilemilemilemilemil

In [4]:
print(b * a)

emilemilemilemilemilemilemilemilemilemil

In [5]:
emil = 10
emil0 = 20

In [6]:
print('emil')
#print(emil + emil2)

emil

In [7]:
print(emil + emil2)

NameError: name 'emil2' is not defined

In [8]:
print(b + emil)

20

In [9]:
a

'emil'

In [10]:
emil

10

In [11]:
print(a, emil, a + emil)

TypeError: can only concatenate str (not "int") to str

In [91]:
#print(sm, type(sm))
sm = 10
print(sm, type(sm))
sm = 'emil'
print(sm, type(sm))

10 <class 'int'>
emil <class 'str'>

In [16]:
print(a[-1])

c

In [17]:
a = 'student'
print(len(a))

7

In [18]:
print(a[7])

IndexError: string index out of range

In [28]:
a = 'studentbek'
print(a[len(a)/2])
#print('last character = ', a[len(a) - 1])

TypeError: string indices must be integers, not 'float'

In [31]:
print( 11 / 2, 11 // 2, int(11 / 2))

5.5 5 5

In [35]:
print(round(10.50))

10

In [39]:
if 10 < 2:
 print('pravilno')
else:
    a = 10
    print('x' * 10)

xxxxxxxxxx

In [44]:
student1 = 10
student2 = 10
student3 = 100

r = (student1 + student2 + student3) / 3

if r >= 70:
    print('horosho')
else:
    print('ploho')

print(r)

ploho
40.0

In [84]:
# proveryayem summu studentov
s1, s2, s3, s4, s5, s6, s7, s8, s9, s10 = 1, 1, 1, 1, 1, 1, 1, -10, 0, 0
summa = s1 + s2 + s3 + s4 + s5 + s6 + s7 + s8 + s9 + s10
print('summa = ', summa)
if s1 > 1 or s2 > 1 or s3 > 1 or s4 > 1 or s5 > 1 or s6 > 1 or s7 > 1 or s8 > 1 or s9 > 1 or s10 > 1:
    print('julnichuyut odin ili bolshe studentov pdnyal(i) dve ruki')
elif summa > 10:
    print('julnichuyut')
elif summa == 10:
    print('No exam')
elif summa < 10 and summa >= 8:
    print('exam is tomorrow')
elif summa >= 5 and summa < 8:
    print('exam is day after tomorrow')
else: 
    print('exam is today')

summa =  -3
exam is today

In [92]:
# napishi programmu kotoriy proverit s odin ili nol
s = -1
if s >= 0 and s <= 1:
    print('normal')
elif s < 0:
    print('not normal')


## secon version
if s == 1 or s == 0:
    print('normal')
else:
    print('not normal')

not normal
not normal

In [102]:
def y(p, x): 
    return p * p + 5 - p*x

In [103]:
print( 3 * 3 + 5 - 3)
print( 10 * 10 + 5 - 10)
print( 200 * 200 + 5 - 200)

11
95
39805

In [107]:
def isFirstMinimum(s1, s2, s3, s4):
    if s1 <= s2 and s1 <= s3 and s1 <= s4:
        return True
    else:
        return False


def getMin2(s1, s2, s3, s4):
    if s1 >= s2 and s1 >= s3 and s1 >= s4:
        print(s1)
    elif s2 > s1 and s2 > s3 and s2 > s4:
        print(s2)
    elif s3 > s1 and s3 > s2 and s3 > s4:
        print(s3)
    else:
        print(s4)


def getMinValue(s1, s2, s3, s4):
    if isFirstMinimum(s1, s2, s3, s4):
        print(s1)
    elif isFirstMinimum(s2, s1, s3, s4):
        print(s2)
    elif isFirstMinimum(s3, s1, s4, s2):
        print(s3)
    else:
        print(s4)

In [108]:
print(getMinValue(5, 7, 13, 1))

1
None

In [115]:
def myprint(s1, s2):
    print(f's1 type = {type(s1)}, {s1}, s2 type = {type(s2)}, {s2}, s1 + s2 = ', s1 + s2)

s1 = "10"
s2 = "20.2"
myprint(s1, s2)
s1 = float(s1)
s2 = float(s2)
myprint(s1, s2)

s1 type = <class 'str'>, 10, s2 type = <class 'str'>, 20.2, s1 + s2 =  1020.2
s1 type = <class 'float'>, 10.0, s2 type = <class 'float'>, 20.2, s1 + s2 =  30.2

In [120]:
def abcd(a, b):
    if a > b:
        return a
    else:
        return b

50

In [126]:
arr = [1, 2, 3, 5, 0, 6, 2]
arr[4] = 100
m = arr[0]
for i in arr: 
    if i < m:
        m = i
print(arr)
print('min value is : ', m)

[1, 2, 3, 5, 100, 6, 2]
min value is :  1

In [130]:
s = 'emil'
print(s)
s = list(s)
s[0] = 'x'
print(s)
for i in s:
    print(i)

emil
['x', 'm', 'i', 'l']
x
m
i
l

In [134]:
arr = [1, 3, 4, 9, 0, -3]
n = 0; 
c = 0
for i in arr:
    n += i
    c += 1
print('sum = ', n)
print('count = ', c)
print("average = ", n / c)

sum =  14
count =  6
average =  2.3333333333333335

In [141]:
arr = [1, 3, 4, 5, 9, 0, -3]
x = False
for p in arr:
    x = x or p == 5
print(x)

True

In [149]:
def exist(arr, t):
    for i in arr:
        if i == t:
            return True
    return False

print(exist(arr, 5))

False

In [151]:
p = 0
for i in arr:
    if i == 5:
        p += 1
if p > 0:
    print(p)
else:
    print(p)

0

In [155]:
 arr = [1, 9, 0, 2, 3, 6] 

 for index1, i in enumerate(arr):
    for index2, j in enumerate(arr):
        print(index1, i, index2, i)
        # if i + j == 18 and index1 != index2:
        #     print(i, j, True)

0 1 0 1
0 1 1 1
0 1 2 1
0 1 3 1
0 1 4 1
0 1 5 1
1 9 0 9
1 9 1 9
1 9 2 9
1 9 3 9
1 9 4 9
1 9 5 9
2 0 0 0
2 0 1 0
2 0 2 0
2 0 3 0
2 0 4 0
2 0 5 0
3 2 0 2
3 2 1 2
3 2 2 2
3 2 3 2
3 2 4 2
3 2 5 2
4 3 0 3
4 3 1 3
4 3 2 3
4 3 3 3
4 3 4 3
4 3 5 3
5 6 0 6
5 6 1 6
5 6 2 6
5 6 3 6
5 6 4 6
5 6 5 6

In [157]:
print(arr)
for x, i in enumerate(arr):
    print(x, i)

[1, 9, 0, 2, 3, 6]
0 1
1 9
2 0
3 2
4 3
5 6

In [2]:
### 11 / 09 / 2024

In [4]:
arr = [1, 2, 0, 7, 2, 1]

s = 0
for i in arr:
    s += i
print(arr)
print('summa = ', s)

[1, 2, 0, 7, 2, 1]
summa =  13

In [5]:
m = arr[0]
for i in arr:
    if m > i:
        m = i
print(arr)
print('minimum value in an array = ', m)

[1, 2, 0, 7, 2, 1]
minimum value in an array =  0

In [9]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
N = 7

n = 0
for i in arr:
    print('n = ', n, ' -> ', i)
    n += 1
    print('after n = ', n)

print(arr, N)
if n == N:
    print('vse tut')
elif n < N:
    print('ne vse tut, missin = ', N - n)
elif n > N:
    print('bolshe ludey na = ', n - N)

n =  0  ->  Atai
after n =  1
n =  1  ->  Alim
after n =  2
n =  2  ->  Tynchtyk
after n =  3
n =  3  ->  Nur
after n =  4
n =  4  ->  Samat
after n =  5
n =  5  ->  Atabek
after n =  6
['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek'] 7
ne vse tut, missin =  1

In [45]:
from random import randint
for i in range(3):
    print(i+1, ' random number = ', randint(1, 60))

1  random number =  8
2  random number =  58
3  random number =  32

In [15]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
name = 'Nurbek'
jokeyy = False

for imya in arr:
    jokeyy = jokeyy or name == imya

print(name, ' est v massive = ', jokeyy)

result = False
for imya in arr:
    if imya == name:
        result = True
print(name, ' bar massivde = ', result)

Nurbek  est v massive =  False
Nurbek  bar massivde =  False

In [17]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
n = arr[0]
for i in arr:
    if i > n:
        n = i
print(arr)
print(n)

['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
Tynchtyk

In [19]:
arr = ['Atai', 'Atalim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']

n = arr[0]
for i in arr:
    if i < n:
        n = i
print(n)

Atabek

In [25]:
arr = ['Atai', 'Atalimba', 'Tynchtyk', 'Nur', 'Samat', 'Atabekov']
n = arr[0]
for i in arr:
    if len(i) >= len(n):
        n = i
print('longest name = ', n)

for i in arr:
    if len(i) == len(n):
        print(i)

longest name =  Atabekov
Atalimba
Tynchtyk
Atabekov

In [26]:
print([i for i in arr if len(i) == max([len(j) for j in arr])])

['Atalimba', 'Tynchtyk', 'Atabekov']

In [40]:
arr = [1, 2, 3, 5, 8, 9]

print(arr[len(arr) - 1 : :-1])

[9, 8, 5, 3, 2, 1]

In [41]:
print(arr[3:])

[5, 8, 9]

In [42]:
print(arr[:4])

[1, 2, 3, 5]

In [49]:
arr = [-1, -2, -3, -5, -10, -8, -2]
min = arr[0]
max = arr[0]
for i in arr:
    if min > i:
        min = i
    if max < i:
        max = i

print(f'min = {min}, max = {max}, difference = {max - min}')

min = -10, max = -1, difference = 9

In [51]:
arr = [1, 2, 3, 5, 5, 6, 7]
print(arr)
print(arr[:3])
print(arr[3:])

[1, 2, 3, 5, 5, 6, 7]
[1, 2, 3]
[5, 5, 6, 7]

In [58]:
arr1 = [1, 2, 3]
arr2 = [5, 4, 2]
print(arr1 + arr2)
print(arr1 + ['abc', 'def'])

[1, 2, 3, 5, 4, 2]
[1, 2, 3, 'abc', 'def']

In [61]:
arr = ['emil', 'bil', 'ait', 'kg', 1]

print(arr)
print('->'.join(arr))


1 + 5 * 2 - 3

['emil', 'bil', 'ait', 'kg', 1]

TypeError: sequence item 4: expected str instance, int found

In [28]:
def check(arr):
    for i in arr:
        print("i = ", i, end = ' -> ')
        if i % 2 == 0 and i % 2 == 1 or i % 3 == 2:
            print('Even number')
    return "ATAI"
arr = [0, 65, 86, 55, 63, 46, 87, 18, 12, 33]
target = 55

result = '0, 55'

print('v massive est chetniy sifra? ', check(arr) if check(arr) else '')
#print('v massive est chetniy sifra? ', check(arr))

res = '''
0 -> 1 -> 3 -> 8 -> Even number
10 -> v massive est chetniy sifra? ATAI
'''

i =  0 -> i =  1 -> i =  3 -> i =  8 -> Even number
i =  10 -> i =  0 -> i =  1 -> i =  3 -> i =  8 -> Even number
i =  10 -> v massive est chetniy sifra?  ATAI

In [29]:
from random import randint
print([randint(0, 100) for i in range(10)])

[0, 65, 86, 55, 63, 46, 87, 18, 12, 33]

In [24]:
from random import randint
print(randint(1, 62), randint(1, 62), randint(1, 62))

27 57 13

In [33]:
def check(arr, target):
    for x1, i in enumerate(arr):
        for x2, j in enumerate(arr):
            if i + j == target and i < j and x1 < x2:
                print(f'{i} + {j} = {target}')
    return False

arr = [0, 65, 86, 55, 63, 46, 87, 12, 18, 12, 33]
target = 30

check(arr, target)

12 + 18 = 30

False

In [34]:
def check2(arr):
    for i, v in enumerate(arr):
        if i > 0 and i < len(arr)-1 and max(arr[:i]) > v < max(arr[i+1:]):
            print(v)

arr = [0, 65, 86, 55, 63, 46, 87, 12, 18, 12, 33]
check2(arr)

55
63
46
12
18
12

In [38]:
arr = [6, 2, 1, 0, 4]
for i in enumerate(arr):
    print(i)

(0, 6)
(1, 2)
(2, 1)
(3, 0)
(4, 4)

In [44]:
def fun(x):
    return x ** 2, x ** 0.5

z, y = fun(9)

print(z)
print(y)

81
3.0

In [33]:
arr = [1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
f = arr[0]
c = 0
for i in arr:
    if f < i:
        f = i
        c = 0+1
    elif f == i:
        c += 1

print('RESULT = ', c)

RESULT =  2

In [34]:
arr = [1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
max = arr[0]
for i in arr:
    if max < i:
        max = i
count = 0
for i in arr:
    if max == i:
        count += 1
print(count)

2

In [36]:
print(arr)
s = 0
for i in arr:
    s += i
print(s)

s = 0
for i in arr[:5]:
    s += i
print(s)

s = 0
for i in arr[-5:]:
    s += i
print(s)

[1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
44
15
27

In [38]:
c = 0
for i in arr:
    if i < 0:
        c += 1
print(arr)
print('negative count = ', c)

[1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
negative count =  1

In [43]:
names = ['twix', 'sandwich', 'moloko', 'bread', 'cola', 'kolbasa']
prices = [40, 75, 90, 25, 90, 200]
kolichestvo = [10, 15, 40, 60, 20, 10]

def tsena_tovara(names, prices, tovar):
    for index, name in enumerate(names):
        if name == tovar:
            return prices[index] 

def kancha_boldu(moi_tovari, moi_kolichestvo):
    s = 0
    text = ''
    for ati, shtuk in zip(moi_tovari, moi_kolichestvo):
        x = tsena_tovara(names, prices, ati) * shtuk
        text += f'{ati} x {shtuk} -> {x}\n'
        s += x
    text += '_'*20
    return text + f'\nTotal : {s}'


moi_tovari = ["moloko", "bread", "kolbasa"]
moi_kolichestvo = [1, 2, 1]

check = kancha_boldu(moi_tovari, moi_kolichestvo)
print(check)

moloko x 1 -> 90
bread x 2 -> 50
kolbasa x 1 -> 200
____________________
Total : 340

In [57]:
from time import time
arr = [52, 8, 7, 72, 8, 6, 3, 1, 9, 0]*20000
res = []

def mysort(arr):
    # for i in range(len(arr)):
    #     max = arr[0]
    #     for j in arr:
    #         if max > j:
    #             max = j
    #     res.append(max)
    #     arr.remove(max)
    return sorted(arr)

basinda = time()
x = mysort(arr)
ayagi = time()
print('ketken ubakit = ', ayagi - basinda)
print(len(x))

ketken ubakit =  0.009049177169799805
200000

In [62]:
names = ["atai", 'sultan', 'emir', 'gazi']
amount = [1000, 2000, 3000, 4000]

def max_amount_person():
    max = arr[0]
    name = None
    for x, i in enumerate(amount):
        if i > max:
            max = i
            name = names[x]
    return name

print('max amount person is = ', max_amount_person())

max amount person is =  gazi

In [74]:
x = 0
print('x = ', x)

x =  0

In [73]:
def mysum():
    x = 0
    for i in amount:
        x += i
    return x
print(amount)
print('sum = ', mysum())

[1000, 2000, 3000, 4000]
sum =  20000

In [75]:
def high_amount_clients(threshold):
    res = []
    
    for x, name in zip(amount, names):
        if x >= threshold: # > -> -5
            res.append(name)
    return res

names = ["atai", 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
amount = [1000,  2000,      3000,  4000,    1000,   2000,   5000]

print(names)
print(amount)
print(high_amount_clients(3000))

['atai', 'sultan', 'emir', 'gazi']
[1000, 2000, 3000, 4000]
['emir', 'gazi']

In [78]:
names = ["atai", 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
amount = [1000,  2000,      3000,  4000,    1000,   2000,   5000]

def get_higher_amount(higher_amount):
    for i, n in enumerate(amount):
        if n < higher_amount:
            names.pop(i)
            amount.pop(i)
    return names

print(names)
print(amount)
print(get_higher_amount(3000))

['atai', 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
[1000, 2000, 3000, 4000, 1000, 2000, 5000]
['sultan', 'emir', 'gazi', 'aziz', 'ulan']

In [87]:
names = ["atai", 'sultan',  'gazi', 'bars']
amount = [1000,  2000,       3000,  4000]
print('Before')
print(list(zip(names, amount)))


def findindex(name):
    for i, v in enumerate(names):
        if v == name:
            return i
        
def transfer(a, b, x, h):
    print(f'Transfering from "{a}" to "{b}" amount of {x}')
    h.append((a, b, x))
    ai, bi = findindex(a), findindex(b)
    amount[ai], amount[bi] = amount[ai] - x, amount[bi] + x

history = []
for i in range(10):
    transfer("gazi", "bars", 200, history)
print('\nLatest')
print(list(zip(names, amount)))
print('History')
print(history)

Before
[('atai', 1000), ('sultan', 2000), ('gazi', 3000), ('bars', 4000)]
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200

Latest
[('atai', 1000), ('sultan', 2000), ('gazi', 1000), ('bars', 6000)]
History
[('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200)]

In [88]:
history

[('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200)]

In [89]:
for a, b, x in history:
    transfer(b, a, x, [])
history = []

Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200

In [85]:
print(list(zip(names, amount)))

[('atai', 1000), ('sultan', 2000), ('gazi', 3000), ('bars', 4000)]

[]

In [106]:
student = ["atai", "emil", "aman", "gulnur"]
knigi = [
    [], 
    ["potter", "jamilia", "semetey"],
    ["sary", 'mary', 'semetey'],
    ['manas', 'semetey', 'seytek']
]
books = ['potter', 'jamilia', 'semetey', 'sary', 'mary', 'manas', 'seytek']
author = ['emil',  'aytmatov', 'aytmatov', 'emil', 'ulan', 'ulan', 'aytmatov']
quantity = [5,       6,          7,         8,     3,      8,       2]
history = []

def adjustBook(name, book, flag):
    history.append((name, book, flag))
    for i, n in enumerate(student):
        if n == name:
            if flag == 'kosh':
                knigi[i].append(book)
                quantity[i] -= 1
            elif flag == 'ochur':
                knigi[i].remove(book)
                quantity[i] += 1

adjustBook('emil', 'semetey', 'ochur')
adjustBook('atai', 'semetey', 'ochur')
adjustBook('aman', 'semetey', 'ochur')

# skolko u Amana
print('Skolko = ', [len(knigi[i]) for i, name in enumerate(student) if name == 'gulnur'])
print('Kakie knigi = ', [knigi[i] for i, name in enumerate(student) if name == 'gulnur'])
print('skolko studentov = ', sum([1 for x in knigi for kniga in x if kniga == 'semetey']))
print('skolko knig u avtora = ', sum([q for q, a in zip(quantity, author) if a == 'aytmatov']))
print('kto vzyal = ', [n for n, k in zip(student, knigi) if 'semetey' in k])

ValueError: list.remove(x): x not in list

In [108]:
print('Skolko1 = ', [len(knigi[i]) for i, name in enumerate(student) if name == 'gulnur'])

def skolko(param):
    v = []
    for i, name in enumerate(student):
        if name == param:
            v.append(len(knigi[i]))
    return v

print('skolko2 = ', skolko('gulnur'))

Skolko1 =  [3]
skolko2 =  [3]

In [121]:
print('Kakie knigi = ', [i for i, name in zip(knigi, student) if name == 'gulnur'])

def kakie(param):
    v = []
    for k, name in zip(knigi, student):
        if name == param:
            v += k
    return v

print('kakie knigi2 = ', kakie('gulnur'))

Kakie knigi =  [['manas', 'semetey', 'seytek']]
kakie knigi2 =  ['manas', 'semetey', 'seytek']

In [114]:
param = 'semetey'

print('skolko studentov = ', sum([1 for x in knigi for kniga in x if kniga == param]))
def summa(param):
    v = 0
    for x in knigi:
        for kniga in x:
            if kniga == param:
                v += 1
    return v

print('skolko studentov2 = ', summa(param))


count = 0
for i in knigi:
    count += param in i
print('skolko studentov3 = ', count)

skolko studentov =  2
skolko studentov2 =  2
skolko studentov3 =  2

In [124]:
print(author)
print(quantity)
print(list(zip(quantity, author)))

['emil', 'aytmatov', 'aytmatov', 'emil', 'ulan', 'ulan', 'aytmatov']
[5, 7, 7, 8, 3, 8, 2]
[(5, 'emil'), (7, 'aytmatov'), (7, 'aytmatov'), (8, 'emil'), (3, 'ulan'), (8, 'ulan'), (2, 'aytmatov')]

In [133]:
print('skolko knig u avtora = ', sum([q for q, a in zip(quantity, author) if a == 'aytmatov']))


def skolko_knig_u_avtora(param):
    s = 0
    for quant, auth in zip(quantity, author):
        if auth == param:
            s += quant
    return s

print('skolko knig u avtora2 = ', skolko_knig_u_avtora('aytmato'))

skolko knig u avtora =  16
skolko knig u avtora2 =  0

In [137]:
shtrih = ['0225', '1116', '9394', '3218', '9678', '6869']
tovar = ['ruchka', 'laptop', 'chay', 'majito', 'sprite', 'rezinka']
tsena = [50, 20000, 50, 65, 55, 20]


def kassoviy_check(karzinka):
    total = 0
    result = 'KASSOVIY CHECK\n_______________\n'
    for k in karzinka.split(','):
        for sh, to, ts in zip(shtrih, tovar, tsena):
            if k == sh:
                result += to + ' -> ' + str(ts) + '\n'
                total += ts
    return result + '\n___________\nTOTAL : ' + str(total)
 


karzinka = '0225,9394,1116'
print(kassoviy_check(karzinka))

KASSOVIY CHECK
_______________
ruchka -> 50
chay -> 50
laptop -> 20000

___________
TOTAL : 20100