In [2]:
a = 10
print('a = ', a)

a =  10

In [3]:
a = 'emil'
b = 10
print(a * b)

emilemilemilemilemilemilemilemilemilemil

In [4]:
print(b * a)

emilemilemilemilemilemilemilemilemilemil

In [5]:
emil = 10
emil0 = 20

In [6]:
print('emil')
#print(emil + emil2)

emil

In [7]:
print(emil + emil2)

NameError: name 'emil2' is not defined

In [8]:
print(b + emil)

20

In [9]:
a

'emil'

In [10]:
emil

10

In [11]:
print(a, emil, a + emil)

TypeError: can only concatenate str (not "int") to str

In [91]:
#print(sm, type(sm))
sm = 10
print(sm, type(sm))
sm = 'emil'
print(sm, type(sm))

10 <class 'int'>
emil <class 'str'>

In [16]:
print(a[-1])

c

In [17]:
a = 'student'
print(len(a))

7

In [18]:
print(a[7])

IndexError: string index out of range

In [28]:
a = 'studentbek'
print(a[len(a)/2])
#print('last character = ', a[len(a) - 1])

TypeError: string indices must be integers, not 'float'

In [31]:
print( 11 / 2, 11 // 2, int(11 / 2))

5.5 5 5

In [35]:
print(round(10.50))

10

In [39]:
if 10 < 2:
 print('pravilno')
else:
    a = 10
    print('x' * 10)

xxxxxxxxxx

In [44]:
student1 = 10
student2 = 10
student3 = 100

r = (student1 + student2 + student3) / 3

if r >= 70:
    print('horosho')
else:
    print('ploho')

print(r)

ploho
40.0

In [84]:
# proveryayem summu studentov
s1, s2, s3, s4, s5, s6, s7, s8, s9, s10 = 1, 1, 1, 1, 1, 1, 1, -10, 0, 0
summa = s1 + s2 + s3 + s4 + s5 + s6 + s7 + s8 + s9 + s10
print('summa = ', summa)
if s1 > 1 or s2 > 1 or s3 > 1 or s4 > 1 or s5 > 1 or s6 > 1 or s7 > 1 or s8 > 1 or s9 > 1 or s10 > 1:
    print('julnichuyut odin ili bolshe studentov pdnyal(i) dve ruki')
elif summa > 10:
    print('julnichuyut')
elif summa == 10:
    print('No exam')
elif summa < 10 and summa >= 8:
    print('exam is tomorrow')
elif summa >= 5 and summa < 8:
    print('exam is day after tomorrow')
else: 
    print('exam is today')

summa =  -3
exam is today

In [92]:
# napishi programmu kotoriy proverit s odin ili nol
s = -1
if s >= 0 and s <= 1:
    print('normal')
elif s < 0:
    print('not normal')


## secon version
if s == 1 or s == 0:
    print('normal')
else:
    print('not normal')

not normal
not normal

In [102]:
def y(p, x): 
    return p * p + 5 - p*x

In [103]:
print( 3 * 3 + 5 - 3)
print( 10 * 10 + 5 - 10)
print( 200 * 200 + 5 - 200)

11
95
39805

In [107]:
def isFirstMinimum(s1, s2, s3, s4):
    if s1 <= s2 and s1 <= s3 and s1 <= s4:
        return True
    else:
        return False


def getMin2(s1, s2, s3, s4):
    if s1 >= s2 and s1 >= s3 and s1 >= s4:
        print(s1)
    elif s2 > s1 and s2 > s3 and s2 > s4:
        print(s2)
    elif s3 > s1 and s3 > s2 and s3 > s4:
        print(s3)
    else:
        print(s4)


def getMinValue(s1, s2, s3, s4):
    if isFirstMinimum(s1, s2, s3, s4):
        print(s1)
    elif isFirstMinimum(s2, s1, s3, s4):
        print(s2)
    elif isFirstMinimum(s3, s1, s4, s2):
        print(s3)
    else:
        print(s4)

In [108]:
print(getMinValue(5, 7, 13, 1))

1
None

In [115]:
def myprint(s1, s2):
    print(f's1 type = {type(s1)}, {s1}, s2 type = {type(s2)}, {s2}, s1 + s2 = ', s1 + s2)

s1 = "10"
s2 = "20.2"
myprint(s1, s2)
s1 = float(s1)
s2 = float(s2)
myprint(s1, s2)

s1 type = <class 'str'>, 10, s2 type = <class 'str'>, 20.2, s1 + s2 =  1020.2
s1 type = <class 'float'>, 10.0, s2 type = <class 'float'>, 20.2, s1 + s2 =  30.2

In [120]:
def abcd(a, b):
    if a > b:
        return a
    else:
        return b

50

In [126]:
arr = [1, 2, 3, 5, 0, 6, 2]
arr[4] = 100
m = arr[0]
for i in arr: 
    if i < m:
        m = i
print(arr)
print('min value is : ', m)

[1, 2, 3, 5, 100, 6, 2]
min value is :  1

In [130]:
s = 'emil'
print(s)
s = list(s)
s[0] = 'x'
print(s)
for i in s:
    print(i)

emil
['x', 'm', 'i', 'l']
x
m
i
l

In [134]:
arr = [1, 3, 4, 9, 0, -3]
n = 0; 
c = 0
for i in arr:
    n += i
    c += 1
print('sum = ', n)
print('count = ', c)
print("average = ", n / c)

sum =  14
count =  6
average =  2.3333333333333335

In [141]:
arr = [1, 3, 4, 5, 9, 0, -3]
x = False
for p in arr:
    x = x or p == 5
print(x)

True

In [149]:
def exist(arr, t):
    for i in arr:
        if i == t:
            return True
    return False

print(exist(arr, 5))

False

In [151]:
p = 0
for i in arr:
    if i == 5:
        p += 1
if p > 0:
    print(p)
else:
    print(p)

0

In [155]:
 arr = [1, 9, 0, 2, 3, 6] 

 for index1, i in enumerate(arr):
    for index2, j in enumerate(arr):
        print(index1, i, index2, i)
        # if i + j == 18 and index1 != index2:
        #     print(i, j, True)

0 1 0 1
0 1 1 1
0 1 2 1
0 1 3 1
0 1 4 1
0 1 5 1
1 9 0 9
1 9 1 9
1 9 2 9
1 9 3 9
1 9 4 9
1 9 5 9
2 0 0 0
2 0 1 0
2 0 2 0
2 0 3 0
2 0 4 0
2 0 5 0
3 2 0 2
3 2 1 2
3 2 2 2
3 2 3 2
3 2 4 2
3 2 5 2
4 3 0 3
4 3 1 3
4 3 2 3
4 3 3 3
4 3 4 3
4 3 5 3
5 6 0 6
5 6 1 6
5 6 2 6
5 6 3 6
5 6 4 6
5 6 5 6

In [157]:
print(arr)
for x, i in enumerate(arr):
    print(x, i)

[1, 9, 0, 2, 3, 6]
0 1
1 9
2 0
3 2
4 3
5 6

In [2]:
### 11 / 09 / 2024

In [4]:
arr = [1, 2, 0, 7, 2, 1]

s = 0
for i in arr:
    s += i
print(arr)
print('summa = ', s)

[1, 2, 0, 7, 2, 1]
summa =  13

In [5]:
m = arr[0]
for i in arr:
    if m > i:
        m = i
print(arr)
print('minimum value in an array = ', m)

[1, 2, 0, 7, 2, 1]
minimum value in an array =  0

In [9]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
N = 7

n = 0
for i in arr:
    print('n = ', n, ' -> ', i)
    n += 1
    print('after n = ', n)

print(arr, N)
if n == N:
    print('vse tut')
elif n < N:
    print('ne vse tut, missin = ', N - n)
elif n > N:
    print('bolshe ludey na = ', n - N)

n =  0  ->  Atai
after n =  1
n =  1  ->  Alim
after n =  2
n =  2  ->  Tynchtyk
after n =  3
n =  3  ->  Nur
after n =  4
n =  4  ->  Samat
after n =  5
n =  5  ->  Atabek
after n =  6
['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek'] 7
ne vse tut, missin =  1

In [45]:
from random import randint
for i in range(3):
    print(i+1, ' random number = ', randint(1, 60))

1  random number =  8
2  random number =  58
3  random number =  32

In [15]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
name = 'Nurbek'
jokeyy = False

for imya in arr:
    jokeyy = jokeyy or name == imya

print(name, ' est v massive = ', jokeyy)

result = False
for imya in arr:
    if imya == name:
        result = True
print(name, ' bar massivde = ', result)

Nurbek  est v massive =  False
Nurbek  bar massivde =  False

In [17]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
n = arr[0]
for i in arr:
    if i > n:
        n = i
print(arr)
print(n)

['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
Tynchtyk

In [19]:
arr = ['Atai', 'Atalim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']

n = arr[0]
for i in arr:
    if i < n:
        n = i
print(n)

Atabek

In [25]:
arr = ['Atai', 'Atalimba', 'Tynchtyk', 'Nur', 'Samat', 'Atabekov']
n = arr[0]
for i in arr:
    if len(i) >= len(n):
        n = i
print('longest name = ', n)

for i in arr:
    if len(i) == len(n):
        print(i)

longest name =  Atabekov
Atalimba
Tynchtyk
Atabekov

In [26]:
print([i for i in arr if len(i) == max([len(j) for j in arr])])

['Atalimba', 'Tynchtyk', 'Atabekov']

In [40]:
arr = [1, 2, 3, 5, 8, 9]

print(arr[len(arr) - 1 : :-1])

[9, 8, 5, 3, 2, 1]

In [41]:
print(arr[3:])

[5, 8, 9]

In [42]:
print(arr[:4])

[1, 2, 3, 5]

In [49]:
arr = [-1, -2, -3, -5, -10, -8, -2]
min = arr[0]
max = arr[0]
for i in arr:
    if min > i:
        min = i
    if max < i:
        max = i

print(f'min = {min}, max = {max}, difference = {max - min}')

min = -10, max = -1, difference = 9

In [51]:
arr = [1, 2, 3, 5, 5, 6, 7]
print(arr)
print(arr[:3])
print(arr[3:])

[1, 2, 3, 5, 5, 6, 7]
[1, 2, 3]
[5, 5, 6, 7]

In [58]:
arr1 = [1, 2, 3]
arr2 = [5, 4, 2]
print(arr1 + arr2)
print(arr1 + ['abc', 'def'])

[1, 2, 3, 5, 4, 2]
[1, 2, 3, 'abc', 'def']

In [61]:
arr = ['emil', 'bil', 'ait', 'kg', 1]

print(arr)
print('->'.join(arr))


1 + 5 * 2 - 3

['emil', 'bil', 'ait', 'kg', 1]

TypeError: sequence item 4: expected str instance, int found

In [28]:
def check(arr):
    for i in arr:
        print("i = ", i, end = ' -> ')
        if i % 2 == 0 and i % 2 == 1 or i % 3 == 2:
            print('Even number')
    return "ATAI"
arr = [0, 65, 86, 55, 63, 46, 87, 18, 12, 33]
target = 55

result = '0, 55'

print('v massive est chetniy sifra? ', check(arr) if check(arr) else '')
#print('v massive est chetniy sifra? ', check(arr))

res = '''
0 -> 1 -> 3 -> 8 -> Even number
10 -> v massive est chetniy sifra? ATAI
'''

i =  0 -> i =  1 -> i =  3 -> i =  8 -> Even number
i =  10 -> i =  0 -> i =  1 -> i =  3 -> i =  8 -> Even number
i =  10 -> v massive est chetniy sifra?  ATAI

In [29]:
from random import randint
print([randint(0, 100) for i in range(10)])

[0, 65, 86, 55, 63, 46, 87, 18, 12, 33]

In [24]:
from random import randint
print(randint(1, 62), randint(1, 62), randint(1, 62))

27 57 13

In [33]:
def check(arr, target):
    for x1, i in enumerate(arr):
        for x2, j in enumerate(arr):
            if i + j == target and i < j and x1 < x2:
                print(f'{i} + {j} = {target}')
    return False

arr = [0, 65, 86, 55, 63, 46, 87, 12, 18, 12, 33]
target = 30

check(arr, target)

12 + 18 = 30

False

In [34]:
def check2(arr):
    for i, v in enumerate(arr):
        if i > 0 and i < len(arr)-1 and max(arr[:i]) > v < max(arr[i+1:]):
            print(v)

arr = [0, 65, 86, 55, 63, 46, 87, 12, 18, 12, 33]
check2(arr)

55
63
46
12
18
12

In [38]:
arr = [6, 2, 1, 0, 4]
for i in enumerate(arr):
    print(i)

(0, 6)
(1, 2)
(2, 1)
(3, 0)
(4, 4)

In [44]:
def fun(x):
    return x ** 2, x ** 0.5

z, y = fun(9)

print(z)
print(y)

81
3.0

In [33]:
arr = [1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
f = arr[0]
c = 0
for i in arr:
    if f < i:
        f = i
        c = 0+1
    elif f == i:
        c += 1

print('RESULT = ', c)

RESULT =  2

In [34]:
arr = [1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
max = arr[0]
for i in arr:
    if max < i:
        max = i
count = 0
for i in arr:
    if max == i:
        count += 1
print(count)

2

In [36]:
print(arr)
s = 0
for i in arr:
    s += i
print(s)

s = 0
for i in arr[:5]:
    s += i
print(s)

s = 0
for i in arr[-5:]:
    s += i
print(s)

[1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
44
15
27

In [38]:
c = 0
for i in arr:
    if i < 0:
        c += 1
print(arr)
print('negative count = ', c)

[1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
negative count =  1

In [43]:
names = ['twix', 'sandwich', 'moloko', 'bread', 'cola', 'kolbasa']
prices = [40, 75, 90, 25, 90, 200]
kolichestvo = [10, 15, 40, 60, 20, 10]

def tsena_tovara(names, prices, tovar):
    for index, name in enumerate(names):
        if name == tovar:
            return prices[index] 

def kancha_boldu(moi_tovari, moi_kolichestvo):
    s = 0
    text = ''
    for ati, shtuk in zip(moi_tovari, moi_kolichestvo):
        x = tsena_tovara(names, prices, ati) * shtuk
        text += f'{ati} x {shtuk} -> {x}\n'
        s += x
    text += '_'*20
    return text + f'\nTotal : {s}'


moi_tovari = ["moloko", "bread", "kolbasa"]
moi_kolichestvo = [1, 2, 1]

check = kancha_boldu(moi_tovari, moi_kolichestvo)
print(check)

moloko x 1 -> 90
bread x 2 -> 50
kolbasa x 1 -> 200
____________________
Total : 340

In [57]:
from time import time
arr = [52, 8, 7, 72, 8, 6, 3, 1, 9, 0]*20000
res = []

def mysort(arr):
    # for i in range(len(arr)):
    #     max = arr[0]
    #     for j in arr:
    #         if max > j:
    #             max = j
    #     res.append(max)
    #     arr.remove(max)
    return sorted(arr)

basinda = time()
x = mysort(arr)
ayagi = time()
print('ketken ubakit = ', ayagi - basinda)
print(len(x))

ketken ubakit =  0.009049177169799805
200000

In [62]:
names = ["atai", 'sultan', 'emir', 'gazi']
amount = [1000, 2000, 3000, 4000]

def max_amount_person():
    max = arr[0]
    name = None
    for x, i in enumerate(amount):
        if i > max:
            max = i
            name = names[x]
    return name

print('max amount person is = ', max_amount_person())

max amount person is =  gazi

In [74]:
x = 0
print('x = ', x)

x =  0

In [73]:
def mysum():
    x = 0
    for i in amount:
        x += i
    return x
print(amount)
print('sum = ', mysum())

[1000, 2000, 3000, 4000]
sum =  20000

In [75]:
def high_amount_clients(threshold):
    res = []
    
    for x, name in zip(amount, names):
        if x >= threshold: # > -> -5
            res.append(name)
    return res

names = ["atai", 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
amount = [1000,  2000,      3000,  4000,    1000,   2000,   5000]

print(names)
print(amount)
print(high_amount_clients(3000))

['atai', 'sultan', 'emir', 'gazi']
[1000, 2000, 3000, 4000]
['emir', 'gazi']

In [78]:
names = ["atai", 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
amount = [1000,  2000,      3000,  4000,    1000,   2000,   5000]

def get_higher_amount(higher_amount):
    for i, n in enumerate(amount):
        if n < higher_amount:
            names.pop(i)
            amount.pop(i)
    return names

print(names)
print(amount)
print(get_higher_amount(3000))

['atai', 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
[1000, 2000, 3000, 4000, 1000, 2000, 5000]
['sultan', 'emir', 'gazi', 'aziz', 'ulan']

In [87]:
names = ["atai", 'sultan',  'gazi', 'bars']
amount = [1000,  2000,       3000,  4000]
print('Before')
print(list(zip(names, amount)))


def findindex(name):
    for i, v in enumerate(names):
        if v == name:
            return i
        
def transfer(a, b, x, h):
    print(f'Transfering from "{a}" to "{b}" amount of {x}')
    h.append((a, b, x))
    ai, bi = findindex(a), findindex(b)
    amount[ai], amount[bi] = amount[ai] - x, amount[bi] + x

history = []
for i in range(10):
    transfer("gazi", "bars", 200, history)
print('\nLatest')
print(list(zip(names, amount)))
print('History')
print(history)

Before
[('atai', 1000), ('sultan', 2000), ('gazi', 3000), ('bars', 4000)]
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200

Latest
[('atai', 1000), ('sultan', 2000), ('gazi', 1000), ('bars', 6000)]
History
[('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200)]

In [88]:
history

[('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200)]

In [89]:
for a, b, x in history:
    transfer(b, a, x, [])
history = []

Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200

In [85]:
print(list(zip(names, amount)))

[('atai', 1000), ('sultan', 2000), ('gazi', 3000), ('bars', 4000)]

[]

In [106]:
student = ["atai", "emil", "aman", "gulnur"]
knigi = [
    [], 
    ["potter", "jamilia", "semetey"],
    ["sary", 'mary', 'semetey'],
    ['manas', 'semetey', 'seytek']
]
books = ['potter', 'jamilia', 'semetey', 'sary', 'mary', 'manas', 'seytek']
author = ['emil',  'aytmatov', 'aytmatov', 'emil', 'ulan', 'ulan', 'aytmatov']
quantity = [5,       6,          7,         8,     3,      8,       2]
history = []

def adjustBook(name, book, flag):
    history.append((name, book, flag))
    for i, n in enumerate(student):
        if n == name:
            if flag == 'kosh':
                knigi[i].append(book)
                quantity[i] -= 1
            elif flag == 'ochur':
                knigi[i].remove(book)
                quantity[i] += 1

adjustBook('emil', 'semetey', 'ochur')
adjustBook('atai', 'semetey', 'ochur')
adjustBook('aman', 'semetey', 'ochur')

# skolko u Amana
print('Skolko = ', [len(knigi[i]) for i, name in enumerate(student) if name == 'gulnur'])
print('Kakie knigi = ', [knigi[i] for i, name in enumerate(student) if name == 'gulnur'])
print('skolko studentov = ', sum([1 for x in knigi for kniga in x if kniga == 'semetey']))
print('skolko knig u avtora = ', sum([q for q, a in zip(quantity, author) if a == 'aytmatov']))
print('kto vzyal = ', [n for n, k in zip(student, knigi) if 'semetey' in k])

ValueError: list.remove(x): x not in list

In [108]:
print('Skolko1 = ', [len(knigi[i]) for i, name in enumerate(student) if name == 'gulnur'])

def skolko(param):
    v = []
    for i, name in enumerate(student):
        if name == param:
            v.append(len(knigi[i]))
    return v

print('skolko2 = ', skolko('gulnur'))

Skolko1 =  [3]
skolko2 =  [3]

In [121]:
print('Kakie knigi = ', [i for i, name in zip(knigi, student) if name == 'gulnur'])

def kakie(param):
    v = []
    for k, name in zip(knigi, student):
        if name == param:
            v += k
    return v

print('kakie knigi2 = ', kakie('gulnur'))

Kakie knigi =  [['manas', 'semetey', 'seytek']]
kakie knigi2 =  ['manas', 'semetey', 'seytek']

In [114]:
param = 'semetey'

print('skolko studentov = ', sum([1 for x in knigi for kniga in x if kniga == param]))
def summa(param):
    v = 0
    for x in knigi:
        for kniga in x:
            if kniga == param:
                v += 1
    return v

print('skolko studentov2 = ', summa(param))


count = 0
for i in knigi:
    count += param in i
print('skolko studentov3 = ', count)

skolko studentov =  2
skolko studentov2 =  2
skolko studentov3 =  2

In [124]:
print(author)
print(quantity)
print(list(zip(quantity, author)))

['emil', 'aytmatov', 'aytmatov', 'emil', 'ulan', 'ulan', 'aytmatov']
[5, 7, 7, 8, 3, 8, 2]
[(5, 'emil'), (7, 'aytmatov'), (7, 'aytmatov'), (8, 'emil'), (3, 'ulan'), (8, 'ulan'), (2, 'aytmatov')]

In [133]:
print('skolko knig u avtora = ', sum([q for q, a in zip(quantity, author) if a == 'aytmatov']))


def skolko_knig_u_avtora(param):
    s = 0
    for quant, auth in zip(quantity, author):
        if auth == param:
            s += quant
    return s

print('skolko knig u avtora2 = ', skolko_knig_u_avtora('aytmato'))

skolko knig u avtora =  16
skolko knig u avtora2 =  0

In [137]:
shtrih = ['0225', '1116', '9394', '3218', '9678', '6869']
tovar = ['ruchka', 'laptop', 'chay', 'majito', 'sprite', 'rezinka']
tsena = [50, 20000, 50, 65, 55, 20]


def kassoviy_check(karzinka):
    total = 0
    result = 'KASSOVIY CHECK\n_______________\n'
    for k in karzinka.split(','):
        for sh, to, ts in zip(shtrih, tovar, tsena):
            if k == sh:
                result += to + ' -> ' + str(ts) + '\n'
                total += ts
    return result + '\n___________\nTOTAL : ' + str(total)
 


karzinka = '0225,9394,1116'
print(kassoviy_check(karzinka))

KASSOVIY CHECK
_______________
ruchka -> 50
chay -> 50
laptop -> 20000

___________
TOTAL : 20100

In [1]:
students = '''
Абдырайымова Насипа Нурбековна
Айдралиева Сальма Данияровна
Алмазбек уулу Ынтымак
Арстаналиева Бермет Кубанычбековна
Асаналиев Актан Алмазович
Асанова Элеонора Маратовна
Аттокуров Зарылбек Замирбекович
Ва-ахунов Данияль Юнусович
Дилдебекова Назима Максатбековна
Исаков Умар Таалайбекович
Ишенбаев Азим Адылбекович
Калыбаев Жумабек Мунарбекович
Кеңешов Актанбек Урустамбекович
Курбанбекова Алиенора Замирбековна
Маматжанов Алымбек Амангелдиевич
Мамбетов Атай Бакытович
Русланов Эрбол Русланович
Рысбеков Аламан Сагындыкович
Таштанов Алтынбек Абдиллаевич
Тологонова Аяна Кубатбековна
Туратбаев Аятулла Мидинович
Черикова Аяна Мирлановна
Шарипов Акбар Эрнисович
Ысманов Бекболсун Асылбекович
Абдыбеков Төлөнбек Асанакунович
Абдыманапов Алмаз Чынгызович
Абибиллаев Нуртилек Алтынбекович
Анарбеков Аман Уланович
Балабеков Ерлан Рахымович
Дуйшенов Кутман Эгембердиевич
Ералиев Шергазы Өткүрбекович
Жоодонбек кызы Жайнагул
Исмаилов Нурдин Рысбекович
Калмаматов Нурмухаммед Калмаматович
Капаров Кубаныч Капарович
Каримов Данияр Гуламидинович
Кенжетаев Дияз Нуралыевич
Матаев Талант Бактыбекович
Мелисов Кутман Жыргалбекович
Нурджанов Исмаилбек Бакытович
Оңолбекова Гүлнура Октябровна
Тагаева Адина Нарынбековна
Туташбаев Алмаз Адылбекович
Тыныбеков Жанышбек Нурбекович
Уметбаев Барсбек Мирланбекович
Жылдызбеков Байстан Жылдызбекович
Керимов Бекболсун Орозалиевич
Умаров Азамжан Азизбекович
Бактыгулова Элина Исламбековна
Рахматулин Тынчтыкбек Жамилович
Айнакулов Даир
Бейшалиев Акназар
Сейдакматов Алимхан
Айтиев Атабек
Нургалиев Нуржигит Уланович
Сейитбеков Омурбек
Маматжанов Актан
Насиридинова Сумая Дастанбековна
Мухаммад'''

In [7]:
from random import shuffle
arr = students.split('\n')
shuffle(arr)
for i, s in enumerate(arr):
    print(i+1, s)

1 Мамбетов Атай Бакытович
2 Рысбеков Аламан Сагындыкович
3 Ералиев Шергазы Өткүрбекович
4 Мелисов Кутман Жыргалбекович
5 Тыныбеков Жанышбек Нурбекович
6 Ва-ахунов Данияль Юнусович
7 Дуйшенов Кутман Эгембердиевич
8 Жылдызбеков Байстан Жылдызбекович
9 Абдыбеков Төлөнбек Асанакунович
10 Оңолбекова Гүлнура Октябровна
11 Туташбаев Алмаз Адылбекович
12 Алмазбек уулу Ынтымак
13 Шарипов Акбар Эрнисович
14 Айдралиева Сальма Данияровна
15 Айтиев Атабек
16 Рахматулин Тынчтыкбек Жамилович
17 Маматжанов Алымбек Амангелдиевич
18 Тологонова Аяна Кубатбековна
19 Ысманов Бекболсун Асылбекович
20 Кенжетаев Дияз Нуралыевич
21 Абибиллаев Нуртилек Алтынбекович
22 Балабеков Ерлан Рахымович
23 Таштанов Алтынбек Абдиллаевич
24 Керимов Бекболсун Орозалиевич
25 Туратбаев Аятулла Мидинович
26 Капаров Кубаныч Капарович
27 Тагаева Адина Нарынбековна
28 Жоодонбек кызы Жайнагул
29 Маматжанов Актан
30 Абдыманапов Алмаз Чынгызович
31 Умаров Азамжан Азизбекович
32 Калмаматов Нурмухаммед Калмаматович
33 Абдырайымова Насипа Нурбековна
34 Калыбаев Жумабек Мунарбекович
35 Сейитбеков Омурбек
36
37 Нурджанов Исмаилбек Бакытович
38 Асаналиев Актан Алмазович
39 Курбанбекова Алиенора Замирбековна
40 Дилдебекова Назима Максатбековна
41 Каримов Данияр Гуламидинович
42 Арстаналиева Бермет Кубанычбековна
43 Кеңешов Актанбек Урустамбекович
44 Айнакулов Даир
45 Бейшалиев Акназар
46 Матаев Талант Бактыбекович
47 Аттокуров Зарылбек Замирбекович
48 Асанова Элеонора Маратовна
49 Мухаммад
50 Ишенбаев Азим Адылбекович
51 Анарбеков Аман Уланович
52 Бактыгулова Элина Исламбековна
53 Русланов Эрбол Русланович
54 Уметбаев Барсбек Мирланбекович
55 Насиридинова Сумая Дастанбековна
56 Сейдакматов Алимхан
57 Исмаилов Нурдин Рысбекович
58 Исаков Умар Таалайбекович
59 Нургалиев Нуржигит Уланович
60 Черикова Аяна Мирлановна

In [61]:
seat = []
price = []
names = []

for i in range(1, 33):
    for c in 'ABCDEF':
        seat.append(str(i) + c)
        if i in [5, 6]:
            price.append(5000)
        elif c in 'AF':
            price.append(4000)
        else:
            price.append(3500)
        names.append(None)

print(seat)
print(names)
print(price)

['1A', '1B', '1C', '1D', '1E', '1F', '2A', '2B', '2C', '2D', '2E', '2F', '3A', '3B', '3C', '3D', '3E', '3F', '4A', '4B', '4C', '4D', '4E', '4F', '5A', '5B', '5C', '5D', '5E', '5F', '6A', '6B', '6C', '6D', '6E', '6F', '7A', '7B', '7C', '7D', '7E', '7F', '8A', '8B', '8C', '8D', '8E', '8F', '9A', '9B', '9C', '9D', '9E', '9F', '10A', '10B', '10C', '10D', '10E', '10F', '11A', '11B', '11C', '11D', '11E', '11F', '12A', '12B', '12C', '12D', '12E', '12F', '13A', '13B', '13C', '13D', '13E', '13F', '14A', '14B', '14C', '14D', '14E', '14F', '15A', '15B', '15C', '15D', '15E', '15F', '16A', '16B', '16C', '16D', '16E', '16F', '17A', '17B', '17C', '17D', '17E', '17F', '18A', '18B', '18C', '18D', '18E', '18F', '19A', '19B', '19C', '19D', '19E', '19F', '20A', '20B', '20C', '20D', '20E', '20F', '21A', '21B', '21C', '21D', '21E', '21F', '22A', '22B', '22C', '22D', '22E', '22F', '23A', '23B', '23C', '23D', '23E', '23F', '24A', '24B', '24C', '24D', '24E', '24F', '25A', '25B', '25C', '25D', '25E', '25F', '26A', '26B', '26C', '26D', '26E', '26F', '27A', '27B', '27C', '27D', '27E', '27F', '28A', '28B', '28C', '28D', '28E', '28F', '29A', '29B', '29C', '29D', '29E', '29F', '30A', '30B', '30C', '30D', '30E', '30F', '31A', '31B', '31C', '31D', '31E', '31F', '32A', '32B', '32C', '32D', '32E', '32F']
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
[4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000]

In [60]:
def print_seats():
    for s, p, n in zip(seat, price, names):
        print(s, p, n)

In [53]:
def sell_ticket(name, seat_number = None):
    if seat_number == None:
        for i in range(len(names)):
            if names[i] == None:
                names[i] = name
                return price[i]
    else:
        for i in range(len(seat)):
            if seat[i] == seat_number and names[i] == None:
                names[i] = name
                return price[i]
    return 'No available seats'

In [46]:
sell_ticket('Gulnur')
sell_ticket('Atai')
sell_ticket('Bek')

3500

In [50]:
sell_ticket('Ali K')
sell_ticket('Sultan', '22E')
print_seats()

1A 3500 Emil
1B 3500 Gulnur
1C 3500 Bek
1D 3500 Atai
1E 3500 Bek
1F 3500 Gulnur
2A 3500 Atai
2B 3500 Bek
2C 3500 Ali
2D 3500 Ali K
2E 3500 None
2F 3500 None
3A 3500 None
3B 3500 None
3C 3500 None
3D 3500 None
3E 3500 None
3F 3500 None
4A 3500 None
4B 3500 None
4C 3500 None
4D 3500 None
4E 3500 None
4F 3500 None
5A 3500 None
5B 3500 None
5C 3500 None
5D 3500 None
5E 3500 None
5F 3500 None
6A 3500 None
6B 3500 None
6C 3500 None
6D 3500 None
6E 3500 None
6F 3500 None
7A 3500 None
7B 3500 None
7C 3500 None
7D 3500 None
7E 3500 None
7F 3500 None
8A 3500 None
8B 3500 None
8C 3500 None
8D 3500 None
8E 3500 None
8F 3500 None
9A 3500 None
9B 3500 None
9C 3500 None
9D 3500 None
9E 3500 None
9F 3500 None
10A 3500 None
10B 3500 None
10C 3500 None
10D 3500 None
10E 3500 None
10F 3500 None
11A 3500 None
11B 3500 None
11C 3500 None
11D 3500 None
11E 3500 None
11F 3500 None
12A 3500 None
12B 3500 None
12C 3500 None
12D 3500 None
12E 3500 None
12F 3500 None
13A 3500 None
13B 3500 None
13C 3500 None
13D 3500 None
13E 3500 None
13F 3500 None
14A 3500 None
14B 3500 None
14C 3500 None
14D 3500 None
14E 3500 None
14F 3500 None
15A 3500 None
15B 3500 None
15C 3500 None
15D 3500 None
15E 3500 None
15F 3500 None
16A 3500 None
16B 3500 None
16C 3500 None
16D 3500 None
16E 3500 None
16F 3500 None
17A 3500 None
17B 3500 None
17C 3500 None
17D 3500 None
17E 3500 None
17F 3500 None
18A 3500 None
18B 3500 None
18C 3500 None
18D 3500 None
18E 3500 None
18F 3500 None
19A 3500 None
19B 3500 None
19C 3500 None
19D 3500 None
19E 3500 None
19F 3500 None
20A 3500 None
20B 3500 None
20C 3500 None
20D 3500 None
20E 3500 None
20F 3500 None
21A 3500 None
21B 3500 None
21C 3500 None
21D 3500 None
21E 3500 None
21F 3500 None
22A 3500 None
22B 3500 None
22C 3500 None
22D 3500 None
22E 3500 Sultan
22F 3500 None
23A 3500 None
23B 3500 None
23C 3500 None
23D 3500 None
23E 3500 None
23F 3500 None
24A 3500 None
24B 3500 None
24C 3500 None
24D 3500 None
24E 3500 None
24F 3500 None
25A 3500 None
25B 3500 None
25C 3500 None
25D 3500 None
25E 3500 None
25F 3500 None
26A 3500 None
26B 3500 None
26C 3500 None
26D 3500 None
26E 3500 None
26F 3500 None
27A 3500 None
27B 3500 None
27C 3500 None
27D 3500 None
27E 3500 None
27F 3500 None
28A 3500 None
28B 3500 None
28C 3500 None
28D 3500 None
28E 3500 None
28F 3500 None
29A 3500 None
29B 3500 None
29C 3500 None
29D 3500 None
29E 3500 None
29F 3500 None
30A 3500 None
30B 3500 None
30C 3500 None
30D 3500 None
30E 3500 None
30F 3500 None
31A 3500 None
31B 3500 None
31C 3500 None
31D 3500 None
31E 3500 None
31F 3500 None
32A 3500 None
32B 3500 None
32C 3500 None
32D 3500 None
32E 3500 None
32F 3500 None

In [54]:
sell_ticket('Aidai', '22E')

'No available seats'

In [21]:
def find_name(name):
    for i, n in enumerate(names):
        if n == name:
            return seat[i]
    return 'adnay adam jok'

In [26]:
print('Seat number = ', find_name('Emil'))

Seat number =  adnay adam jok

In [31]:
def remove_passenger(name):
    for i, n in enumerate(names):
        if n == name:
            names[i] = None
            return seat[i]
    return 'Minday adam jok eken eyyy'

In [32]:
print('Removing Atai from seat = ', remove_passenger('Atai'))
print('Removing Gulnur from seat = ', remove_passenger('Gulnur'))

Removing Atai from seat =  1B
Removing Gulnur from seat =  1A

In [33]:
print('Removing Emil from seat = ',remove_passenger('Emil'))

Removing Emil from seat =  Minday adam jok eken eyyy

In [41]:
def print_seats():
    for s, p, n in zip(seat, price, names):
        print(s, p, n)

def availabe_seats():
    count = 0
    for s, n, p in zip(seat, names, price):
        if n == None:
            print(s, n, p)
            count += 1
    print('Total available seats = ', count)

In [42]:
availabe_seats()

1B None 3500
1D None 3500
1E None 3500
1F None 3500
2A None 3500
2B None 3500
2C None 3500
2D None 3500
2E None 3500
2F None 3500
3A None 3500
3B None 3500
3C None 3500
3D None 3500
3E None 3500
3F None 3500
4A None 3500
4B None 3500
4C None 3500
4D None 3500
4E None 3500
4F None 3500
5A None 3500
5B None 3500
5C None 3500
5D None 3500
5E None 3500
5F None 3500
6A None 3500
6B None 3500
6C None 3500
6D None 3500
6E None 3500
6F None 3500
7A None 3500
7B None 3500
7C None 3500
7D None 3500
7E None 3500
7F None 3500
8A None 3500
8B None 3500
8C None 3500
8D None 3500
8E None 3500
8F None 3500
9A None 3500
9B None 3500
9C None 3500
9D None 3500
9E None 3500
9F None 3500
10A None 3500
10B None 3500
10C None 3500
10D None 3500
10E None 3500
10F None 3500
11A None 3500
11B None 3500
11C None 3500
11D None 3500
11E None 3500
11F None 3500
12A None 3500
12B None 3500
12C None 3500
12D None 3500
12E None 3500
12F None 3500
13A None 3500
13B None 3500
13C None 3500
13D None 3500
13E None 3500
13F None 3500
14A None 3500
14B None 3500
14C None 3500
14D None 3500
14E None 3500
14F None 3500
15A None 3500
15B None 3500
15C None 3500
15D None 3500
15E None 3500
15F None 3500
16A None 3500
16B None 3500
16C None 3500
16D None 3500
16E None 3500
16F None 3500
17A None 3500
17B None 3500
17C None 3500
17D None 3500
17E None 3500
17F None 3500
18A None 3500
18B None 3500
18C None 3500
18D None 3500
18E None 3500
18F None 3500
19A None 3500
19B None 3500
19C None 3500
19D None 3500
19E None 3500
19F None 3500
20A None 3500
20B None 3500
20C None 3500
20D None 3500
20E None 3500
20F None 3500
21A None 3500
21B None 3500
21C None 3500
21D None 3500
21E None 3500
21F None 3500
22A None 3500
22B None 3500
22C None 3500
22D None 3500
22E None 3500
22F None 3500
23A None 3500
23B None 3500
23C None 3500
23D None 3500
23E None 3500
23F None 3500
24A None 3500
24B None 3500
24C None 3500
24D None 3500
24E None 3500
24F None 3500
25A None 3500
25B None 3500
25C None 3500
25D None 3500
25E None 3500
25F None 3500
26A None 3500
26B None 3500
26C None 3500
26D None 3500
26E None 3500
26F None 3500
27A None 3500
27B None 3500
27C None 3500
27D None 3500
27E None 3500
27F None 3500
28A None 3500
28B None 3500
28C None 3500
28D None 3500
28E None 3500
28F None 3500
29A None 3500
29B None 3500
29C None 3500
29D None 3500
29E None 3500
29F None 3500
30A None 3500
30B None 3500
30C None 3500
30D None 3500
30E None 3500
30F None 3500
31A None 3500
31B None 3500
31C None 3500
31D None 3500
31E None 3500
31F None 3500
32A None 3500
32B None 3500
32C None 3500
32D None 3500
32E None 3500
32F None 3500
Total available seats =  190

In [55]:
def power(x, n = 2):
    return x ** n

In [58]:
print(power(3))
print(power(3, 4))

9
81

In [65]:
def calculate(b, n, s):
    b = [b]
    m = []
    for i in range(12):
        b.append(b[-1]*(100+n)/100*(s/100) + sum(m))
        m.append(b[-2]*(100+n)/100*(100-s)/100//12)
    final = b[-1]+sum([(i+1)*s for i, s in enumerate(m)])
    final = int(final)
    print('Beginning = ', b[0])
    print('End = ', final)
    print('Difference = ', final - b[0])

In [69]:
calculate(100000, 25, 60)

Beginning =  100000
End =  291167
Difference =  191167

In [70]:
calculate(100000, 50, 10)

Beginning =  100000
End =  273012
Difference =  173012

In [79]:
arr = [1, 2, 3, 5]

d = {"emil": 55556, 'xyz':782, 55:'ulan', (66,-11):9999, -22:['emil', 'bilgazyev', 66]}

In [80]:
print(d[(66,-11)])
print(d[-22])

9999
['emil', 'bilgazyev', 66]

In [85]:
d = {
     1: 5, 7: 99, 
     ('emil', 44, 55):'wazzup2'
     }
d[('emil', 44, 55)]

'wazzup2'

In [86]:

arr = list(range(1000000))

In [98]:

from random import shuffle
shuffle(arr)
d = {}
for i in arr:
    d[i] = True

In [97]:
from time import time

def find(arr, n):
    for i in arr:
        if i == n:
            return True
    return False


n = [777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]*10
print(n)

start = time()
for x in n:
    find(arr, x)
end = time()

print('skolko vremnya ushlo = ', end - start)

[777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]
skolko vremnya ushlo =  5.662917613983154

In [101]:
d[99999999]

KeyError: 99999999

In [103]:
n = [777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]*10
print(n)

start = time()
for x in n:
    res = x in d
end = time()

print('skolko vremnya ushlo = ', end - start)

[777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]
skolko vremnya ushlo =  0.0

In [104]:
d ={'0vU96xu3-3U': {
    'url': 'my link',
    'age':56,
    'creator':'emil', 
    'thumbsup': 50, 
    'thumbsdown': 90
}}

In [106]:
d['0vU96xu3-3U']['thumbsup'] += 1000

In [107]:
d['0vU96xu3-3U']['thumbsup']

1050

In [115]:
from random import randint

arr = [randint(0, 10) for i in range(10)]

print(arr)

[2, 3, 9, 7, 3, 3, 6, 9, 5, 3]

In [110]:
xarr = [78, 78, 78, 78]
count = 0
for i in xarr:
    for j in xarr:
        if i == j:
            count += 1

print(count)

16

In [116]:
print(arr)
d = {}
for i in arr:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1

for k, v in d.items():
    if v > 1:
        print('key =',  k, ', value = ', v)

[2, 3, 9, 7, 3, 3, 6, 9, 5, 3]
key = 3 , value =  4
key = 9 , value =  2

In [124]:
d = {}
for i in arr:
    d[i] = d.get(i, 0)+1

print(arr)
print([(k,v) for k, v in d.items() if v > 1])

[2, 3, 9, 7, 3, 3, 6, 9, 5, 3]
[(3, 4), (9, 2)]

In [120]:
d.get(3, 'netu')

4

In [139]:
items = {"cola": 50, "shoro":85, "mars":40, "sprite":60, "nan":25, "burger":150, "ruchka":40}
names = {
    "imena":{},
    "summa":{}
}

def kariz(name, item):
    if item in items:
        names['imena'][name] = names['imena'].get(name, []) + [item] 
        names['summa'][name] = names['summa'].get(name, 0) + items[item]
    print(names)

def emneler_aldi(name):
    return names["imena"].get(name, 'netu tokogo klienta v baze')

def kancha_kariz(name):
    return names['summa'].get(name, 'netu tokogo klienta v baze')

kariz("Bek", "cola")
kariz("Bek", "shoro")
kariz("emil", "shoro")

name = 'Bek'
print(name, ' kancha kariz = ', kancha_kariz(name))
print(name, ' emnelerdi aldi = ', emneler_aldi(name))

{'imena': {'Bek': ['cola']}, 'summa': {'Bek': 50}}
{'imena': {'Bek': ['cola', 'shoro']}, 'summa': {'Bek': 135}}
{'imena': {'Bek': ['cola', 'shoro'], 'emil': ['shoro']}, 'summa': {'Bek': 135, 'emil': 85}}
Bek  kancha kariz =  135
Bek  emnelerdi aldi =  ['cola', 'shoro']

In [128]:
names = {
    "tovari": {
        "emil":["cola", 'shoro'], 
        "bek":["mars"]
    }, 
    'summa':{
        'emil':135,
        'bek':40
    }
}

if 'sultan' in names['summa']:
    print(names['summa']['sultan'])
else:
    print('tokogo netu')

tokogo netu

In [7]:
names = {
    "emil":{
        "quizes":['q1', 'q2', 'm'],
        "grades":[60, 70, 80]
    },
    "aziz":{
        "quizes":['q1', 'final'],
        "grades":[80, 20]
    }
}

def addGrade(name, grade, quiz):
    if name not in names:
        names[name] = {
            "quizes":[], 
            "grades":[]
        }
    names[name]['quizes'].append(quiz)
    names[name]['grades'].append(grade)


def getGrades(name):
    if name in names:
        return list(zip(names[name]['quizes'], names[name]['grades']))
    else:
        return name + " does not exist in the database"

def getAll():
    arr2 = []
    for i in names:
        arr = names[i]['grades']
        avg = sum(arr) / len(arr)
        arr2.append((i, avg))
    return arr2

In [8]:
arr1 = [1, 2, 3]
arr2 = [8, 4, 2]

print(list(zip(arr1, arr2)))

[(1, 8), (2, 4), (3, 2)]

In [9]:
getAll()

[('emil', 70.0), ('aziz', 50.0)]

In [10]:
getGrades('aziz')

[('q1', 80), ('final', 20)]

In [13]:
names = {
}

def addGrade(name, quiz, grade):
    if name not in names:
        names[name] = {'quizes':[], 'grades':[]}
    names[name]['grades'].append(grade)
    names[name]['quizes'].append(quiz)

def getGrades(name):
    if name in names:
        return list(zip(names[name]['grades'], names[name]['quizes']))
    else:
        return name + 'netu takogo uchenika'

def getAverage(name):
    text = f'Grades for {name} \n\n'
    x = getGrades(name)
    sm, cnt = 0, 0
    for i, j in x:
        text += f'{i} -> {j}\n'
        sm += int(j)
        cnt += 1
    text += f'\n\n Average: {sm / cnt}'


def getAll():
    arr2 = []
    for i in names:
        arr = names[i]['grades']
        avg = sum(arr) / len(arr)
        arr2.append((i,avg))
    return arr2


addGrade('nurti','quiz1', 60)
addGrade('alym','quiz1', 40)
addGrade('nurti','quiz2', 50)
addGrade('alym','quiz2', 60)
addGrade('nurti','quiz3', 30)
addGrade('alym','quiz3', 70)

# getGrades('nurti')
# getAverage('nurti')
getAll()

[('nurti', 46.666666666666664), ('alym', 56.666666666666664)]

In [ ]:
names = {
    "name" : [],
    "sid" : []
}

class_names = {
    "cid" : [],
    "class_name": []
}

grades = {
    "sid": [],
    "cid": [],
    "grade": []
}

def get_by_id(table, id, field_from, field_val):
    for inx, value in enumerate(table[field_from]):
        if value == id:
            return table[field_val][inx]

from collections import defaultdict
taken_table = defaultdict(int)
for sid, cid, grade in zip(grades["sid"], grades["cid"], grades["grade"]):
    taken_table[(sid, cid)] += 1

arr =  []
for (sid, cid), taken_count in taken_table.items():
    student_name = get_by_id(names, sid, "sid", "name")
    class_name = get_by_id(class_names, cid, "cid", "class_name")
    arr.append((taken_count, student_name, class_name))

print(arr)
print(max(arr))

In [1]:
def find_clients_by_date_range(salon, start_date, end_date):
    result = []
    for d in salon:
        if start_date <= d['date'] <= end_date:
            result.append(d)
    return result

In [2]:
salon = [
    {'date': '2024-01-08'},
    {'date': '2022-03-15'},
    {'date': '2023-08-23'},
    {'date': '2024-07-08'},
    {'date': '2022-06-30'},
    {'date': '2023-04-23'},
    {'date': '2024-01-15'},
    {'date': '2024-02-16'},
    {'date': '2022-03-17'},
    {'date': '2022-04-01'},
    {'date': '2023-06-08'}
]

In [3]:
find_clients_by_date_range(salon, '2023-01-01', '2024-12-30')

[{'date': '2024-01-08'},
 {'date': '2023-08-23'},
 {'date': '2024-07-08'},
 {'date': '2023-04-23'},
 {'date': '2024-01-15'},
 {'date': '2024-02-16'},
 {'date': '2023-06-08'}]