In [2]:
a = 10
print('a = ', a)

a =  10

In [3]:
a = 'emil'
b = 10
print(a * b)

emilemilemilemilemilemilemilemilemilemil

In [4]:
print(b * a)

emilemilemilemilemilemilemilemilemilemil

In [5]:
emil = 10
emil0 = 20

In [6]:
print('emil')
#print(emil + emil2)

emil

In [7]:
print(emil + emil2)

NameError: name 'emil2' is not defined

In [8]:
print(b + emil)

20

In [9]:
a

'emil'

In [10]:
emil

10

In [11]:
print(a, emil, a + emil)

TypeError: can only concatenate str (not "int") to str

In [91]:
#print(sm, type(sm))
sm = 10
print(sm, type(sm))
sm = 'emil'
print(sm, type(sm))

10 <class 'int'>
emil <class 'str'>

In [16]:
print(a[-1])

c

In [17]:
a = 'student'
print(len(a))

7

In [18]:
print(a[7])

IndexError: string index out of range

In [28]:
a = 'studentbek'
print(a[len(a)/2])
#print('last character = ', a[len(a) - 1])

TypeError: string indices must be integers, not 'float'

In [31]:
print( 11 / 2, 11 // 2, int(11 / 2))

5.5 5 5

In [35]:
print(round(10.50))

10

In [39]:
if 10 < 2:
 print('pravilno')
else:
    a = 10
    print('x' * 10)

xxxxxxxxxx

In [44]:
student1 = 10
student2 = 10
student3 = 100

r = (student1 + student2 + student3) / 3

if r >= 70:
    print('horosho')
else:
    print('ploho')

print(r)

ploho
40.0

In [84]:
# proveryayem summu studentov
s1, s2, s3, s4, s5, s6, s7, s8, s9, s10 = 1, 1, 1, 1, 1, 1, 1, -10, 0, 0
summa = s1 + s2 + s3 + s4 + s5 + s6 + s7 + s8 + s9 + s10
print('summa = ', summa)
if s1 > 1 or s2 > 1 or s3 > 1 or s4 > 1 or s5 > 1 or s6 > 1 or s7 > 1 or s8 > 1 or s9 > 1 or s10 > 1:
    print('julnichuyut odin ili bolshe studentov pdnyal(i) dve ruki')
elif summa > 10:
    print('julnichuyut')
elif summa == 10:
    print('No exam')
elif summa < 10 and summa >= 8:
    print('exam is tomorrow')
elif summa >= 5 and summa < 8:
    print('exam is day after tomorrow')
else: 
    print('exam is today')

summa =  -3
exam is today

In [92]:
# napishi programmu kotoriy proverit s odin ili nol
s = -1
if s >= 0 and s <= 1:
    print('normal')
elif s < 0:
    print('not normal')


## secon version
if s == 1 or s == 0:
    print('normal')
else:
    print('not normal')

not normal
not normal

In [102]:
def y(p, x): 
    return p * p + 5 - p*x

In [103]:
print( 3 * 3 + 5 - 3)
print( 10 * 10 + 5 - 10)
print( 200 * 200 + 5 - 200)

11
95
39805

In [107]:
def isFirstMinimum(s1, s2, s3, s4):
    if s1 <= s2 and s1 <= s3 and s1 <= s4:
        return True
    else:
        return False


def getMin2(s1, s2, s3, s4):
    if s1 >= s2 and s1 >= s3 and s1 >= s4:
        print(s1)
    elif s2 > s1 and s2 > s3 and s2 > s4:
        print(s2)
    elif s3 > s1 and s3 > s2 and s3 > s4:
        print(s3)
    else:
        print(s4)


def getMinValue(s1, s2, s3, s4):
    if isFirstMinimum(s1, s2, s3, s4):
        print(s1)
    elif isFirstMinimum(s2, s1, s3, s4):
        print(s2)
    elif isFirstMinimum(s3, s1, s4, s2):
        print(s3)
    else:
        print(s4)

In [108]:
print(getMinValue(5, 7, 13, 1))

1
None

In [115]:
def myprint(s1, s2):
    print(f's1 type = {type(s1)}, {s1}, s2 type = {type(s2)}, {s2}, s1 + s2 = ', s1 + s2)

s1 = "10"
s2 = "20.2"
myprint(s1, s2)
s1 = float(s1)
s2 = float(s2)
myprint(s1, s2)

s1 type = <class 'str'>, 10, s2 type = <class 'str'>, 20.2, s1 + s2 =  1020.2
s1 type = <class 'float'>, 10.0, s2 type = <class 'float'>, 20.2, s1 + s2 =  30.2

In [120]:
def abcd(a, b):
    if a > b:
        return a
    else:
        return b

50

In [126]:
arr = [1, 2, 3, 5, 0, 6, 2]
arr[4] = 100
m = arr[0]
for i in arr: 
    if i < m:
        m = i
print(arr)
print('min value is : ', m)

[1, 2, 3, 5, 100, 6, 2]
min value is :  1

In [130]:
s = 'emil'
print(s)
s = list(s)
s[0] = 'x'
print(s)
for i in s:
    print(i)

emil
['x', 'm', 'i', 'l']
x
m
i
l

In [134]:
arr = [1, 3, 4, 9, 0, -3]
n = 0; 
c = 0
for i in arr:
    n += i
    c += 1
print('sum = ', n)
print('count = ', c)
print("average = ", n / c)

sum =  14
count =  6
average =  2.3333333333333335

In [141]:
arr = [1, 3, 4, 5, 9, 0, -3]
x = False
for p in arr:
    x = x or p == 5
print(x)

True

In [149]:
def exist(arr, t):
    for i in arr:
        if i == t:
            return True
    return False

print(exist(arr, 5))

False

In [151]:
p = 0
for i in arr:
    if i == 5:
        p += 1
if p > 0:
    print(p)
else:
    print(p)

0

In [155]:
 arr = [1, 9, 0, 2, 3, 6] 

 for index1, i in enumerate(arr):
    for index2, j in enumerate(arr):
        print(index1, i, index2, i)
        # if i + j == 18 and index1 != index2:
        #     print(i, j, True)

0 1 0 1
0 1 1 1
0 1 2 1
0 1 3 1
0 1 4 1
0 1 5 1
1 9 0 9
1 9 1 9
1 9 2 9
1 9 3 9
1 9 4 9
1 9 5 9
2 0 0 0
2 0 1 0
2 0 2 0
2 0 3 0
2 0 4 0
2 0 5 0
3 2 0 2
3 2 1 2
3 2 2 2
3 2 3 2
3 2 4 2
3 2 5 2
4 3 0 3
4 3 1 3
4 3 2 3
4 3 3 3
4 3 4 3
4 3 5 3
5 6 0 6
5 6 1 6
5 6 2 6
5 6 3 6
5 6 4 6
5 6 5 6

In [157]:
print(arr)
for x, i in enumerate(arr):
    print(x, i)

[1, 9, 0, 2, 3, 6]
0 1
1 9
2 0
3 2
4 3
5 6

In [2]:
### 11 / 09 / 2024

In [4]:
arr = [1, 2, 0, 7, 2, 1]

s = 0
for i in arr:
    s += i
print(arr)
print('summa = ', s)

[1, 2, 0, 7, 2, 1]
summa =  13

In [5]:
m = arr[0]
for i in arr:
    if m > i:
        m = i
print(arr)
print('minimum value in an array = ', m)

[1, 2, 0, 7, 2, 1]
minimum value in an array =  0

In [9]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
N = 7

n = 0
for i in arr:
    print('n = ', n, ' -> ', i)
    n += 1
    print('after n = ', n)

print(arr, N)
if n == N:
    print('vse tut')
elif n < N:
    print('ne vse tut, missin = ', N - n)
elif n > N:
    print('bolshe ludey na = ', n - N)

n =  0  ->  Atai
after n =  1
n =  1  ->  Alim
after n =  2
n =  2  ->  Tynchtyk
after n =  3
n =  3  ->  Nur
after n =  4
n =  4  ->  Samat
after n =  5
n =  5  ->  Atabek
after n =  6
['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek'] 7
ne vse tut, missin =  1

In [45]:
from random import randint
for i in range(3):
    print(i+1, ' random number = ', randint(1, 60))

1  random number =  8
2  random number =  58
3  random number =  32

In [15]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
name = 'Nurbek'
jokeyy = False

for imya in arr:
    jokeyy = jokeyy or name == imya

print(name, ' est v massive = ', jokeyy)

result = False
for imya in arr:
    if imya == name:
        result = True
print(name, ' bar massivde = ', result)

Nurbek  est v massive =  False
Nurbek  bar massivde =  False

In [17]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
n = arr[0]
for i in arr:
    if i > n:
        n = i
print(arr)
print(n)

['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
Tynchtyk

In [19]:
arr = ['Atai', 'Atalim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']

n = arr[0]
for i in arr:
    if i < n:
        n = i
print(n)

Atabek

In [25]:
arr = ['Atai', 'Atalimba', 'Tynchtyk', 'Nur', 'Samat', 'Atabekov']
n = arr[0]
for i in arr:
    if len(i) >= len(n):
        n = i
print('longest name = ', n)

for i in arr:
    if len(i) == len(n):
        print(i)

longest name =  Atabekov
Atalimba
Tynchtyk
Atabekov

In [26]:
print([i for i in arr if len(i) == max([len(j) for j in arr])])

['Atalimba', 'Tynchtyk', 'Atabekov']

In [40]:
arr = [1, 2, 3, 5, 8, 9]

print(arr[len(arr) - 1 : :-1])

[9, 8, 5, 3, 2, 1]

In [41]:
print(arr[3:])

[5, 8, 9]

In [42]:
print(arr[:4])

[1, 2, 3, 5]

In [49]:
arr = [-1, -2, -3, -5, -10, -8, -2]
min = arr[0]
max = arr[0]
for i in arr:
    if min > i:
        min = i
    if max < i:
        max = i

print(f'min = {min}, max = {max}, difference = {max - min}')

min = -10, max = -1, difference = 9

In [51]:
arr = [1, 2, 3, 5, 5, 6, 7]
print(arr)
print(arr[:3])
print(arr[3:])

[1, 2, 3, 5, 5, 6, 7]
[1, 2, 3]
[5, 5, 6, 7]

In [58]:
arr1 = [1, 2, 3]
arr2 = [5, 4, 2]
print(arr1 + arr2)
print(arr1 + ['abc', 'def'])

[1, 2, 3, 5, 4, 2]
[1, 2, 3, 'abc', 'def']

In [61]:
arr = ['emil', 'bil', 'ait', 'kg', 1]

print(arr)
print('->'.join(arr))

['emil', 'bil', 'ait', 'kg', 1]

TypeError: sequence item 4: expected str instance, int found