In [14]:
a = 10
print('a = ', a)

a =  10

In [15]:
a = 'emil'
b = 10
print(a * b)

emilemilemilemilemilemilemilemilemilemil

In [16]:
print(b * a)

emilemilemilemilemilemilemilemilemilemil

In [17]:
emil = 10
emil0 = 20

In [18]:
print('emil')
#print(emil + emil2)

emil

In [19]:
print(emil + emil2)

NameError: name 'emil2' is not defined

In [8]:
print(b + emil)

20

In [9]:
a

'emil'

In [10]:
emil

10

In [11]:
print(a, emil, a + emil)

TypeError: can only concatenate str (not "int") to str

In [91]:
#print(sm, type(sm))
sm = 10
print(sm, type(sm))
sm = 'emil'
print(sm, type(sm))

10 <class 'int'>
emil <class 'str'>

In [16]:
print(a[-1])

c

In [17]:
a = 'student'
print(len(a))

7

In [18]:
print(a[7])

IndexError: string index out of range

In [28]:
a = 'studentbek'
print(a[len(a)/2])
#print('last character = ', a[len(a) - 1])

TypeError: string indices must be integers, not 'float'

In [31]:
print( 11 / 2, 11 // 2, int(11 / 2))

5.5 5 5

In [35]:
print(round(10.50))

10

In [39]:
if 10 < 2:
 print('pravilno')
else:
    a = 10
    print('x' * 10)

xxxxxxxxxx

In [44]:
student1 = 10
student2 = 10
student3 = 100

r = (student1 + student2 + student3) / 3

if r >= 70:
    print('horosho')
else:
    print('ploho')

print(r)

ploho
40.0

In [84]:
# proveryayem summu studentov
s1, s2, s3, s4, s5, s6, s7, s8, s9, s10 = 1, 1, 1, 1, 1, 1, 1, -10, 0, 0
summa = s1 + s2 + s3 + s4 + s5 + s6 + s7 + s8 + s9 + s10
print('summa = ', summa)
if s1 > 1 or s2 > 1 or s3 > 1 or s4 > 1 or s5 > 1 or s6 > 1 or s7 > 1 or s8 > 1 or s9 > 1 or s10 > 1:
    print('julnichuyut odin ili bolshe studentov pdnyal(i) dve ruki')
elif summa > 10:
    print('julnichuyut')
elif summa == 10:
    print('No exam')
elif summa < 10 and summa >= 8:
    print('exam is tomorrow')
elif summa >= 5 and summa < 8:
    print('exam is day after tomorrow')
else: 
    print('exam is today')

summa =  -3
exam is today

In [92]:
# napishi programmu kotoriy proverit s odin ili nol
s = -1
if s >= 0 and s <= 1:
    print('normal')
elif s < 0:
    print('not normal')


## secon version
if s == 1 or s == 0:
    print('normal')
else:
    print('not normal')

not normal
not normal

In [102]:
def y(p, x): 
    return p * p + 5 - p*x

In [103]:
print( 3 * 3 + 5 - 3)
print( 10 * 10 + 5 - 10)
print( 200 * 200 + 5 - 200)

11
95
39805

In [107]:
def isFirstMinimum(s1, s2, s3, s4):
    if s1 <= s2 and s1 <= s3 and s1 <= s4:
        return True
    else:
        return False


def getMin2(s1, s2, s3, s4):
    if s1 >= s2 and s1 >= s3 and s1 >= s4:
        print(s1)
    elif s2 > s1 and s2 > s3 and s2 > s4:
        print(s2)
    elif s3 > s1 and s3 > s2 and s3 > s4:
        print(s3)
    else:
        print(s4)


def getMinValue(s1, s2, s3, s4):
    if isFirstMinimum(s1, s2, s3, s4):
        print(s1)
    elif isFirstMinimum(s2, s1, s3, s4):
        print(s2)
    elif isFirstMinimum(s3, s1, s4, s2):
        print(s3)
    else:
        print(s4)

In [108]:
print(getMinValue(5, 7, 13, 1))

1
None

In [115]:
def myprint(s1, s2):
    print(f's1 type = {type(s1)}, {s1}, s2 type = {type(s2)}, {s2}, s1 + s2 = ', s1 + s2)

s1 = "10"
s2 = "20.2"
myprint(s1, s2)
s1 = float(s1)
s2 = float(s2)
myprint(s1, s2)

s1 type = <class 'str'>, 10, s2 type = <class 'str'>, 20.2, s1 + s2 =  1020.2
s1 type = <class 'float'>, 10.0, s2 type = <class 'float'>, 20.2, s1 + s2 =  30.2

In [120]:
def abcd(a, b):
    if a > b:
        return a
    else:
        return b

50

In [126]:
arr = [1, 2, 3, 5, 0, 6, 2]
arr[4] = 100
m = arr[0]
for i in arr: 
    if i < m:
        m = i
print(arr)
print('min value is : ', m)

[1, 2, 3, 5, 100, 6, 2]
min value is :  1

In [130]:
s = 'emil'
print(s)
s = list(s)
s[0] = 'x'
print(s)
for i in s:
    print(i)

emil
['x', 'm', 'i', 'l']
x
m
i
l

In [134]:
arr = [1, 3, 4, 9, 0, -3]
n = 0; 
c = 0
for i in arr:
    n += i
    c += 1
print('sum = ', n)
print('count = ', c)
print("average = ", n / c)

sum =  14
count =  6
average =  2.3333333333333335

In [141]:
arr = [1, 3, 4, 5, 9, 0, -3]
x = False
for p in arr:
    x = x or p == 5
print(x)

True

In [149]:
def exist(arr, t):
    for i in arr:
        if i == t:
            return True
    return False

print(exist(arr, 5))

False

In [151]:
p = 0
for i in arr:
    if i == 5:
        p += 1
if p > 0:
    print(p)
else:
    print(p)

0

In [155]:
 arr = [1, 9, 0, 2, 3, 6] 

 for index1, i in enumerate(arr):
    for index2, j in enumerate(arr):
        print(index1, i, index2, i)
        # if i + j == 18 and index1 != index2:
        #     print(i, j, True)

0 1 0 1
0 1 1 1
0 1 2 1
0 1 3 1
0 1 4 1
0 1 5 1
1 9 0 9
1 9 1 9
1 9 2 9
1 9 3 9
1 9 4 9
1 9 5 9
2 0 0 0
2 0 1 0
2 0 2 0
2 0 3 0
2 0 4 0
2 0 5 0
3 2 0 2
3 2 1 2
3 2 2 2
3 2 3 2
3 2 4 2
3 2 5 2
4 3 0 3
4 3 1 3
4 3 2 3
4 3 3 3
4 3 4 3
4 3 5 3
5 6 0 6
5 6 1 6
5 6 2 6
5 6 3 6
5 6 4 6
5 6 5 6

In [157]:
print(arr)
for x, i in enumerate(arr):
    print(x, i)

[1, 9, 0, 2, 3, 6]
0 1
1 9
2 0
3 2
4 3
5 6

In [2]:
### 11 / 09 / 2024

In [4]:
arr = [1, 2, 0, 7, 2, 1]

s = 0
for i in arr:
    s += i
print(arr)
print('summa = ', s)

[1, 2, 0, 7, 2, 1]
summa =  13

In [5]:
m = arr[0]
for i in arr:
    if m > i:
        m = i
print(arr)
print('minimum value in an array = ', m)

[1, 2, 0, 7, 2, 1]
minimum value in an array =  0

In [9]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
N = 7

n = 0
for i in arr:
    print('n = ', n, ' -> ', i)
    n += 1
    print('after n = ', n)

print(arr, N)
if n == N:
    print('vse tut')
elif n < N:
    print('ne vse tut, missin = ', N - n)
elif n > N:
    print('bolshe ludey na = ', n - N)

n =  0  ->  Atai
after n =  1
n =  1  ->  Alim
after n =  2
n =  2  ->  Tynchtyk
after n =  3
n =  3  ->  Nur
after n =  4
n =  4  ->  Samat
after n =  5
n =  5  ->  Atabek
after n =  6
['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek'] 7
ne vse tut, missin =  1

In [45]:
from random import randint
for i in range(3):
    print(i+1, ' random number = ', randint(1, 60))

1  random number =  8
2  random number =  58
3  random number =  32

In [15]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
name = 'Nurbek'
jokeyy = False

for imya in arr:
    jokeyy = jokeyy or name == imya

print(name, ' est v massive = ', jokeyy)

result = False
for imya in arr:
    if imya == name:
        result = True
print(name, ' bar massivde = ', result)

Nurbek  est v massive =  False
Nurbek  bar massivde =  False

In [17]:
arr = ['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
n = arr[0]
for i in arr:
    if i > n:
        n = i
print(arr)
print(n)

['Atai', 'Alim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']
Tynchtyk

In [19]:
arr = ['Atai', 'Atalim', 'Tynchtyk', 'Nur', 'Samat', 'Atabek']

n = arr[0]
for i in arr:
    if i < n:
        n = i
print(n)

Atabek

In [25]:
arr = ['Atai', 'Atalimba', 'Tynchtyk', 'Nur', 'Samat', 'Atabekov']
n = arr[0]
for i in arr:
    if len(i) >= len(n):
        n = i
print('longest name = ', n)

for i in arr:
    if len(i) == len(n):
        print(i)

longest name =  Atabekov
Atalimba
Tynchtyk
Atabekov

In [26]:
print([i for i in arr if len(i) == max([len(j) for j in arr])])

['Atalimba', 'Tynchtyk', 'Atabekov']

In [40]:
arr = [1, 2, 3, 5, 8, 9]

print(arr[len(arr) - 1 : :-1])

[9, 8, 5, 3, 2, 1]

In [41]:
print(arr[3:])

[5, 8, 9]

In [42]:
print(arr[:4])

[1, 2, 3, 5]

In [49]:
arr = [-1, -2, -3, -5, -10, -8, -2]
min = arr[0]
max = arr[0]
for i in arr:
    if min > i:
        min = i
    if max < i:
        max = i

print(f'min = {min}, max = {max}, difference = {max - min}')

min = -10, max = -1, difference = 9

In [51]:
arr = [1, 2, 3, 5, 5, 6, 7]
print(arr)
print(arr[:3])
print(arr[3:])

[1, 2, 3, 5, 5, 6, 7]
[1, 2, 3]
[5, 5, 6, 7]

In [58]:
arr1 = [1, 2, 3]
arr2 = [5, 4, 2]
print(arr1 + arr2)
print(arr1 + ['abc', 'def'])

[1, 2, 3, 5, 4, 2]
[1, 2, 3, 'abc', 'def']

In [61]:
arr = ['emil', 'bil', 'ait', 'kg', 1]

print(arr)
print('->'.join(arr))


1 + 5 * 2 - 3

['emil', 'bil', 'ait', 'kg', 1]

TypeError: sequence item 4: expected str instance, int found

In [28]:
def check(arr):
    for i in arr:
        print("i = ", i, end = ' -> ')
        if i % 2 == 0 and i % 2 == 1 or i % 3 == 2:
            print('Even number')
    return "ATAI"
arr = [0, 65, 86, 55, 63, 46, 87, 18, 12, 33]
target = 55

result = '0, 55'

print('v massive est chetniy sifra? ', check(arr) if check(arr) else '')
#print('v massive est chetniy sifra? ', check(arr))

res = '''
0 -> 1 -> 3 -> 8 -> Even number
10 -> v massive est chetniy sifra? ATAI
'''

i =  0 -> i =  1 -> i =  3 -> i =  8 -> Even number
i =  10 -> i =  0 -> i =  1 -> i =  3 -> i =  8 -> Even number
i =  10 -> v massive est chetniy sifra?  ATAI

In [29]:
from random import randint
print([randint(0, 100) for i in range(10)])

[0, 65, 86, 55, 63, 46, 87, 18, 12, 33]

In [24]:
from random import randint
print(randint(1, 62), randint(1, 62), randint(1, 62))

27 57 13

In [33]:
def check(arr, target):
    for x1, i in enumerate(arr):
        for x2, j in enumerate(arr):
            if i + j == target and i < j and x1 < x2:
                print(f'{i} + {j} = {target}')
    return False

arr = [0, 65, 86, 55, 63, 46, 87, 12, 18, 12, 33]
target = 30

check(arr, target)

12 + 18 = 30

False

In [34]:
def check2(arr):
    for i, v in enumerate(arr):
        if i > 0 and i < len(arr)-1 and max(arr[:i]) > v < max(arr[i+1:]):
            print(v)

arr = [0, 65, 86, 55, 63, 46, 87, 12, 18, 12, 33]
check2(arr)

55
63
46
12
18
12

In [38]:
arr = [6, 2, 1, 0, 4]
for i in enumerate(arr):
    print(i)

(0, 6)
(1, 2)
(2, 1)
(3, 0)
(4, 4)

In [44]:
def fun(x):
    return x ** 2, x ** 0.5

z, y = fun(9)

print(z)
print(y)

81
3.0

In [33]:
arr = [1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
f = arr[0]
c = 0
for i in arr:
    if f < i:
        f = i
        c = 0+1
    elif f == i:
        c += 1

print('RESULT = ', c)

RESULT =  2

In [34]:
arr = [1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
max = arr[0]
for i in arr:
    if max < i:
        max = i
count = 0
for i in arr:
    if max == i:
        count += 1
print(count)

2

In [36]:
print(arr)
s = 0
for i in arr:
    s += i
print(s)

s = 0
for i in arr[:5]:
    s += i
print(s)

s = 0
for i in arr[-5:]:
    s += i
print(s)

[1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
44
15
27

In [38]:
c = 0
for i in arr:
    if i < 0:
        c += 1
print(arr)
print('negative count = ', c)

[1, 3, 5, 6, 0, 2, 6, 6, -1, 8, 8]
negative count =  1

In [43]:
names = ['twix', 'sandwich', 'moloko', 'bread', 'cola', 'kolbasa']
prices = [40, 75, 90, 25, 90, 200]
kolichestvo = [10, 15, 40, 60, 20, 10]

def tsena_tovara(names, prices, tovar):
    for index, name in enumerate(names):
        if name == tovar:
            return prices[index] 

def kancha_boldu(moi_tovari, moi_kolichestvo):
    s = 0
    text = ''
    for ati, shtuk in zip(moi_tovari, moi_kolichestvo):
        x = tsena_tovara(names, prices, ati) * shtuk
        text += f'{ati} x {shtuk} -> {x}\n'
        s += x
    text += '_'*20
    return text + f'\nTotal : {s}'


moi_tovari = ["moloko", "bread", "kolbasa"]
moi_kolichestvo = [1, 2, 1]

check = kancha_boldu(moi_tovari, moi_kolichestvo)
print(check)

moloko x 1 -> 90
bread x 2 -> 50
kolbasa x 1 -> 200
____________________
Total : 340

In [57]:
from time import time
arr = [52, 8, 7, 72, 8, 6, 3, 1, 9, 0]*20000
res = []

def mysort(arr):
    # for i in range(len(arr)):
    #     max = arr[0]
    #     for j in arr:
    #         if max > j:
    #             max = j
    #     res.append(max)
    #     arr.remove(max)
    return sorted(arr)

basinda = time()
x = mysort(arr)
ayagi = time()
print('ketken ubakit = ', ayagi - basinda)
print(len(x))

ketken ubakit =  0.009049177169799805
200000

In [62]:
names = ["atai", 'sultan', 'emir', 'gazi']
amount = [1000, 2000, 3000, 4000]

def max_amount_person():
    max = arr[0]
    name = None
    for x, i in enumerate(amount):
        if i > max:
            max = i
            name = names[x]
    return name

print('max amount person is = ', max_amount_person())

max amount person is =  gazi

In [74]:
x = 0
print('x = ', x)

x =  0

In [73]:
def mysum():
    x = 0
    for i in amount:
        x += i
    return x
print(amount)
print('sum = ', mysum())

[1000, 2000, 3000, 4000]
sum =  20000

In [75]:
def high_amount_clients(threshold):
    res = []
    
    for x, name in zip(amount, names):
        if x >= threshold: # > -> -5
            res.append(name)
    return res

names = ["atai", 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
amount = [1000,  2000,      3000,  4000,    1000,   2000,   5000]

print(names)
print(amount)
print(high_amount_clients(3000))

['atai', 'sultan', 'emir', 'gazi']
[1000, 2000, 3000, 4000]
['emir', 'gazi']

In [78]:
names = ["atai", 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
amount = [1000,  2000,      3000,  4000,    1000,   2000,   5000]

def get_higher_amount(higher_amount):
    for i, n in enumerate(amount):
        if n < higher_amount:
            names.pop(i)
            amount.pop(i)
    return names

print(names)
print(amount)
print(get_higher_amount(3000))

['atai', 'sultan', 'emir', 'gazi', 'bars', 'aziz', 'ulan']
[1000, 2000, 3000, 4000, 1000, 2000, 5000]
['sultan', 'emir', 'gazi', 'aziz', 'ulan']

In [87]:
names = ["atai", 'sultan',  'gazi', 'bars']
amount = [1000,  2000,       3000,  4000]
print('Before')
print(list(zip(names, amount)))


def findindex(name):
    for i, v in enumerate(names):
        if v == name:
            return i
        
def transfer(a, b, x, h):
    print(f'Transfering from "{a}" to "{b}" amount of {x}')
    h.append((a, b, x))
    ai, bi = findindex(a), findindex(b)
    amount[ai], amount[bi] = amount[ai] - x, amount[bi] + x

history = []
for i in range(10):
    transfer("gazi", "bars", 200, history)
print('\nLatest')
print(list(zip(names, amount)))
print('History')
print(history)

Before
[('atai', 1000), ('sultan', 2000), ('gazi', 3000), ('bars', 4000)]
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200
Transfering from "gazi" to "bars" amount of 200

Latest
[('atai', 1000), ('sultan', 2000), ('gazi', 1000), ('bars', 6000)]
History
[('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200), ('gazi', 'bars', 200)]

In [88]:
history

[('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200),
 ('gazi', 'bars', 200)]

In [89]:
for a, b, x in history:
    transfer(b, a, x, [])
history = []

Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200
Transfering from "bars" to "gazi" amount of 200

In [85]:
print(list(zip(names, amount)))

[('atai', 1000), ('sultan', 2000), ('gazi', 3000), ('bars', 4000)]

[]

In [106]:
student = ["atai", "emil", "aman", "gulnur"]
knigi = [
    [], 
    ["potter", "jamilia", "semetey"],
    ["sary", 'mary', 'semetey'],
    ['manas', 'semetey', 'seytek']
]
books = ['potter', 'jamilia', 'semetey', 'sary', 'mary', 'manas', 'seytek']
author = ['emil',  'aytmatov', 'aytmatov', 'emil', 'ulan', 'ulan', 'aytmatov']
quantity = [5,       6,          7,         8,     3,      8,       2]
history = []

def adjustBook(name, book, flag):
    history.append((name, book, flag))
    for i, n in enumerate(student):
        if n == name:
            if flag == 'kosh':
                knigi[i].append(book)
                quantity[i] -= 1
            elif flag == 'ochur':
                knigi[i].remove(book)
                quantity[i] += 1

adjustBook('emil', 'semetey', 'ochur')
adjustBook('atai', 'semetey', 'ochur')
adjustBook('aman', 'semetey', 'ochur')

# skolko u Amana
print('Skolko = ', [len(knigi[i]) for i, name in enumerate(student) if name == 'gulnur'])
print('Kakie knigi = ', [knigi[i] for i, name in enumerate(student) if name == 'gulnur'])
print('skolko studentov = ', sum([1 for x in knigi for kniga in x if kniga == 'semetey']))
print('skolko knig u avtora = ', sum([q for q, a in zip(quantity, author) if a == 'aytmatov']))
print('kto vzyal = ', [n for n, k in zip(student, knigi) if 'semetey' in k])

ValueError: list.remove(x): x not in list

In [108]:
print('Skolko1 = ', [len(knigi[i]) for i, name in enumerate(student) if name == 'gulnur'])

def skolko(param):
    v = []
    for i, name in enumerate(student):
        if name == param:
            v.append(len(knigi[i]))
    return v

print('skolko2 = ', skolko('gulnur'))

Skolko1 =  [3]
skolko2 =  [3]

In [121]:
print('Kakie knigi = ', [i for i, name in zip(knigi, student) if name == 'gulnur'])

def kakie(param):
    v = []
    for k, name in zip(knigi, student):
        if name == param:
            v += k
    return v

print('kakie knigi2 = ', kakie('gulnur'))

Kakie knigi =  [['manas', 'semetey', 'seytek']]
kakie knigi2 =  ['manas', 'semetey', 'seytek']

In [114]:
param = 'semetey'

print('skolko studentov = ', sum([1 for x in knigi for kniga in x if kniga == param]))
def summa(param):
    v = 0
    for x in knigi:
        for kniga in x:
            if kniga == param:
                v += 1
    return v

print('skolko studentov2 = ', summa(param))


count = 0
for i in knigi:
    count += param in i
print('skolko studentov3 = ', count)

skolko studentov =  2
skolko studentov2 =  2
skolko studentov3 =  2

In [124]:
print(author)
print(quantity)
print(list(zip(quantity, author)))

['emil', 'aytmatov', 'aytmatov', 'emil', 'ulan', 'ulan', 'aytmatov']
[5, 7, 7, 8, 3, 8, 2]
[(5, 'emil'), (7, 'aytmatov'), (7, 'aytmatov'), (8, 'emil'), (3, 'ulan'), (8, 'ulan'), (2, 'aytmatov')]

In [133]:
print('skolko knig u avtora = ', sum([q for q, a in zip(quantity, author) if a == 'aytmatov']))


def skolko_knig_u_avtora(param):
    s = 0
    for quant, auth in zip(quantity, author):
        if auth == param:
            s += quant
    return s

print('skolko knig u avtora2 = ', skolko_knig_u_avtora('aytmato'))

skolko knig u avtora =  16
skolko knig u avtora2 =  0

In [137]:
shtrih = ['0225', '1116', '9394', '3218', '9678', '6869']
tovar = ['ruchka', 'laptop', 'chay', 'majito', 'sprite', 'rezinka']
tsena = [50, 20000, 50, 65, 55, 20]


def kassoviy_check(karzinka):
    total = 0
    result = 'KASSOVIY CHECK\n_______________\n'
    for k in karzinka.split(','):
        for sh, to, ts in zip(shtrih, tovar, tsena):
            if k == sh:
                result += to + ' -> ' + str(ts) + '\n'
                total += ts
    return result + '\n___________\nTOTAL : ' + str(total)
 


karzinka = '0225,9394,1116'
print(kassoviy_check(karzinka))

KASSOVIY CHECK
_______________
ruchka -> 50
chay -> 50
laptop -> 20000

___________
TOTAL : 20100

In [1]:
students = '''
Абдырайымова Насипа Нурбековна
Айдралиева Сальма Данияровна
Алмазбек уулу Ынтымак
Арстаналиева Бермет Кубанычбековна
Асаналиев Актан Алмазович
Асанова Элеонора Маратовна
Аттокуров Зарылбек Замирбекович
Ва-ахунов Данияль Юнусович
Дилдебекова Назима Максатбековна
Исаков Умар Таалайбекович
Ишенбаев Азим Адылбекович
Калыбаев Жумабек Мунарбекович
Кеңешов Актанбек Урустамбекович
Курбанбекова Алиенора Замирбековна
Маматжанов Алымбек Амангелдиевич
Мамбетов Атай Бакытович
Русланов Эрбол Русланович
Рысбеков Аламан Сагындыкович
Таштанов Алтынбек Абдиллаевич
Тологонова Аяна Кубатбековна
Туратбаев Аятулла Мидинович
Черикова Аяна Мирлановна
Шарипов Акбар Эрнисович
Ысманов Бекболсун Асылбекович
Абдыбеков Төлөнбек Асанакунович
Абдыманапов Алмаз Чынгызович
Абибиллаев Нуртилек Алтынбекович
Анарбеков Аман Уланович
Балабеков Ерлан Рахымович
Дуйшенов Кутман Эгембердиевич
Ералиев Шергазы Өткүрбекович
Жоодонбек кызы Жайнагул
Исмаилов Нурдин Рысбекович
Калмаматов Нурмухаммед Калмаматович
Капаров Кубаныч Капарович
Каримов Данияр Гуламидинович
Кенжетаев Дияз Нуралыевич
Матаев Талант Бактыбекович
Мелисов Кутман Жыргалбекович
Нурджанов Исмаилбек Бакытович
Оңолбекова Гүлнура Октябровна
Тагаева Адина Нарынбековна
Туташбаев Алмаз Адылбекович
Тыныбеков Жанышбек Нурбекович
Уметбаев Барсбек Мирланбекович
Жылдызбеков Байстан Жылдызбекович
Керимов Бекболсун Орозалиевич
Умаров Азамжан Азизбекович
Бактыгулова Элина Исламбековна
Рахматулин Тынчтыкбек Жамилович
Айнакулов Даир
Бейшалиев Акназар
Сейдакматов Алимхан
Айтиев Атабек
Нургалиев Нуржигит Уланович
Сейитбеков Омурбек
Маматжанов Актан
Насиридинова Сумая Дастанбековна
Мухаммад'''

In [7]:
from random import shuffle
arr = students.split('\n')
shuffle(arr)
for i, s in enumerate(arr):
    print(i+1, s)

1 Мамбетов Атай Бакытович
2 Рысбеков Аламан Сагындыкович
3 Ералиев Шергазы Өткүрбекович
4 Мелисов Кутман Жыргалбекович
5 Тыныбеков Жанышбек Нурбекович
6 Ва-ахунов Данияль Юнусович
7 Дуйшенов Кутман Эгембердиевич
8 Жылдызбеков Байстан Жылдызбекович
9 Абдыбеков Төлөнбек Асанакунович
10 Оңолбекова Гүлнура Октябровна
11 Туташбаев Алмаз Адылбекович
12 Алмазбек уулу Ынтымак
13 Шарипов Акбар Эрнисович
14 Айдралиева Сальма Данияровна
15 Айтиев Атабек
16 Рахматулин Тынчтыкбек Жамилович
17 Маматжанов Алымбек Амангелдиевич
18 Тологонова Аяна Кубатбековна
19 Ысманов Бекболсун Асылбекович
20 Кенжетаев Дияз Нуралыевич
21 Абибиллаев Нуртилек Алтынбекович
22 Балабеков Ерлан Рахымович
23 Таштанов Алтынбек Абдиллаевич
24 Керимов Бекболсун Орозалиевич
25 Туратбаев Аятулла Мидинович
26 Капаров Кубаныч Капарович
27 Тагаева Адина Нарынбековна
28 Жоодонбек кызы Жайнагул
29 Маматжанов Актан
30 Абдыманапов Алмаз Чынгызович
31 Умаров Азамжан Азизбекович
32 Калмаматов Нурмухаммед Калмаматович
33 Абдырайымова Насипа Нурбековна
34 Калыбаев Жумабек Мунарбекович
35 Сейитбеков Омурбек
36
37 Нурджанов Исмаилбек Бакытович
38 Асаналиев Актан Алмазович
39 Курбанбекова Алиенора Замирбековна
40 Дилдебекова Назима Максатбековна
41 Каримов Данияр Гуламидинович
42 Арстаналиева Бермет Кубанычбековна
43 Кеңешов Актанбек Урустамбекович
44 Айнакулов Даир
45 Бейшалиев Акназар
46 Матаев Талант Бактыбекович
47 Аттокуров Зарылбек Замирбекович
48 Асанова Элеонора Маратовна
49 Мухаммад
50 Ишенбаев Азим Адылбекович
51 Анарбеков Аман Уланович
52 Бактыгулова Элина Исламбековна
53 Русланов Эрбол Русланович
54 Уметбаев Барсбек Мирланбекович
55 Насиридинова Сумая Дастанбековна
56 Сейдакматов Алимхан
57 Исмаилов Нурдин Рысбекович
58 Исаков Умар Таалайбекович
59 Нургалиев Нуржигит Уланович
60 Черикова Аяна Мирлановна

In [61]:
seat = []
price = []
names = []

for i in range(1, 33):
    for c in 'ABCDEF':
        seat.append(str(i) + c)
        if i in [5, 6]:
            price.append(5000)
        elif c in 'AF':
            price.append(4000)
        else:
            price.append(3500)
        names.append(None)

print(seat)
print(names)
print(price)

['1A', '1B', '1C', '1D', '1E', '1F', '2A', '2B', '2C', '2D', '2E', '2F', '3A', '3B', '3C', '3D', '3E', '3F', '4A', '4B', '4C', '4D', '4E', '4F', '5A', '5B', '5C', '5D', '5E', '5F', '6A', '6B', '6C', '6D', '6E', '6F', '7A', '7B', '7C', '7D', '7E', '7F', '8A', '8B', '8C', '8D', '8E', '8F', '9A', '9B', '9C', '9D', '9E', '9F', '10A', '10B', '10C', '10D', '10E', '10F', '11A', '11B', '11C', '11D', '11E', '11F', '12A', '12B', '12C', '12D', '12E', '12F', '13A', '13B', '13C', '13D', '13E', '13F', '14A', '14B', '14C', '14D', '14E', '14F', '15A', '15B', '15C', '15D', '15E', '15F', '16A', '16B', '16C', '16D', '16E', '16F', '17A', '17B', '17C', '17D', '17E', '17F', '18A', '18B', '18C', '18D', '18E', '18F', '19A', '19B', '19C', '19D', '19E', '19F', '20A', '20B', '20C', '20D', '20E', '20F', '21A', '21B', '21C', '21D', '21E', '21F', '22A', '22B', '22C', '22D', '22E', '22F', '23A', '23B', '23C', '23D', '23E', '23F', '24A', '24B', '24C', '24D', '24E', '24F', '25A', '25B', '25C', '25D', '25E', '25F', '26A', '26B', '26C', '26D', '26E', '26F', '27A', '27B', '27C', '27D', '27E', '27F', '28A', '28B', '28C', '28D', '28E', '28F', '29A', '29B', '29C', '29D', '29E', '29F', '30A', '30B', '30C', '30D', '30E', '30F', '31A', '31B', '31C', '31D', '31E', '31F', '32A', '32B', '32C', '32D', '32E', '32F']
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
[4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 5000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000, 4000, 3500, 3500, 3500, 3500, 4000]

In [60]:
def print_seats():
    for s, p, n in zip(seat, price, names):
        print(s, p, n)

In [53]:
def sell_ticket(name, seat_number = None):
    if seat_number == None:
        for i in range(len(names)):
            if names[i] == None:
                names[i] = name
                return price[i]
    else:
        for i in range(len(seat)):
            if seat[i] == seat_number and names[i] == None:
                names[i] = name
                return price[i]
    return 'No available seats'

In [46]:
sell_ticket('Gulnur')
sell_ticket('Atai')
sell_ticket('Bek')

3500

In [50]:
sell_ticket('Ali K')
sell_ticket('Sultan', '22E')
print_seats()

1A 3500 Emil
1B 3500 Gulnur
1C 3500 Bek
1D 3500 Atai
1E 3500 Bek
1F 3500 Gulnur
2A 3500 Atai
2B 3500 Bek
2C 3500 Ali
2D 3500 Ali K
2E 3500 None
2F 3500 None
3A 3500 None
3B 3500 None
3C 3500 None
3D 3500 None
3E 3500 None
3F 3500 None
4A 3500 None
4B 3500 None
4C 3500 None
4D 3500 None
4E 3500 None
4F 3500 None
5A 3500 None
5B 3500 None
5C 3500 None
5D 3500 None
5E 3500 None
5F 3500 None
6A 3500 None
6B 3500 None
6C 3500 None
6D 3500 None
6E 3500 None
6F 3500 None
7A 3500 None
7B 3500 None
7C 3500 None
7D 3500 None
7E 3500 None
7F 3500 None
8A 3500 None
8B 3500 None
8C 3500 None
8D 3500 None
8E 3500 None
8F 3500 None
9A 3500 None
9B 3500 None
9C 3500 None
9D 3500 None
9E 3500 None
9F 3500 None
10A 3500 None
10B 3500 None
10C 3500 None
10D 3500 None
10E 3500 None
10F 3500 None
11A 3500 None
11B 3500 None
11C 3500 None
11D 3500 None
11E 3500 None
11F 3500 None
12A 3500 None
12B 3500 None
12C 3500 None
12D 3500 None
12E 3500 None
12F 3500 None
13A 3500 None
13B 3500 None
13C 3500 None
13D 3500 None
13E 3500 None
13F 3500 None
14A 3500 None
14B 3500 None
14C 3500 None
14D 3500 None
14E 3500 None
14F 3500 None
15A 3500 None
15B 3500 None
15C 3500 None
15D 3500 None
15E 3500 None
15F 3500 None
16A 3500 None
16B 3500 None
16C 3500 None
16D 3500 None
16E 3500 None
16F 3500 None
17A 3500 None
17B 3500 None
17C 3500 None
17D 3500 None
17E 3500 None
17F 3500 None
18A 3500 None
18B 3500 None
18C 3500 None
18D 3500 None
18E 3500 None
18F 3500 None
19A 3500 None
19B 3500 None
19C 3500 None
19D 3500 None
19E 3500 None
19F 3500 None
20A 3500 None
20B 3500 None
20C 3500 None
20D 3500 None
20E 3500 None
20F 3500 None
21A 3500 None
21B 3500 None
21C 3500 None
21D 3500 None
21E 3500 None
21F 3500 None
22A 3500 None
22B 3500 None
22C 3500 None
22D 3500 None
22E 3500 Sultan
22F 3500 None
23A 3500 None
23B 3500 None
23C 3500 None
23D 3500 None
23E 3500 None
23F 3500 None
24A 3500 None
24B 3500 None
24C 3500 None
24D 3500 None
24E 3500 None
24F 3500 None
25A 3500 None
25B 3500 None
25C 3500 None
25D 3500 None
25E 3500 None
25F 3500 None
26A 3500 None
26B 3500 None
26C 3500 None
26D 3500 None
26E 3500 None
26F 3500 None
27A 3500 None
27B 3500 None
27C 3500 None
27D 3500 None
27E 3500 None
27F 3500 None
28A 3500 None
28B 3500 None
28C 3500 None
28D 3500 None
28E 3500 None
28F 3500 None
29A 3500 None
29B 3500 None
29C 3500 None
29D 3500 None
29E 3500 None
29F 3500 None
30A 3500 None
30B 3500 None
30C 3500 None
30D 3500 None
30E 3500 None
30F 3500 None
31A 3500 None
31B 3500 None
31C 3500 None
31D 3500 None
31E 3500 None
31F 3500 None
32A 3500 None
32B 3500 None
32C 3500 None
32D 3500 None
32E 3500 None
32F 3500 None

In [54]:
sell_ticket('Aidai', '22E')

'No available seats'

In [21]:
def find_name(name):
    for i, n in enumerate(names):
        if n == name:
            return seat[i]
    return 'adnay adam jok'

In [26]:
print('Seat number = ', find_name('Emil'))

Seat number =  adnay adam jok

In [31]:
def remove_passenger(name):
    for i, n in enumerate(names):
        if n == name:
            names[i] = None
            return seat[i]
    return 'Minday adam jok eken eyyy'

In [32]:
print('Removing Atai from seat = ', remove_passenger('Atai'))
print('Removing Gulnur from seat = ', remove_passenger('Gulnur'))

Removing Atai from seat =  1B
Removing Gulnur from seat =  1A

In [33]:
print('Removing Emil from seat = ',remove_passenger('Emil'))

Removing Emil from seat =  Minday adam jok eken eyyy

In [41]:
def print_seats():
    for s, p, n in zip(seat, price, names):
        print(s, p, n)

def availabe_seats():
    count = 0
    for s, n, p in zip(seat, names, price):
        if n == None:
            print(s, n, p)
            count += 1
    print('Total available seats = ', count)

In [42]:
availabe_seats()

1B None 3500
1D None 3500
1E None 3500
1F None 3500
2A None 3500
2B None 3500
2C None 3500
2D None 3500
2E None 3500
2F None 3500
3A None 3500
3B None 3500
3C None 3500
3D None 3500
3E None 3500
3F None 3500
4A None 3500
4B None 3500
4C None 3500
4D None 3500
4E None 3500
4F None 3500
5A None 3500
5B None 3500
5C None 3500
5D None 3500
5E None 3500
5F None 3500
6A None 3500
6B None 3500
6C None 3500
6D None 3500
6E None 3500
6F None 3500
7A None 3500
7B None 3500
7C None 3500
7D None 3500
7E None 3500
7F None 3500
8A None 3500
8B None 3500
8C None 3500
8D None 3500
8E None 3500
8F None 3500
9A None 3500
9B None 3500
9C None 3500
9D None 3500
9E None 3500
9F None 3500
10A None 3500
10B None 3500
10C None 3500
10D None 3500
10E None 3500
10F None 3500
11A None 3500
11B None 3500
11C None 3500
11D None 3500
11E None 3500
11F None 3500
12A None 3500
12B None 3500
12C None 3500
12D None 3500
12E None 3500
12F None 3500
13A None 3500
13B None 3500
13C None 3500
13D None 3500
13E None 3500
13F None 3500
14A None 3500
14B None 3500
14C None 3500
14D None 3500
14E None 3500
14F None 3500
15A None 3500
15B None 3500
15C None 3500
15D None 3500
15E None 3500
15F None 3500
16A None 3500
16B None 3500
16C None 3500
16D None 3500
16E None 3500
16F None 3500
17A None 3500
17B None 3500
17C None 3500
17D None 3500
17E None 3500
17F None 3500
18A None 3500
18B None 3500
18C None 3500
18D None 3500
18E None 3500
18F None 3500
19A None 3500
19B None 3500
19C None 3500
19D None 3500
19E None 3500
19F None 3500
20A None 3500
20B None 3500
20C None 3500
20D None 3500
20E None 3500
20F None 3500
21A None 3500
21B None 3500
21C None 3500
21D None 3500
21E None 3500
21F None 3500
22A None 3500
22B None 3500
22C None 3500
22D None 3500
22E None 3500
22F None 3500
23A None 3500
23B None 3500
23C None 3500
23D None 3500
23E None 3500
23F None 3500
24A None 3500
24B None 3500
24C None 3500
24D None 3500
24E None 3500
24F None 3500
25A None 3500
25B None 3500
25C None 3500
25D None 3500
25E None 3500
25F None 3500
26A None 3500
26B None 3500
26C None 3500
26D None 3500
26E None 3500
26F None 3500
27A None 3500
27B None 3500
27C None 3500
27D None 3500
27E None 3500
27F None 3500
28A None 3500
28B None 3500
28C None 3500
28D None 3500
28E None 3500
28F None 3500
29A None 3500
29B None 3500
29C None 3500
29D None 3500
29E None 3500
29F None 3500
30A None 3500
30B None 3500
30C None 3500
30D None 3500
30E None 3500
30F None 3500
31A None 3500
31B None 3500
31C None 3500
31D None 3500
31E None 3500
31F None 3500
32A None 3500
32B None 3500
32C None 3500
32D None 3500
32E None 3500
32F None 3500
Total available seats =  190

In [55]:
def power(x, n = 2):
    return x ** n

In [58]:
print(power(3))
print(power(3, 4))

9
81

In [65]:
def calculate(b, n, s):
    b = [b]
    m = []
    for i in range(12):
        b.append(b[-1]*(100+n)/100*(s/100) + sum(m))
        m.append(b[-2]*(100+n)/100*(100-s)/100//12)
    final = b[-1]+sum([(i+1)*s for i, s in enumerate(m)])
    final = int(final)
    print('Beginning = ', b[0])
    print('End = ', final)
    print('Difference = ', final - b[0])

In [69]:
calculate(100000, 25, 60)

Beginning =  100000
End =  291167
Difference =  191167

In [70]:
calculate(100000, 50, 10)

Beginning =  100000
End =  273012
Difference =  173012

In [79]:
arr = [1, 2, 3, 5]

d = {"emil": 55556, 'xyz':782, 55:'ulan', (66,-11):9999, -22:['emil', 'bilgazyev', 66]}

In [80]:
print(d[(66,-11)])
print(d[-22])

9999
['emil', 'bilgazyev', 66]

In [85]:
d = {
     1: 5, 7: 99, 
     ('emil', 44, 55):'wazzup2'
     }
d[('emil', 44, 55)]

'wazzup2'

In [86]:

arr = list(range(1000000))

In [98]:

from random import shuffle
shuffle(arr)
d = {}
for i in arr:
    d[i] = True

In [97]:
from time import time

def find(arr, n):
    for i in arr:
        if i == n:
            return True
    return False


n = [777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]*10
print(n)

start = time()
for x in n:
    find(arr, x)
end = time()

print('skolko vremnya ushlo = ', end - start)

[777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]
skolko vremnya ushlo =  5.662917613983154

In [101]:
d[99999999]

KeyError: 99999999

In [103]:
n = [777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]*10
print(n)

start = time()
for x in n:
    res = x in d
end = time()

print('skolko vremnya ushlo = ', end - start)

[777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999, 777777, 15, 17, 902875, 771075, 997497, 0, 78642, 72071, 665, 19, 9999]
skolko vremnya ushlo =  0.0

In [104]:
d ={'0vU96xu3-3U': {
    'url': 'my link',
    'age':56,
    'creator':'emil', 
    'thumbsup': 50, 
    'thumbsdown': 90
}}

In [106]:
d['0vU96xu3-3U']['thumbsup'] += 1000

In [107]:
d['0vU96xu3-3U']['thumbsup']

1050

In [115]:
from random import randint

arr = [randint(0, 10) for i in range(10)]

print(arr)

[2, 3, 9, 7, 3, 3, 6, 9, 5, 3]

In [110]:
xarr = [78, 78, 78, 78]
count = 0
for i in xarr:
    for j in xarr:
        if i == j:
            count += 1

print(count)

16

In [116]:
print(arr)
d = {}
for i in arr:
    if i not in d:
        d[i] = 1
    else:
        d[i] += 1

for k, v in d.items():
    if v > 1:
        print('key =',  k, ', value = ', v)

[2, 3, 9, 7, 3, 3, 6, 9, 5, 3]
key = 3 , value =  4
key = 9 , value =  2

In [124]:
d = {}
for i in arr:
    d[i] = d.get(i, 0)+1

print(arr)
print([(k,v) for k, v in d.items() if v > 1])

[2, 3, 9, 7, 3, 3, 6, 9, 5, 3]
[(3, 4), (9, 2)]

In [120]:
d.get(3, 'netu')

4

In [139]:
items = {"cola": 50, "shoro":85, "mars":40, "sprite":60, "nan":25, "burger":150, "ruchka":40}
names = {
    "imena":{},
    "summa":{}
}

def kariz(name, item):
    if item in items:
        names['imena'][name] = names['imena'].get(name, []) + [item] 
        names['summa'][name] = names['summa'].get(name, 0) + items[item]
    print(names)

def emneler_aldi(name):
    return names["imena"].get(name, 'netu tokogo klienta v baze')

def kancha_kariz(name):
    return names['summa'].get(name, 'netu tokogo klienta v baze')
kariz("Bek", "cola")

kariz("Bek", "shoro")
kariz("emil", "shoro")

name = 'Bek'
print(name, ' kancha kariz = ', kancha_kariz(name))
print(name, ' emnelerdi aldi = ', emneler_aldi(name))

{'imena': {'Bek': ['cola']}, 'summa': {'Bek': 50}}
{'imena': {'Bek': ['cola', 'shoro']}, 'summa': {'Bek': 135}}
{'imena': {'Bek': ['cola', 'shoro'], 'emil': ['shoro']}, 'summa': {'Bek': 135, 'emil': 85}}
Bek  kancha kariz =  135
Bek  emnelerdi aldi =  ['cola', 'shoro']

In [128]:
names = {
    "tovari": {
        "emil":["cola", 'shoro'], 
        "bek":["mars"]
    }, 
    'summa':{
        'emil':135,
        'bek':40
    }
}

if 'sultan' in names['summa']:
    print(names['summa']['sultan'])
else:
    print('tokogo netu')

tokogo netu

In [7]:
names = {
    "emil":{
        "quizes":['q1', 'q2', 'm'],
        "grades":[60, 70, 80]
    },
    "aziz":{
        "quizes":['q1', 'final'],
        "grades":[80, 20]
    }
}

def addGrade(name, grade, quiz):
    if name not in names:
        names[name] = {
            "quizes":[], 
            "grades":[]
        }
    names[name]['quizes'].append(quiz)
    names[name]['grades'].append(grade)


def getGrades(name):
    if name in names:
        return list(zip(names[name]['quizes'], names[name]['grades']))
    else:
        return name + " does not exist in the database"

def getAll():
    arr2 = []
    for i in names:
        arr = names[i]['grades']
        avg = sum(arr) / len(arr)
        arr2.append((i, avg))
    return arr2

In [8]:
arr1 = [1, 2, 3]
arr2 = [8, 4, 2]

print(list(zip(arr1, arr2)))

[(1, 8), (2, 4), (3, 2)]

In [9]:
getAll()

[('emil', 70.0), ('aziz', 50.0)]

In [10]:
getGrades('aziz')

[('q1', 80), ('final', 20)]

In [13]:
names = {
}

def addGrade(name, quiz, grade):
    if name not in names:
        names[name] = {'quizes':[], 'grades':[]}
    names[name]['grades'].append(grade)
    names[name]['quizes'].append(quiz)

def getGrades(name):
    if name in names:
        return list(zip(names[name]['grades'], names[name]['quizes']))
    else:
        return name + 'netu takogo uchenika'

def getAverage(name):
    text = f'Grades for {name} \n\n'
    x = getGrades(name)
    sm, cnt = 0, 0
    for i, j in x:
        text += f'{i} -> {j}\n'
        sm += int(j)
        cnt += 1
    text += f'\n\n Average: {sm / cnt}'


def getAll():
    arr2 = []
    for i in names:
        arr = names[i]['grades']
        avg = sum(arr) / len(arr)
        arr2.append((i,avg))
    return arr2


addGrade('nurti','quiz1', 60)
addGrade('alym','quiz1', 40)
addGrade('nurti','quiz2', 50)
addGrade('alym','quiz2', 60)
addGrade('nurti','quiz3', 30)
addGrade('alym','quiz3', 70)

# getGrades('nurti')
# getAverage('nurti')
getAll()

[('nurti', 46.666666666666664), ('alym', 56.666666666666664)]

In [ ]:
names = {
    "name" : [],
    "sid" : []
}

class_names = {
    "cid" : [],
    "class_name": []
}

grades = {
    "sid": [],
    "cid": [],
    "grade": []
}

def get_by_id(table, id, field_from, field_val):
    for inx, value in enumerate(table[field_from]):
        if value == id:
            return table[field_val][inx]

from collections import defaultdict
taken_table = defaultdict(int)
for sid, cid, grade in zip(grades["sid"], grades["cid"], grades["grade"]):
    taken_table[(sid, cid)] += 1

arr =  []
for (sid, cid), taken_count in taken_table.items():
    student_name = get_by_id(names, sid, "sid", "name")
    class_name = get_by_id(class_names, cid, "cid", "class_name")
    arr.append((taken_count, student_name, class_name))

print(arr)
print(max(arr))

In [1]:
def find_clients_by_date_range(salon, start_date, end_date):
    result = []
    for d in salon:
        if start_date <= d['date'] <= end_date:
            result.append(d)
    return result

In [2]:
salon = [
    {'date': '2024-01-08'},
    {'date': '2022-03-15'},
    {'date': '2023-08-23'},
    {'date': '2024-07-08'},
    {'date': '2022-06-30'},
    {'date': '2023-04-23'},
    {'date': '2024-01-15'},
    {'date': '2024-02-16'},
    {'date': '2022-03-17'},
    {'date': '2022-04-01'},
    {'date': '2023-06-08'}
]

In [3]:
find_clients_by_date_range(salon, '2023-01-01', '2024-12-30')

[{'date': '2024-01-08'},
 {'date': '2023-08-23'},
 {'date': '2024-07-08'},
 {'date': '2023-04-23'},
 {'date': '2024-01-15'},
 {'date': '2024-02-16'},
 {'date': '2023-06-08'}]

In [16]:
arr = [1, 4, 6, 2, 1, 6, -2, 12, 16]

from min_max import my_max22
#from min_max import my_max

#print('min value = ', my_min(arr))
print('max value = ', my_max22(arr))

ImportError: cannot import name 'my_max22' from 'min_max' (c:\Users\User\Documents\PL_2024_S1\min_max.py)

In [19]:
from min_max import print_my_name
print_my_name()

ImportError: cannot import name 'print_my_name' from 'min_max' (c:\Users\User\Documents\PL_2024_S1\min_max.py)

In [23]:
from random import shuffle

arr = list(range(10))
print(arr)
shuffle(arr)
print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[7, 0, 5, 3, 1, 6, 2, 8, 9, 4]

In [24]:
from min_max import my_min

def my_sort(arr):
    res = []
    n = len(arr)
    for i in range(n):
        mn = my_min(arr)
        res.append(mn)
        arr.remove(mn)
    return res

[7, 0, 5, 3, 1, 6, 2, 8, 9, 4]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
from random import randint
from time import time

N = 100000
arr = [randint(0, 1000000) for i in range(N)]

start_time = time()
#sorted_arr = my_sort(arr)
sorted_arr = sorted(arr)
end_time = time()

print('skolko proshlo = ', end_time - start_time)

skolko proshlo =  0.008702278137207031

In [29]:
#from ayatullah import min_balance
def min_balance():
    pass

In [38]:
f = open('ait24.ait', 'a')
for i in range(100, 120):
    f.write(f'{i} x {i} = {i*i}\n')
f.close()

In [39]:
f2 = open('ait24.ait')
lines = f2.readlines()
print(lines)


#for i in f2:
#    print(i)

['100 x 100 = 10000\n', '101 x 101 = 10201\n', '102 x 102 = 10404\n', '103 x 103 = 10609\n', '104 x 104 = 10816\n', '105 x 105 = 11025\n', '106 x 106 = 11236\n', '107 x 107 = 11449\n', '108 x 108 = 11664\n', '109 x 109 = 11881\n', '110 x 110 = 12100\n', '111 x 111 = 12321\n', '112 x 112 = 12544\n', '113 x 113 = 12769\n', '114 x 114 = 12996\n', '115 x 115 = 13225\n', '116 x 116 = 13456\n', '117 x 117 = 13689\n', '118 x 118 = 13924\n', '119 x 119 = 14161\n']

In [3]:
txt = '''
def atai_max(arr):
    mx = arr[0]
    for i in arr:
        if mx < i:
           mx = i
    return mx

def atai_min(arr):
   mn = arr[0]
   for i in arr:
     if mn > i:
       mn = i
   return mn
'''

f3 = open('atai.py', 'w')
f3.write(txt)
f3.close()

In [1]:
from atai import atai_max, atai_min
arr = [8, 2, 3, 5, 2]
print(atai_min(arr))

2

In [1]:
from random import shuffle
arr = 'qwertyuiop[];lkjhgfdsazxcvbnm,./ZXCVBNM,LKJHGFDSAQWERTYUIOP1234567890!@#$%^&*()_+{}"?'
arr = list(set(arr))
original_arr = [i for i in arr]
shuffle(arr)
d = {}
for key, value in zip(original_arr, arr):
    d[key] = value

d2 = {}
for key, value in d.items():
    d2[value] = key

fid = open('password.txt', 'w')
for key, value in d.items():
    fid.write(f'{key}<->{value}\n')
fid.close()

In [30]:
def encrypt(filename):
    fid = open(filename, 'r')
    lines = fid.readlines()
    fid.close()

    fid = open(filename, 'w')
    for line in lines:
        txt = ''
        for c in line:
            try:
                txt += d[c]
            except:
                txt += c
        fid.write(txt)
    fid.close()

In [31]:
fid = open('jamelia2.txt', 'r')
lines = fid.readlines()
fid.close()

fid = open('jamelia3.txt', 'w')
for line in lines:
    txt = ''
    for c in line:
        try:
            txt += d2[c]
        except:
            txt += c
    fid.write(txt)
fid.close()

In [28]:
d['6'], d2['%']

('%', 'c')

In [39]:
from collections import defaultdict

d = defaultdict(int)

fid = open('jamelia.txt')
for line in fid:
    words = line.split()
    for w in words:
        d[w.strip()] += 1

arr = []
for key, value in d.items():
    arr.append((value, key))

print(sorted(arr)[::-1])

[(153, 'the'), (107, 'and'), (99, 'of'), (93, 'in'), (84, 'Jamelia'), (83, 'a'), (67, 'to'), (51, 'with'), (51, 'her'), (51, 'for'), (50, 'was'), (50, 'The'), (49, 'on'), (47, 'Retrieved'), (34, 'she'), (32, 'Best'), (29, 'at'), (29, 'In'), (29, 'Awards'), (26, 'from'), (25, 'single'), (25, 'as'), (21, 'has'), (21, '-'), (20, 'August'), (19, 'British'), (19, '2004'), (18, 'â€“'), (18, 'which'), (18, 'number'), (18, '2014.'), (17, 'it'), (17, 'Herself'), (15, 'that'), (15, 'UK'), (15, 'June'), (14, 'Thank'), (14, 'November'), (13, 'released'), (13, 'She'), (13, 'On'), (13, 'December'), (13, 'BBC'), (12, 'is'), (12, 'Walk'), (12, 'Series'), (12, "Jamelia's"), (12, 'It'), (11, 'had'), (11, 'album'), (11, 'Me'), (11, '"Jamelia'), (10, 'episodes'), (10, 'became'), (10, 'appeared'), (10, 'March'), (10, 'MOBO'), (10, 'July'), (10, 'I'), (10, 'Digital'), (10, 'Award'), (10, '9'), (10, '27'), (9, 'new'), (9, 'an'), (9, 'also'), (9, 'album,'), (9, 'TV'), (9, 'Single'), (9, 'September'), (9, 'Episode:'), (9, 'Brit'), (9, 'April'), (9, '30'), (9, '2007,'), (8, 'single,'), (8, 'signed'), (8, 'series'), (8, 'second'), (8, 'by'), (8, 'be'), (8, 'You'), (8, 'UK.'), (8, 'Top'), (8, 'Spy.'), (8, 'October'), (8, 'Music'), (8, 'February'), (8, 'Archived'), (8, '4'), (8, '3'), (8, '2007'), (8, '"I'), (7, 'show'), (7, 'release'), (7, 'record'), (7, 'episode'), (7, 'cover'), (7, 'R&B'), (7, 'House'), (7, 'Female'), (7, 'Drama'), (7, '2005'), (6, 'where'), (6, 'two'), (6, 'third'), (6, 'part'), (6, 'own'), (6, 'first'), (6, 'career'), (6, 'but'), (6, 'Video'), (6, 'Episode'), (6, 'Celebrity'), (6, "Boy's"), (6, '8'), (6, '21'), (6, '2024.'), (6, '2017.'), (6, '2012.'), (6, '20'), (6, '"See'), (5, 'website'), (5, 'up'), (5, 'studio'), (5, 'song'), (5, 'singles'), (5, 'sales'), (5, 'peaked'), (5, 'original'), (5, 'only'), (5, 'one'), (5, 'not'), (5, 'later'), (5, 'late'), (5, 'have'), (5, 'every'), (5, 'documentary'), (5, 'did'), (5, 'chart'), (5, 'being'), (5, 'been'), (5, 'after'), (5, 'With'), (5, 'West'), (5, 'Strictly'), (5, 'January'), (5, 'Jamelia:'), (5, 'Hearst'), (5, 'Eyes"'), (5, 'Contestant'), (5, 'Come'), (5, 'Bailey'), (5, '2019'), (5, '2008,'), (5, '16'), (5, '14'), (5, '11'), (5, '10'), (5, '"Thank'), (4, 'well'), (4, 'version'), (4, 'took'), (4, 'success'), (4, 'stage'), (4, "singer's"), (4, 'singer'), (4, 'shortly'), (4, 'return'), (4, 'range'), (4, 'pop'), (4, 'performed'), (4, 'people'), (4, 'music'), (4, 'more'), (4, 'life'), (4, 'including'), (4, 'guest'), (4, 'fourth'), (4, 'four'), (4, 'following'), (4, 'film'), (4, 'campaign'), (4, 'best'), (4, 'announced'), (4, 'about'), (4, 'You,'), (4, 'Urban'), (4, 'UK,'), (4, 'Sharon'), (4, 'Relief'), (4, 'Radio'), (4, 'Q'), (4, 'Personal'), (4, 'Party'), (4, 'Mission'), (4, 'May'), (4, 'Loose'), (4, 'Little'), (4, 'ITV'), (4, 'Hollyoaks'), (4, 'Helena'), (4, 'Hair'), (4, 'Early'), (4, 'Channel'), (4, 'Birmingham,'), (4, 'BRIT'), (4, 'BPI'), (4, 'Act'), (4, 'About'), (4, '6'), (4, '26'), (4, '2022.'), (4, '2020.'), (4, '2019.'), (4, '2009.'), (4, '2004.'), (4, '2,'), (4, '2'), (4, '19'), (4, '1'), (4, '&'), (4, '"Jamelia:'), (3, '|'), (3, 'women'), (3, 'who'), (3, 'when'), (3, 'were'), (3, 'went'), (3, 'week'), (3, 'want'), (3, 'time'), (3, 'three'), (3, 'then'), (3, 'their'), (3, 'such'), (3, 'successful'), (3, 'success,'), (3, 'stars'), (3, 'songs'), (3, 'some'), (3, 'sang'), (3, 'returned'), (3, 'projects'), (3, 'producers'), (3, 'panel'), (3, 'out'), (3, 'nominations'), (3, 'nine'), (3, 'much'), (3, 'made'), (3, 'joined'), (3, 'his'), (3, 'hair'), (3, 'general'), (3, 'five'), (3, 'featured'), (3, 'ethnic'), (3, 'endorsed'), (3, 'election'), (3, 'double'), (3, 'debut'), (3, 'deal'), (3, 'couple'), (3, 'copies'), (3, 'confirms'), (3, 'confirmed'), (3, 'certified'), (3, 'breakthrough'), (3, 'acting'), (3, 'You",'), (3, 'You"'), (3, 'Year'), (3, 'World'), (3, 'Women'), (3, 'Wikimedia'), (3, 'Whose'), (3, 'Wayback'), (3, 'Voice'), (3, 'Three'), (3, 'They'), (3, 'That'), (3, 'Telegraph.'), (3, 'Survive'), (3, 'Special"'), (3, 'Shame'), (3, 'Search'), (3, 'Richard'), (3, 'Parlophone'), (3, "Osman's"), (3, 'News.'), (3, 'Move'), (3, 'Mini-series,'), (3, 'Michael'), (3, 'Made'), (3, 'Machine'), (3, 'London.'), (3, 'List'), (3, 'Like'), (3, 'Labour'), (3, 'Ivors'), (3, 'Ireland'), (3, 'High",'), (3, 'Her'), (3, 'Handsworth,'), (3, 'Go'), (3, 'Games'), (3, 'Following'), (3, 'Fashion'), (3, 'Europe'), (3, 'Darren'), (3, 'Dancing'), (3, 'Chase'), (3, 'Career'), (3, 'CTC'), (3, 'Boux'), (3, 'Birmingham'), (3, 'Big'), (3, 'Bear'), (3, 'Around'), (3, '5'), (3, '31'), (3, '2024'), (3, '2021.'), (3, '2016.'), (3, '2016,'), (3, '2014,'), (3, '2013,'), (3, '2013'), (3, '2009,'), (3, '2009'), (3, '2008'), (3, '2003'), (3, '2001'), (3, '2000.'), (3, '1981'), (3, '15'), (3, '13'), (3, '"So'), (3, '"Money"'), (3, '"Jamelia".'), (3, '"Beware'), (2, 'working'), (2, 'worked'), (2, 'work'), (2, 'won'), (2, 'winning'), (2, 'weeks'), (2, "wasn't"), (2, 'wants'), (2, 'under'), (2, 'track'), (2, 'this'), (2, 'thirteenth'), (2, 'think'), (2, 'stated'), (2, 'star'), (2, 'sold'), (2, 'soap'), (2, "single's"), (2, 'since'), (2, 'saw'), (2, 'same'), (2, 'said'), (2, 'releases,'), (2, 'recorded'), (2, 'received'), (2, 'receive'), (2, 'reached'), (2, 'rally'), (2, 'professional'), (2, 'product'), (2, 'previously'), (2, 'presented'), (2, 'platinum.'), (2, 'platinum'), (2, 'peaking'), (2, 'panellist'), (2, 'over'), (2, 'opera'), (2, 'off'), (2, 'non-UK'), (2, 'mothers!".'), (2, 'mother'), (2, 'months'), (2, 'mix'), (2, 'mark'), (2, 'make'), (2, 'mainstream'), (2, 'mainland'), (2, 'love'), (2, 'live'), (2, 'links'), (2, 'left'), (2, 'led'), (2, 'lead'), (2, 'label'), (2, 'known'), (2, 'killer'), (2, 'judges'), (2, 'judge'), (2, 'joins'), (2, 'interview'), (2, 'hit'), (2, 'him'), (2, 'hide'), (2, 'he'), (2, 'haircare'), (2, 'grew'), (2, 'further'), (2, 'final'), (2, 'features'), (2, 'failed'), (2, 'episodes:'), (2, 'earned'), (2, 'early'), (2, 'dÃ©but'), (2, 'descentEnglish'), (2, 'departure'), (2, 'debuting'), (2, 'daughter'), (2, 'coverage'), (2, 'consecutive'), (2, 'company'), (2, 'come'), (2, 'collaboration'), (2, 'collaborated'), (2, 'children'), (2, 'child".'), (2, 'changed'), (2, 'catwalk'), (2, 'called'), (2, 'brother'), (2, 'branch'), (2, 'both'), (2, 'born'), (2, 'birth'), (2, 'best-selling'), (2, 'began'), (2, 'band'), (2, 'back'), (2, 'available'), (2, 'attended'), (2, 'artist'), (2, 'appear'), (2, 'albums,'), (2, 'albums'), (2, 'advertising'), (2, 'You.'), (2, 'Tours'), (2, 'Times.'), (2, 'This'), (2, 'Text'), (2, 'Tafarwa'), (2, 'Stars'), (2, 'Star'), (2, 'Standard.'), (2, 'Standard'), (2, 'Spy'), (2, 'Sport'), (2, 'Singles'), (2, 'See'), (2, 'School'), (2, 'Sam'), (2, 'Russia'), (2, 'Respect'), (2, 'References'), (2, 'R&B,'), (2, 'Prize'), (2, 'Privacy'), (2, 'Preston'), (2, 'Press'), (2, 'Presenting'), (2, 'Popjustice'), (2, 'Pop'), (2, 'Poll'), (2, 'Point:'), (2, 'Passion'), (2, 'Parlophone,'), (2, 'Panellist'), (2, 'Other'), (2, 'Official'), (2, 'Novello'), (2, 'Night'), (2, 'Niela'), (2, 'Next'), (2, 'New'), (2, 'Never'), (2, 'Nelson'), (2, 'Naomi'), (2, 'My'), (2, 'Music.'), (2, 'More",'), (2, 'Mind'), (2, 'Me.'), (2, 'Main'), (2, 'MTV'), (2, 'Lucky'), (2, 'Love'), (2, "Let's"), (2, 'Know'), (2, 'Kingshurst'), (2, 'Judge'), (2, 'Jeremy'), (2, 'Jamelia,'), (2, 'Jackson'), (2, 'Is'), (2, 'India.'), (2, 'However,'), (2, 'Guardian.'), (2, 'Grylls:'), (2, 'Gordon'), (2, 'Gameshow'), (2, 'Food'), (2, 'Filmography'), (2, 'Facebook.'), (2, 'External'), (2, 'Evening'), (2, 'Europe,'), (2, 'Erin'), (2, 'England'), (2, 'Edit'), (2, 'Doctors'), (2, 'Discography'), (2, "Didn't"), (2, 'Death'), (2, 'Davis)'), (2, 'Davis'), (2, 'Dating'), (2, 'Darlings'), (2, 'Dance'), (2, 'Commons'), (2, 'Charts'), (2, 'Chart'), (2, 'Centre.'), (2, 'Celebs'), (2, 'Capitol'), (2, 'Byfield'), (2, 'Buzzcocks'), (2, 'Ask'), (2, 'Anyway?'), (2, 'All'), (2, 'Aid'), (2, 'Academy.'), (2, 'A'), (2, '7'), (2, '40'), (2, '29'), (2, '28'), (2, '22'), (2, '2024,'), (2, '2023).'), (2, '2020'), (2, '2015.'), (2, '2015,'), (2, '2015).'), (2, '2014'), (2, '2013â€“present:'), (2, '2012'), (2, '2011.'), (2, '2010.'), (2, '2010,'), (2, '2008.'), (2, '2007.'), (2, '2006.'), (2, '2005â€“2010:'), (2, '2004,'), (2, '2003â€“2005:'), (2, '2000'), (2, '1999â€“2001:'), (2, '1999,'), (2, '1999'), (2, '18'), (2, '17'), (2, '11,'), (2, '100,000'), (2, '(born'), (2, '(as'), (2, '(7'), (2, '(25'), (2, '(2003)'), (2, '"Universal'), (2, '"Superstar",'), (2, '"Superstar"'), (2, '"Something'), (2, '"Singer'), (2, '"No'), (2, '"Hollyoaks'), (2, '"Chart'), (2, '"Celebrity'), (2, '"Boy'), (1, 'â€‹(m.'), (1, 'â€‹'), (1, 'Â£20'), (1, 'Â£100,000'), (1, '|author='), (1, '{{cite'), (1, 'youth.'), (1, 'young'), (1, 'you'), (1, 'yet'), (1, 'year",'), (1, 'year'), (1, "world's"), (1, 'without'), (1, 'winnersParlophone'), (1, 'winners".'), (1, 'will'), (1, 'widely'), (1, 'what'), (1, 'well.'), (1, 'wedding.[33]'), (1, 'web}}:'), (1, 'wear'), (1, 'ways,'), (1, 'walked'), (1, 'vte'), (1, 'vs.'), (1, 'vowed'), (1, 'voted'), (1, 'vocalist'), (1, 'visits'), (1, 'visit'), (1, 'view'), (1, 'video'), (1, 'victim'), (1, 'via'), (1, 'very'), (1, 'various'), (1, 'using'), (1, 'until'), (1, 'unknown'), (1, 'turn'), (1, 'tuned'), (1, 'travelling'), (1, 'travel'), (1, 'trademark'), (1, 'trade'), (1, 'tracks'), (1, 'tour.'), (1, 'topped'), (1, 'top-ten'), (1, 'top'), (1, 'tools'), (1, 'to.'), (1, 'titled'), (1, 'title:'), (1, 'title'), (1, 'time,'), (1, 'time!"[16]'), (1, 'three,'), (1, 'they'), (1, 'there'), (1, 'thanks'), (1, 'than'), (1, 'terms'), (1, 'ten-year-successful'), (1, 'television'), (1, 'teamed'), (1, 'taking'), (1, 'take'), (1, 'swimwear'), (1, 'survived'), (1, 'surprised'), (1, 'supporting'), (1, 'subsequent'), (1, 'subsection'), (1, 'stretch'), (1, 'street."'), (1, 'streaming'), (1, 'story'), (1, 'stores.'), (1, 'stocked'), (1, 'stepbrother,'), (1, 'stepbrother'), (1, 'step'), (1, 'stating'), (1, 'statementMobile'), (1, 'starred'), (1, "stand'"), (1, 'spring'), (1, 'spot'), (1, 'spoke'), (1, 'spoilers:'), (1, 'split'), (1, 'spending'), (1, 'specifically'), (1, 'spawned'), (1, 'span'), (1, 'soundtrack.'), (1, 'soundtrack'), (1, 'sound'), (1, 'songwriters21st-century'), (1, 'songs:'), (1, 'solely'), (1, 'sold-out'), (1, 'site,'), (1, 'singles.[5]'), (1, 'singles,'), (1, 'single".[14]'), (1, 'singing.'), (1, 'singing,'), (1, 'singersEnglish'), (1, 'singersBlack'), (1, 'singer.[21]'), (1, 'singer,'), (1, 'signs'), (1, 'significant'), (1, 'shows'), (1, 'show.'), (1, 'show,'), (1, 'shipped'), (1, 'shines'), (1, "she's"), (1, 'shared'), (1, 'severe'), (1, 'series[45]'), (1, 'series,'), (1, 'selling'), (1, 'sell'), (1, 'selfie'), (1, 'self-written'), (1, 'seen'), (1, 'see'), (1, 'secret'), (1, 'scrutiny'), (1, 'school,'), (1, 'school'), (1, 'scene'), (1, 'satirical'), (1, 'samples'), (1, 'sample'), (1, 'sale'), (1, 'said,'), (1, 'rumours'), (1, 'rumoured'), (1, 'roles'), (1, 'role".[30]'), (1, 'role".'), (1, 'role'), (1, 'rising'), (1, 'right'), (1, 'reviews,'), (1, 'revealed'), (1, 'retelling'), (1, 'retailers.[12]'), (1, 'resulted'), (1, 'reprises'), (1, 'reported'), (1, 'replicate'), (1, 'replacement'), (1, 'remix/covers'), (1, 'remains'), (1, 'release.'), (1, 'release,'), (1, 'relationship'), (1, 'related'), (1, 'relate'), (1, 'rejected'), (1, 'reintroduced'), (1, 'regular,'), (1, 'registered'), (1, 'recordings'), (1, 'recording'), (1, 'reconciled'), (1, 'recognition'), (1, 'recent'), (1, 'receiving'), (1, 'reality'), (1, 'reaching'), (1, 're-release,'), (1, 're-release'), (1, 'rating.[15]'), (1, 'rap'), (1, 'quickly'), (1, 'pursuing'), (1, 'publishing'), (1, 'published.'), (1, 'provide'), (1, 'proved'), (1, 'promote'), (1, 'promises'), (1, 'project'), (1, 'programme'), (1, 'products'), (1, 'producing'), (1, 'produced'), (1, 'probably'), (1, 'prison,'), (1, 'print'), (1, 'primary'), (1, 'previous'), (1, 'presents'), (1, 'presenting'), (1, 'presenter'), (1, 'premiere'), (1, 'pregnant'), (1, 'praised'), (1, 'praise,'), (1, 'poster'), (1, 'possible\'".'), (1, 'positive'), (1, 'positions'), (1, 'portraying'), (1, 'popular'), (1, 'poppier'), (1, 'pop/rock.'), (1, 'poorest'), (1, 'poor'), (1, 'policyAbout'), (1, 'podcast'), (1, 'pledging'), (1, 'played'), (1, 'physical'), (1, 'personality.'), (1, 'personal'), (1, 'performance'), (1, 'perform'), (1, 'peopleEnglish'), (1, 'peopleBritish'), (1, 'partnered'), (1, 'participated'), (1, 'parents'), (1, 'panel,'), (1, 'pair'), (1, 'page'), (1, 'p.'), (1, 'others'), (1, 'organization.'), (1, 'or'), (1, 'opinions"".'), (1, 'opening'), (1, 'ongoing'), (1, 'one-word'), (1, 'omitting'), (1, 'often'), (1, 'official'), (1, 'offering'), (1, 'nutritious'), (1, 'nothing'), (1, 'non-profit'), (1, 'nominations.[6]'), (1, 'nomination'), (1, 'nominated'), (1, 'nine.'), (1, 'news.bbc.co.uk.'), (1, 'nearby'), (1, 'nationwide'), (1, 'names'), (1, 'name'), (1, 'murderer'), (1, 'murder.[39]'), (1, 'mum'), (1, 'moved'), (1, 'mostly'), (1, 'month'), (1, 'modelling,'), (1, 'modelled'), (1, 'model'), (1, 'mind'), (1, 'mid-2004,'), (1, 'mid-2004'), (1, 'met'), (1, 'menu'), (1, 'mentioned'), (1, 'member;'), (1, 'mediocre'), (1, 'media'), (1, 'meal.[31]'), (1, 'meal'), (1, 'may'), (1, 'maternity'), (1, 'married'), (1, 'marked'), (1, 'many'), (1, 'managing'), (1, 'manager'), (1, 'managed'), (1, 'man\'".'), (1, 'making'), (1, 'makes'), (1, 'major'), (1, 'magazines'), (1, 'magazine'), (1, 'made"'), (1, 'machine.[11]'), (1, 'lost'), (1, 'local'), (1, 'listing,'), (1, 'lineup".'), (1, 'line'), (1, 'limousine.'), (1, 'lifted'), (1, 'legs'), (1, 'leaving'), (1, 'leader'), (1, 'launched'), (1, 'launch'), (1, 'later,'), (1, 'last'), (1, 'landed'), (1, 'lack'), (1, 'karaoke'), (1, 'just'), (1, 'job.'), (1, 'jamelia.com'), (1, 'itv.com.'), (1, 'its'), (1, "it's"), (1, 'issued'), (1, 'involved'), (1, 'invited'), (1, 'invitation'), (1, 'introduces'), (1, 'international'), (1, 'inspired'), (1, 'initiative'), (1, 'individually,'), (1, 'incredible'), (1, 'increase'), (1, 'includes'), (1, 'impression'), (1, 'however,'), (1, 'house'), (1, 'hop[4]'), (1, 'hop,'), (1, 'homemade'), (1, 'home,'), (1, 'holding'), (1, 'hit,'), (1, 'history'), (1, 'hip'), (1, 'highest-charting'), (1, 'highest'), (1, 'high-profile'), (1, 'high'), (1, 'herself'), (1, 'hellomagazine.com.'), (1, 'heavily'), (1, 'heard'), (1, 'heads'), (1, 'hastiness,'), (1, 'harder'), (1, 'hairdressing/hair'), (1, 'hair.'), (1, 'hailing'), (1, 'great'), (1, 'going'), (1, 'girl-group'), (1, 'girl".'), (1, 'girl'), (1, 'gig'), (1, 'generic'), (1, 'garnering'), (1, 'garner'), (1, 'gang-related'), (1, 'full-length'), (1, 'fronting'), (1, 'front'), (1, 'frequent'), (1, 'free'), (1, 'frame'), (1, 'fragrance'), (1, 'formerly'), (1, 'followed'), (1, 'flows'), (1, 'five-star'), (1, 'finely'), (1, 'finalist'), (1, 'filmography'), (1, 'filing'), (1, 'fifth'), (1, 'fellow'), (1, 'feeling'), (1, 'feel'), (1, 'favourite'), (1, 'father,'), (1, 'father'), (1, 'fashion'), (1, 'factor'), (1, 'fact'), (1, 'face'), (1, 'eye'), (1, 'extensions,'), (1, 'extensions'), (1, 'experimental",'), (1, 'experience'), (1, 'expecting'), (1, 'expected'), (1, 'executives'), (1, 'exciting"'), (1, 'everything'), (1, 'ever'), (1, 'event'), (1, 'evenings,'), (1, 'even'), (1, 'ethical'), (1, 'episodes[44]'), (1, 'episodes[43]'), (1, 'entertainment'), (1, 'entered'), (1, 'enter'), (1, 'engagement.[36]'), (1, 'end'), (1, 'encyclopedia'), (1, 'encore'), (1, 'emulate'), (1, 'election.[40]'), (1, 'eight'), (1, 'effort'), (1, 'editions'), (1, 'edition'), (1, 'edited'), (1, 'each'), (1, 'due'), (1, 'drove'), (1, 'drew'), (1, 'drawn'), (1, 'dramas,'), (1, 'drama'), (1, 'download'), (1, 'double-platinum'), (1, 'donation'), (1, 'donated'), (1, 'don\'t".'), (1, "don't"), (1, 'doing'), (1, 'documentary,'), (1, 'documentaries,'), (1, 'divorce.[37]'), (1, 'divorce".'), (1, 'divorce'), (1, 'div.'), (1, 'dispute'), (1, 'disk.[12]'), (1, 'discography'), (1, 'disappointing'), (1, 'despite'), (1, 'designed'), (1, 'described'), (1, 'delay'), (1, 'defending'), (1, 'decision'), (1, 'decade'), (1, 'debuted'), (1, 'deal".'), (1, 'day'), (1, 'daughters.'), (1, 'daughter,'), (1, 'date,'), (1, 'date".'), (1, 'date'), (1, 'databases'), (1, 'dancing'), (1, 'dancer'), (1, 'dancehall'), (1, 'dance-offs,'), (1, 'dance'), (1, 'critics'), (1, 'criticised'), (1, 'critical'), (1, 'created'), (1, 'court".'), (1, 'counterpart,'), (1, 'cook'), (1, 'convicted'), (1, 'control'), (1, 'contributed'), (1, 'contribute'), (1, 'contracts'), (1, 'contract'), (1, 'contestants'), (1, 'contestant".'), (1, 'contestant'), (1, 'contemporary'), (1, 'conjunction'), (1, 'confused'), (1, 'concert.'), (1, 'concert'), (1, 'compilation'), (1, 'competition.'), (1, 'competition'), (1, 'compared'), (1, 'commercially'), (1, 'commented'), (1, 'collectively'), (1, 'collection.[18]'), (1, 'collection,'), (1, "collection's"), (1, 'collection'), (1, 'coached'), (1, 'coach.[20]'), (1, 'co-written'), (1, 'co-hosted'), (1, 'claims'), (1, 'claiming'), (1, 'claimed'), (1, 'chorus'), (1, 'childhood'), (1, 'child.[38]'), (1, 'chat'), (1, 'charts'), (1, 'charted'), (1, 'charity'), (1, 'channel'), (1, 'certified.'), (1, 'certification.[12]'), (1, 'certification.'), (1, 'celebrity'), (1, 'celebrations'), (1, 'category.'), (1, 'cast'), (1, 'cappella'), (1, 'came'), (1, 'calling'), (1, 'brighter".'), (1, 'brevity'), (1, 'brand'), (1, 'boyfriend'), (1, 'bottle'), (1, 'bosses'), (1, 'book'), (1, 'blamed'), (1, 'birthsLiving'), (1, 'birthday'), (1, 'behind'), (1, 'before.'), (1, 'before'), (1, 'becoming'), (1, 'become'), (1, 'baby'), (1, 'axed'), (1, 'away"'), (1, 'awareness'), (1, 'awarded'), (1, 'autobiography,'), (1, 'authoring'), (1, 'asked'), (1, 'artwork.[17]'), (1, 'artwork'), (1, 'artistsSingers'), (1, 'artists'), (1, 'article:'), (1, 'are'), (1, 'apply.'), (1, 'appearing'), (1, 'appearances.'), (1, 'appearances'), (1, 'appearance,'), (1, 'any'), (1, 'another'), (1, 'amongst'), (1, 'amid'), (1, 'ambassador'), (1, 'amazing".'), (1, 'always'), (1, 'alongside'), (1, 'alone,'), (1, 'almost'), (1, 'all'), (1, 'albums.'), (1, 'album.[16]'), (1, 'ahead'), (1, 'agree'), (1, 'agency'), (1, 'against'), (1, 'afterwards'), (1, 'aforementioned'), (1, 'advertisement'), (1, 'additional'), (1, 'addition,'), (1, 'added'), (1, 'actressesIvor'), (1, 'actress'), (1, 'actors'), (1, 'active'), (1, 'act'), (1, 'account'), (1, 'abusive'), (1, '[2]'), (1, '[1]'), (1, 'Zimbabwean'), (1, 'Young.'), (1, 'You?'), (1, 'You"[52]'), (1, 'You".[33][34]'), (1, 'Ya!.'), (1, 'X'), (1, 'Would'), (1, 'WorldUniversal'), (1, 'Work'), (1, 'Word,'), (1, 'Won'), (1, 'Women.'), (1, "Women'"), (1, 'Winners'), (1, "Winner's"), (1, 'Williams'), (1, 'Will'), (1, 'WikipediaÂ®'), (1, 'WikipediaThe'), (1, 'WikipediaDisclaimersContact'), (1, 'WikipediaCode'), (1, 'Wikipedia,'), (1, 'Wikipedia'), (1, 'Wikidata'), (1, 'Wightman,'), (1, 'Width'), (1, 'Wide'), (1, 'Westwood".'), (1, 'Westmoreland.[8]'), (1, 'Weekend'), (1, 'Wednesday'), (1, 'Website'), (1, 'Ways'), (1, 'Warner,'), (1, 'Want'), (1, 'Wallen,'), (1, 'Wales.'), (1, 'Wales'), (1, 'WAR'), (1, 'Vote".'), (1, 'Vimeo.'), (1, 'View'), (1, 'Vernon'), (1, 'Valentine'), (1, 'Ustream.tv.[19]'), (1, 'Usher'), (1, 'Use'), (1, 'Upcoming'), (1, 'Under'), (1, 'Ultimately,'), (1, 'Uganda'), (1, 'UN,'), (1, 'UK".'), (1, 'Trust'), (1, 'Tristan'), (1, 'Town'), (1, 'Tour:'), (1, 'Tour'), (1, 'Tools'), (1, 'Toni'), (1, 'Toggle'), (1, 'Tiziano'), (1, 'Title'), (1, 'Tipping'), (1, 'Tindall,'), (1, 'Timberlake'), (1, 'Tim'), (1, 'Tiani,'), (1, 'Three.'), (1, "Three's"), (1, 'Terry'), (1, 'Terms'), (1, 'Ten.'), (1, 'Teja'), (1, 'Technology'), (1, 'Tatiana'), (1, 'Tamara'), (1, 'Talk'), (1, 'Taking'), (1, 'TV.'), (1, 'TMF'), (1, 'Sweden.'), (1, 'Sussex.'), (1, 'Survive".'), (1, 'Superstar:'), (1, 'Superstar'), (1, 'Sugababes'), (1, 'Subsequently,'), (1, 'Studio'), (1, 'Stronger'), (1, 'Street,'), (1, "Stranglers'"), (1, 'Stories'), (1, 'Store".'), (1, 'Stephen'), (1, 'Staying'), (1, 'Staveley,'), (1, "Star's"), (1, 'Squares".'), (1, 'Squares'), (1, 'Spouse')

In [40]:
fid = open('jamelia.txt')
lines = fid.readlines()
fid.close()

fid2 = open('jamelia2.txt', 'w')
for line in lines:
    line = line.replace("the", "janabashka")
    fid2.write(line)
fid2.close()

In [4]:
fid = open('user.csv', 'r')
for i in fid:
    print(len(i), i)
fid.close()

20 emil,bilgazyev,1984

20 sultan,eraliev,2007

17 atai,sultan,2874

15 emir,aktan,1784

In [6]:
from csv import reader
fid = open('user.csv', 'r')
lines = reader(fid)
for i in lines:
    print(len(i), i)
fid.close()

3 ['emil', 'bilgazyev', '1984']
3 ['sultan', 'eraliev', '2007']
3 ['atai', 'sultan', '2874']
3 ['emir', 'aktan', '1784']

In [8]:
arr = list(range(100))
print(arr)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [11]:
from csv import writer
fid = open('tablitsa.csv', 'w')
file = writer(fid)
matrix = []
for i in range(1,10):
    for j in range(1,10):
        matrix.append([i, j, i*j, i**2, j**2, i**2 * j**2])
file.writerows(matrix)
print(matrix)
fid.close()

[[1, 1, 1, 1, 1, 1], [1, 2, 2, 1, 4, 4], [1, 3, 3, 1, 9, 9], [1, 4, 4, 1, 16, 16], [1, 5, 5, 1, 25, 25], [1, 6, 6, 1, 36, 36], [1, 7, 7, 1, 49, 49], [1, 8, 8, 1, 64, 64], [1, 9, 9, 1, 81, 81], [2, 1, 2, 4, 1, 4], [2, 2, 4, 4, 4, 16], [2, 3, 6, 4, 9, 36], [2, 4, 8, 4, 16, 64], [2, 5, 10, 4, 25, 100], [2, 6, 12, 4, 36, 144], [2, 7, 14, 4, 49, 196], [2, 8, 16, 4, 64, 256], [2, 9, 18, 4, 81, 324], [3, 1, 3, 9, 1, 9], [3, 2, 6, 9, 4, 36], [3, 3, 9, 9, 9, 81], [3, 4, 12, 9, 16, 144], [3, 5, 15, 9, 25, 225], [3, 6, 18, 9, 36, 324], [3, 7, 21, 9, 49, 441], [3, 8, 24, 9, 64, 576], [3, 9, 27, 9, 81, 729], [4, 1, 4, 16, 1, 16], [4, 2, 8, 16, 4, 64], [4, 3, 12, 16, 9, 144], [4, 4, 16, 16, 16, 256], [4, 5, 20, 16, 25, 400], [4, 6, 24, 16, 36, 576], [4, 7, 28, 16, 49, 784], [4, 8, 32, 16, 64, 1024], [4, 9, 36, 16, 81, 1296], [5, 1, 5, 25, 1, 25], [5, 2, 10, 25, 4, 100], [5, 3, 15, 25, 9, 225], [5, 4, 20, 25, 16, 400], [5, 5, 25, 25, 25, 625], [5, 6, 30, 25, 36, 900], [5, 7, 35, 25, 49, 1225], [5, 8, 40, 25, 64, 1600], [5, 9, 45, 25, 81, 2025], [6, 1, 6, 36, 1, 36], [6, 2, 12, 36, 4, 144], [6, 3, 18, 36, 9, 324], [6, 4, 24, 36, 16, 576], [6, 5, 30, 36, 25, 900], [6, 6, 36, 36, 36, 1296], [6, 7, 42, 36, 49, 1764], [6, 8, 48, 36, 64, 2304], [6, 9, 54, 36, 81, 2916], [7, 1, 7, 49, 1, 49], [7, 2, 14, 49, 4, 196], [7, 3, 21, 49, 9, 441], [7, 4, 28, 49, 16, 784], [7, 5, 35, 49, 25, 1225], [7, 6, 42, 49, 36, 1764], [7, 7, 49, 49, 49, 2401], [7, 8, 56, 49, 64, 3136], [7, 9, 63, 49, 81, 3969], [8, 1, 8, 64, 1, 64], [8, 2, 16, 64, 4, 256], [8, 3, 24, 64, 9, 576], [8, 4, 32, 64, 16, 1024], [8, 5, 40, 64, 25, 1600], [8, 6, 48, 64, 36, 2304], [8, 7, 56, 64, 49, 3136], [8, 8, 64, 64, 64, 4096], [8, 9, 72, 64, 81, 5184], [9, 1, 9, 81, 1, 81], [9, 2, 18, 81, 4, 324], [9, 3, 27, 81, 9, 729], [9, 4, 36, 81, 16, 1296], [9, 5, 45, 81, 25, 2025], [9, 6, 54, 81, 36, 2916], [9, 7, 63, 81, 49, 3969], [9, 8, 72, 81, 64, 5184], [9, 9, 81, 81, 81, 6561]]

In [1]:
def encrypt(string, dt):
        txt = ''
        for c in string:
            try:
                txt += dt[c]
            except:
                txt += c
        return txt
#['6g1OBVP nrV$BgV0', '100', '', '100', '', '100', '75', '100', '60', '95', '', '', '', '', '', '', '', '']
def nash_avg(arr):
    s = 0
    count = 0
    for i in arr:
        try:
            s += int(i)
            count += 1
        except:
            pass
    return round(s/7), count


def count_students(grades, counter):
    for i in range(len(grades)):
        try:
            int(grades[i])
            counter[i] += 1
        except:
            pass


from csv import reader
fid = open('exams.csv', 'r')
csv_reader = reader(fid)
header = None
result = []
for row in csv_reader:
    if not header:
        header = row[2:]
        counter = [0 for i in header]
    else:
        #print(encrypt(row[1]),  nash_avg(row[2:]))
        name = row[1]
        if 'Jaina' in name:
            print(name)
        else:
            
            result.append( (nash_avg(row[2:]), encrypt(encrypt(row[1], d), d2)))

from time import sleep

for avg, name in sorted(result)[::-1][:10]:
    print(name, avg)

# for N in range(1, 60):
#     for i in sorted(result)[-N:]:
#         #print(i)
#         pass
#     print('***************\n\n')
#     n = N*20
#     print('putting to pause for = ', n, ' seconds')
#     sleep(0)

FileNotFoundError: [Errno 2] No such file or directory: 'exams.csv'

In [14]:

def count_students(grades, counter, summa, min, max):
    for i in range(len(grades)):
        try:
            g = int(grades[i])
            counter[i] += 1
            summa[i] += g
            if min[i] > g:
                min[i]= g
            if max[i] < g:
                max[i] = g
                
        except:
            s = 0


from csv import reader
fid = open('exams.csv', 'r')
csv_reader = reader(fid)
header = None
result = []
for row in csv_reader:
    if not header:
        header = row[2:]
        counter = [0 for i in header]
        summa = [0 for i in header]
        min = [float('+inf') for i in header]
        max = [float('-inf') for i in header]
    else:
        count_students(row[2:], counter, summa, min, max)

for date, count,s,mn,mx in zip(header, counter, summa, min, max):
    if count > 0:
        print(date, count, s//count, mn , mx)

09/03/2024 57 78 20 100
09/09/2024 51 75 0 100
09/11/2024 6 76 50 100
09/16/2024 53 56 0 110
09/18/2024 53 75 5 105
09/23/2024 54 67 0 100
09/24/2024 51 61 20 100
10/02/2024 49 65 0 100

In [18]:

def count_missing(name, grades, missing, count):
    for i in range(len(grades)):
        try:
            int(grades[i])
            count[i] += 1
        except:
            missing[i].append(name)


from csv import reader
fid = open('exams.csv', 'r')
csv_reader = reader(fid)
header = None
result = []
for row in csv_reader:
    if not header:
        header = row[2:]
        counter = [0 for i in header]
        missing = [[] for i in header]
    else:
        count_missing(row[1], row[2:], missing, counter)

for date, count, m in zip(header, counter, missing):
    if count > 0:
        print(date, len(m), m)

09/03/2024 5 ['Ismailbek Nurjanov', 'Muhammed Kadirkulov', 'Aknazar Beishaliev', '', '']
09/09/2024 11 ['Baystan Jildizbekov', 'Tolonbek Abdibekov', 'Almaz Tutashbaev', 'Shergazi Eraliev', 'Dair Ainakulov', 'Omurbek Seitbekov', 'Muhammed Kadirkulov', 'Aziz Kalmatov', 'Aknazar Beishaliev', '', '']
09/11/2024 56 ['Barsbek Umetbaev', 'Jainagul Joodonbek kizi', 'Baystan Jildizbekov', 'Alienora Kurbanbekova', 'Tinchtikbek Rahmatulin', 'Bekbolsun Ismanov', 'Daniial Va-Ahunov', 'Aman Anarbekov', 'Alimhan Seydakmatov', 'Salma Aydralieva', 'Erlan Balabekov', 'Aiatulla Turatbaev', 'Alimbek Mamatjanov', 'Tolonbek Abdibekov', 'Nazima Dildebeka', 'Almaz Tutashbaev', 'Azim Ishenbaev', 'Diaz Kenjetaev', 'Elina Baktigulova', 'Kubanich Kaparov', 'Kutman Melisov', 'Sumaya Nasiridinova', 'Aktan Asanaliev', 'Shergazi Eraliev', 'Adina Tagaeva', 'Nurdin Ismailov', 'Eleonora Asanova', 'Aktanbek Keneshov', 'Azamjan Umarov', 'Gulnura Onolbekova', 'Aiana Cherikova', 'Aiana Tologonova', 'Alaman Risbekov', 'Nasipa Abdiraimova', 'Aktan Mamatjanova', 'Altinbek Tashtanov', 'Dair Ainakulov', 'Talant Mataev', 'Umar Isakov', 'Janishbek Tinibekov', 'Atabek Aitiev', 'Daniar Karimov', 'Erbol Ruslanov', 'Omurbek Seitbekov', 'Almaz Abdimanapov', 'Akbar Sharipov', 'Intimak Almazbek uulu', 'Nurmuhammed Kalmamatov', 'Bekbolsun Kerimov', 'Bermet Arstanalieva', 'Ismailbek Nurjanov', 'Muhammed Kadirkulov', 'Aziz Kalmatov', 'Aknazar Beishaliev', '', '']
09/16/2024 9 ['Tinchtikbek Rahmatulin', 'Azim Ishenbaev', 'Nurjigit Nurgaliev', 'Azamjan Umarov', 'Janishbek Tinibekov', 'Muhammed Kadirkulov', 'Aknazar Beishaliev', '', '']
09/18/2024 9 ['Nurjigit Nurgaliev', 'Shergazi Eraliev', 'Adina Tagaeva', 'Aiana Tologonova', 'Aktan Mamatjanova', 'Muhammed Kadirkulov', 'Aknazar Beishaliev', '', '']
09/23/2024 8 ['Tinchtikbek Rahmatulin', 'Atai Mambetov', 'Nurjigit Nurgaliev', 'Aiana Tologonova', 'Aktan Mamatjanova', 'Bekbolsun Kerimov', '', '']
09/24/2024 11 ['Tinchtikbek Rahmatulin', 'Nazima Dildebeka', 'Atai Mambetov', 'Nurjigit Nurgaliev', 'Aktan Mamatjanova', 'Altinbek Tashtanov', 'Umar Isakov', 'Atabek Aitiev', 'Bekbolsun Kerimov', '', '']
10/02/2024 13 ['Tinchtikbek Rahmatulin', 'Diaz Kenjetaev', 'Kubanich Kaparov', 'Sumaya Nasiridinova', 'Shergazi Eraliev', 'Nurdin Ismailov', 'Aiana Cherikova', 'Aktan Mamatjanova', 'Bekbolsun Kerimov', 'Muhammed Kadirkulov', 'Aziz Kalmatov', '', '']

In [18]:
from random import randint, shuffle
names = ['aktan', 'barsbek', 'aziz', 'kutman', 'alimhan', 
             'kutman duyshonov', 'aktanbek keneshov', 'altynbek', 'aliya', 'elina', 
             'adina', 'tynchtyk', 'yntymak', 'nurtilek', 'azim', 
             'atai', 'ismail', 'omurbek', 'nurjigit', 'nazima', 'jayna',
              'nasipa', 'salma', 'azam', 'bermet', 'ayana', 'ela', 'bekbolsun kerimov', 'diaz'] 

shuffle(names)

print(len(names))
n = randint(0,20)
from time import sleep

for name in names:
    print(name, randint(10+n, 110-n))

29
nurjigit 65
azam 58
aziz 55
aktanbek keneshov 80
diaz 73
barsbek 90
salma 75
atai 65
aktan 90
nasipa 55
alimhan 65
adina 72
kutman 52
bekbolsun kerimov 88
omurbek 78
yntymak 75
nazima 37
bermet 47
jayna 34
ela 68
ismail 87
altynbek 59
elina 53
aliya 31
azim 70
nurtilek 54
kutman duyshonov 65
ayana 74
tynchtyk 82

In [11]:
s = '''aktan 28
barsbek 72
aziz 23
kutman 36
alimhan 31
kutman duyshonov 21
aktanbek keneshov 94
altynbek 77
aliya 86
elina 48
adina 59
tynchtyk 54
yntymak 45
nurtilek 75
azim 91
atai 105
ismail 11
omurbek 17
nurjigit 24
nazima 82
jayna 71
nasipa 17
salma 96
azam 53
bermet 68
ayana 107
ela 30
bekbolsun kerimov 32
diaz 67'''

s = s.split('\n')
sum = 0
count= 0
for i in s:
    x = i.split()
    if len(x) == 3:
        sum += int(x[2])
    else:
        sum += int(x[1])
    count += 1

print(sum / count)

55.86206896551724

In [20]:
from random import randint
s = 0
N = 10000000
arr = [0]*101
for i in range(N):
    index = randint(0, 100)
    arr[index] += 1
    s += index

print('average = ', s / N)
print(min(arr), max(arr))
print((max(arr) - min(arr))/max(arr)*100)
print(arr)

average =  50.0007561
98165 99681
1.5208515163371155
[99217, 99152, 99212, 98978, 98655, 98855, 98974, 99062, 99179, 99384, 98916, 99057, 98558, 98838, 99503, 98610, 98820, 98925, 99454, 99083, 98661, 99170, 98165, 99035, 99234, 98939, 98764, 98898, 98710, 98941, 98783, 98746, 99059, 99084, 98822, 99050, 98593, 98950, 98918, 99047, 99112, 99588, 99444, 99048, 98864, 99252, 99241, 98701, 99214, 99247, 99103, 98654, 99029, 99537, 99177, 99100, 99182, 99538, 99066, 99275, 98497, 99148, 99681, 98979, 98165, 99143, 99098, 99036, 99187, 99109, 98997, 98919, 99387, 99396, 99232, 99080, 98748, 99546, 99337, 98413, 98784, 98954, 98419, 98653, 99391, 99229, 98541, 98705, 99185, 98804, 99381, 98734, 99167, 98545, 98722, 99280, 99645, 99366, 98748, 98448, 98828]

In [19]:
n

20

In [20]:
s = '''nurjigit 65
azam 58
aziz 55
aktanbek keneshov 80
diaz 73
barsbek 90
salma 75
atai 65
aktan 90
nasipa 55
alimhan 65
adina 72
kutman 52
bekbolsun kerimov 88
omurbek 78
yntymak 75
nazima 37
bermet 47
jayna 34
ela 68
ismail 87
altynbek 59
elina 53
aliya 31
azim 70
nurtilek 54
kutman duyshonov 65
ayana 74
tynchtyk 82'''

s = s.split('\n')
sum = 0
count= 0
for i in s:
    x = i.split()
    if len(x) == 3:
        sum += int(x[2])
    else:
        sum += int(x[1])
    count += 1

print(sum / count)

65.41379310344827

In [ ]:
from csv import reader
reader1 = reader(open('sales.csv'))
next(reader1)
sales_arr = [i for i in reader1]

reader2 = reader(open('purchase.csv'))
next(reader2)
next(reader2)

purchase_d = {}
for name, price in reader2:
    purchase_d[name] = price


# what is the total profit
def get_total():
    s = 0
    for date, name, price in sales_arr:
        s += price - purchase_d[name]
    return s

# most profitable item
def most_profit_item():
    d = {}
    for date, name, price in sales_arr:
        d[name] = d.get(name, 0) + (price - purchase_d[name])
    return max([(value, key) for key, value in d.items()])

# most profitable mohth
def most_profit_item():
    d = {}
    for date, name, price in sales_arr:
        month = date.split('/')[1]
        d[month] = d.get(month, 0) + (price - purchase_d[name])
    return max([(value, key) for key, value in d.items()])


# total count in last six month
def last_six_month(six_month = '20240421'):
    count = 0
    for date, name, price in sales_arr:
        day, month, year = date.split('/')
        date = '20' + year + month + day
        if date > six_month:
            count += 1 
    return count

In [ ]:
file = reader(open('grades.csv'))
header = next(file)
final = {}
for i in file:
    name = i[0]
    arr = [int(j) for j in i[1:]]
    grades = sorted(arr, reverse=True)
    avg = sum(grades) / len(grades)
    final[name] = avg

In [ ]:
from random import randint, shuffle
names = ['atai', 'kutman duyshonov', 'nurjigit', 'muhammed',
         'bekbolsun kerimov', 'aknazar', 'tynchtyk', 'diaz'] 

shuffle(names)

print(len(names))
from time import sleep

for name in names:
    print(name, randint(5, 40))
    sleep(5)

In [24]:
from random import randint
randint(82, 102)

122

In [80]:
import csv
from csv import writer
fid = open('mbank.csv', 'w', newline='')
file = writer(fid, quoting=csv.QUOTE_NONNUMERIC)
file.writerow(['Date', 'FromUser', 'ToUser', 'Amount', 'Currency'])
users = ['Emil Bilgazyev', 'Ulan Mamatisaev', 'Gulnur Satylganova', 'Mirbek Atabekov', 'Bek Borbiev']
currencies = ['KYRGYZ SOM', 'RUSSIAN RUBLE', 'UNITED STATES DOLLAR', 'KAZAKH TENGE', 'EUROPEAN EURO']
for i in range(100000):
    day = randint(1, 30)
    month = randint(1, 12)
    cid = randint(0, len(currencies) - 1)
    currency = currencies[cid]
    from_id = randint(0, len(users) -1)
    from_user = users[from_id]
    to_id = randint(0, len(users) -1)
    to_user = users[to_id]
    hour = randint(0, 24)
    min = randint(0, 60)
    sec = randint(0, 60)
    file.writerow([f'{day}/{month}/2024 {hour}:{min}:{sec}', from_user, to_user, randint(100, 10000), currency])
fid.close()

In [125]:
from time import time
from csv import writer

def write_to_file(filename, arr):
    fid = open(filename, 'w', newline='')
    file = writer(fid, quoting=csv.QUOTE_NONNUMERIC)
    for id, val in enumerate(arr):
        file.writerow([id, val]) 
    fid.close()
fid = open('mbank_short.csv', 'w',newline='')
file = writer(fid, quoting=csv.QUOTE_NONNUMERIC)
file.writerow(['Date', 'FromUser', 'ToUser', 'Amount', 'Currency'])
users = ['Emil Bilgazyev', 'Ulan Mamatisaev', 'Gulnur Satylganova', 'Mirbek Atabekov', 'Bek Borbiev']
currencies = ['KYRGYZ SOM', 'RUSSIAN RUBLE', 'UNITED STATES DOLLAR', 'KAZAKH TENGE', 'EUROPEAN EURO']
currencies = c
for i in range(1000000):
    cid = randint(0, len(currencies) - 1)
    from_id = randint(0, len(users) -1)
    to_id = randint(0, len(users) -1)
    ts = int(time()) + randint(0,100000)
    file.writerow([ts, from_id, to_id, randint(100, 10000), cid])
fid.close()

write_to_file('users.csv', users)
write_to_file('currencies.csv', currencies)

In [122]:
currencies = ['KYRGYZ SOM', 'RUSSIAN RUBLE', 'UNITED STATES DOLLAR', 'KAZAKH TENGE', 'EUROPEAN EURO']

c  = [i for i in currencies]
for i in range(100):
    for j in currencies:
        c.append(j + str(i))

write_to_file('currencies2.csv', c)

In [76]:
from csv import reader, writer

fid = open('mbank_short.csv')
file = reader(fid)
next(file)
balance = {}
for f in file:
    if len(f) > 0:
        _, from_id, to_id, amount, cid = f
        if from_id in balance:
            balance[from_id][cid] = balance[from_id].get(cid, 0) - int(amount)
        else:
            balance[from_id] = {cid: -int(amount)}
        
        if to_id in balance:
            balance[to_id][cid] = balance[to_id].get(cid, 0) + int(amount)
        else:
            balance[to_id] = {cid: int(amount)}


file = reader(open('users.csv'))
users = {}
for i in file:
    if len(i) > 0:
        id, name = i
        users[id] = name


file = reader(open('currencies.csv'))
currencies = {}
for i in file:
    if len(i) > 0:
        id, currency = i
        currencies[id] = currency


for name, values in balance.items():
    print(users[name])
    for id in values:
        print(currencies[id], values[id])
    print()


for name, values in balance.items():
    print(users[name], [(currencies[id], amount) for id, amount in values.items()])


fid = open('balance1.csv', 'w', newline='')
file = writer(fid, quoting=csv.QUOTE_NONNUMERIC)
cids = range(len(currencies))
file.writerow(['name'] + [currencies[str(id)] for id in cids])
for name, values in balance.items():
    arr = []
    for i in cids:
        arr.append(values[str(i)])
    file.writerow([users[name]] + arr)
fid.close()

Emil Bilgazyev
RUSSIAN RUBLE -950680
KYRGYZ SOM 421352
EUROPEAN EURO 516062
UNITED STATES DOLLAR -1974323
KAZAKH TENGE -3842019

Gulnur Satylganova
RUSSIAN RUBLE 1031687
KYRGYZ SOM 2737652
KAZAKH TENGE -492478
UNITED STATES DOLLAR 133873
EUROPEAN EURO 1705228

Mirbek Atabekov
RUSSIAN RUBLE 752556
KYRGYZ SOM -2505010
KAZAKH TENGE 2177250
EUROPEAN EURO 279219
UNITED STATES DOLLAR 2455454

Bek Borbiev
KYRGYZ SOM -270379
RUSSIAN RUBLE 582866
KAZAKH TENGE 81419
EUROPEAN EURO -1820060
UNITED STATES DOLLAR 1876760

Ulan Mamatisaev
RUSSIAN RUBLE -1416429
EUROPEAN EURO -680449
KYRGYZ SOM -383615
KAZAKH TENGE 2075828
UNITED STATES DOLLAR -2491764

Emil Bilgazyev [('RUSSIAN RUBLE', -950680), ('KYRGYZ SOM', 421352), ('EUROPEAN EURO', 516062), ('UNITED STATES DOLLAR', -1974323), ('KAZAKH TENGE', -3842019)]
Gulnur Satylganova [('RUSSIAN RUBLE', 1031687), ('KYRGYZ SOM', 2737652), ('KAZAKH TENGE', -492478), ('UNITED STATES DOLLAR', 133873), ('EUROPEAN EURO', 1705228)]
Mirbek Atabekov [('RUSSIAN RUBLE', 752556), ('KYRGYZ SOM', -2505010), ('KAZAKH TENGE', 2177250), ('EUROPEAN EURO', 279219), ('UNITED STATES DOLLAR', 2455454)]
Bek Borbiev [('KYRGYZ SOM', -270379), ('RUSSIAN RUBLE', 582866), ('KAZAKH TENGE', 81419), ('EUROPEAN EURO', -1820060), ('UNITED STATES DOLLAR', 1876760)]
Ulan Mamatisaev [('RUSSIAN RUBLE', -1416429), ('EUROPEAN EURO', -680449), ('KYRGYZ SOM', -383615), ('KAZAKH TENGE', 2075828), ('UNITED STATES DOLLAR', -2491764)]

In [45]:
from collections import defaultdict
d = defaultdict(dict)
d[10] = 10

d[40][50] = 20

print(d[10], d[20])

10 {}

In [ ]:
# from - to: total amount of each currency
# usd how many people transferred
# who sent to specific user
# if we take 0.1% from each transaction, how much did bank made?

In [58]:
from random import randint
[randint(1, 60) for i in range(3)]

[28, 25, 12]

In [86]:
import csv
fid = open('mbank_short.csv', 'r')
r = reader(fid, quoting=csv.QUOTE_NONNUMERIC)
for i in r:
    pass

In [100]:
def get_amount_transfer(sender_name, receiver_name):
    with open('users.csv', 'r') as fid:
        users = {name:id for id, name in reader(fid, quoting=csv.QUOTE_NONNUMERIC)}
    with open('currencies.csv', 'r') as fid:
        currencies = {id:currency for id, currency in reader(fid, quoting=csv.QUOTE_NONNUMERIC)}

    d = defaultdict(int)
    with open('mbank_short.csv', 'r') as daniel:
        data = reader(daniel, quoting=csv.QUOTE_NONNUMERIC)
        next(data)
        arr = list(data)
        for date, from_id, to_id, amount, currency_id in arr:
            if users[sender_name] == from_id and users[receiver_name] == to_id:
                d[currencies[currency_id]] += amount
    print('data length = ', len(arr))
    return d

get_amount_transfer('Emil Bilgazyev', 'Ulan Mamatisaev')

data length =  1000000

defaultdict(int,
            {'KYRGYZ SOM': 40997683.0,
             'UNITED STATES DOLLAR': 39855099.0,
             'EUROPEAN EURO': 40554717.0,
             'KAZAKH TENGE': 40848804.0,
             'RUSSIAN RUBLE': 40631682.0})

In [103]:
fid = open('users.csv')
data = reader(fid, quoting=csv.QUOTE_NONNUMERIC)
for i in data:
    print(i)

print('printing again')
for i in data:
    print(i)

[0.0, 'Emil Bilgazyev']
[1.0, 'Ulan Mamatisaev']
[2.0, 'Gulnur Satylganova']
[3.0, 'Mirbek Atabekov']
[4.0, 'Bek Borbiev']
printing again

In [104]:
arr = [1,2,3]
for i in arr:
    print(i)

print('printing again')

for i in arr:
    print(i)

1
2
3
printing again
1
2
3

In [107]:
print(list(range(10)))
print([i for i in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
from itertools import zip_longest
arr1 = [1,2,3]
arr2 = [4,5,6,7]
print(zip(arr1, arr2))
print(list(zip_longest(arr1, arr2,)))

<zip object at 0x00000184B58FE880>
[(1, 4), (2, 5), (3, 6), (None, 7)]

In [129]:
def get_currency_id(name):
     with open('currencies.csv', 'r') as fid:
          data = reader(fid)
          for id, currency_name in data:
               if currency_name == name:
                    return id

def get_count(name):
    id = get_currency_id(name)
    count = 0
    with open('mbank_short.csv', 'r') as fid:
          data = reader(fid)
          for _, _, _, amount, cid in data:
               if cid == id:
                    count += 1
    return count

print(get_count('EUROPEAN EURO99'))

1989

In [130]:
def get_count2(name):
    with open('currencies.csv') as fid:
         data = reader(fid)
         currencies = {name:id for id, name in data}
    id = currencies[name]    
    count = 0
    with open('mbank_short.csv', 'r') as fid:
          data = reader(fid)
          for _, _, _, _, cid in data:
               if cid == id:
                    count += 1
    return count

print(get_count2('EUROPEAN EURO99'))

1989

In [126]:
with open('currencies.csv', 'r') as fid:
          data = list(reader(fid))

def get_currency_name(currency_id):
     for id, currency_name in data:
          if id == currency_id:
               return currency_name


def get_count3(name):
    id = get_currency_id(name)
    count = 0
    with open('mbank_short.csv', 'r') as fid:
          data = reader(fid)
          for i in data:
               if get_currency_name(i[4]) == name:
                    count += 1
    return count

print(get_count3('EUROPEAN EURO99'))

1989

In [135]:
def get_senders_list(name):
    with open('users.csv') as fid:
         data = list(reader(fid))
         name_to_id = {name:id for id, name in data}
         id_to_name = {id:name for id, name in data}

    id = name_to_id[name]    
    counter = defaultdict(int)
    s = set()
    with open('mbank_short.csv', 'r') as fid:
          data = reader(fid)
          for _, sender_id, receiver_id, _, _ in data:
               if receiver_id == id:
                    counter[id_to_name[sender_id]] += 1
                    s.add(id_to_name[sender_id])
    return s, counter

s, c = get_senders_list('Ulan Mamatisaev')
print(s)
print(c)

{'Mirbek Atabekov', 'Gulnur Satylganova', 'Bek Borbiev', 'Emil Bilgazyev', 'Ulan Mamatisaev'}
defaultdict(<class 'int'>, {'Bek Borbiev': 40253, 'Emil Bilgazyev': 39542, 'Mirbek Atabekov': 40365, 'Ulan Mamatisaev': 40302, 'Gulnur Satylganova': 39732})

In [137]:
d = defaultdict(int)
print(d[10])
d[10] = 20
print(d[10])

0
20

In [140]:
d = defaultdict(list)
d[10].append(20)
print(d)
print(d[20])
print(d)

defaultdict(<class 'list'>, {10: [20]})
[]
defaultdict(<class 'list'>, {10: [20], 20: []})

In [142]:
d = defaultdict(str)
print(d[10])
print(d)

defaultdict(<class 'str'>, {10: ''})

In [148]:
d = defaultdict(dict)

d[30]['emil'] = 50

print(d)
print(d[30]['emil'])

defaultdict(<class 'dict'>, {30: {'emil': 50}})
50

In [14]:
import pandas as pd
import random
import faker
from datetime import datetime, timedelta

fake = faker.Faker()

# Helper function to generate random dates
def generate_random_date(start_date, end_date):
    return start_date + timedelta(days=random.randint(0, (end_date - start_date).days))

# Generate distributor.csv
distributors = {
    'distributor_id': range(1, 31),
    'distributor_name': [fake.company() for _ in range(30)],
    'tel_number': [fake.phone_number() for _ in range(30)]
}
distributor_df = pd.DataFrame(distributors)

# Generate products.csv
products = {
    'product_id': range(1, 101),
    'product_name': [fake.word() for _ in range(100)],
    'product_weight': [round(random.uniform(0.5, 10), 2) for _ in range(100)]  # weight between 0.5kg and 10kg
}
products_df = pd.DataFrame(products)

# Generate clients.csv
clients = {
    'client_id': range(1, 101),
    'client_name': [fake.name() for _ in range(100)],
    'client_phone': [fake.phone_number() for _ in range(100)],
    'client_address': [fake.address() for _ in range(100)]
}
clients_df = pd.DataFrame(clients)

count = [random.randint(1, 100) for _ in range(500)]
price_per_item=  [random.randint(10, 500) for _ in range(500)]
purchase = {
    'date': [generate_random_date(datetime(2023, 1, 1), datetime(2023, 12, 31)) for _ in range(500)],
    'distributor_id': [random.randint(1, 30) for _ in range(500)],
    'count': count,
    'price_per_item': price_per_item,
    'total_cost': [i*j for i, j in zip(count, price_per_item)]
}

purchase_df = pd.DataFrame(purchase)

count = [random.randint(1, 100) for _ in range(10000)]
price_per_item = [random.randint(10, 500) for _ in range(10000)]
sales = {
    'date': [generate_random_date(datetime(2023, 1, 1), datetime(2023, 12, 31)) for _ in range(10000)],
    'client_id': [random.randint(1, 100) for _ in range(10000)],
    'count': count,
    'price_per_item': price_per_item,
    'total_cost': [i*j for i,j in zip(count, price_per_item)]
}
sales_df = pd.DataFrame(sales)

pth = 'C:\\Users\\User\\Downloads\\data'
distributor_df.to_csv(pth + '\\distributor.csv', index=False)
products_df.to_csv(pth + '\\products.csv', index=False)
clients_df.to_csv(pth + '\\clients.csv', index=False)
purchase_df.to_csv(pth + '\\purchase.csv', index=False)
sales_df.to_csv(pth + '\\sales.csv', index=False)

#import ace_tools as tools; tools.display_dataframe_to_user(name="Distributors", dataframe=distributor_df)

In [12]:
count = [random.randint(1, 100) for _ in range(10000)]
price_per_item = [random.randint(10, 500) for _ in range(10000)]

In [13]:
len(count)

10000

In [31]:
s = '''
Barsbek Umetbaev
Jainagul Joodonbek kizi
Baystan Jyldyzbekov
Alienora Kurbanbekova
Tynchtykbek Rahmatulin
Bekbolsun Ysmanov
Daniial Va-Ahunov
Aman Anarbekov
Alimhan Seydakmatov
Salma Aydralieva
Erlan Balabekov
Aiatulla Turatbaev
Alymbek Mamatjanov
Tolonbek Abdibekov
Nazima Dildebeka
Almaz Tutashbaev
Azim Ishenbaev
Atai Mambetov
Diaz Kenjetaev
Elina Baktigulova
Kubanich Kaparov
Kutman Melisov
Sumaya Nasiridinova
Aktan Asanaliev
Nurjigit Nurgaliev
Shergazi Eraliev
Adina Tagaeva
Nurdin Ismailov
Eleonora Asanova
Aktanbek Keneshov
Azamjan Umarov
Gulnura Onolbekova
Aiana Cherikova
Aiana Tologonova
Nurtilek Abibillaev
Alaman Rysbekov
Nasipa Abdiraimova
Aktan Mamatjanova
Altynbek Tashtanov
Kutman Duishenov
Dair Ainakulov
Talant Mataev
Umar Isakov
Janishbek Tynybekov
Zarylbek Attokurov
Atabek Aitiev
Daniar Karimov
Erbol Ruslanov
Omurbek Seitbekov
Almaz Abdimanapov
Akbar Sharipov
Yntymak Almazbek uulu
Jumabek Kalybaev
Nurmuhammed Kalmamatov
Bekbolsun Kerimov
Bermet Arstanalieva
Ismailbek Nurjanov
Muhammed Kadirkulov
Aziz Kalmatov
Aknazar Beishaliev
'''

s = s.split('\n')
from random import shuffle
shuffle(s)
for i, student in enumerate(s):
    print(i+1, student)

1 Aziz Kalmatov
2 Nurjigit Nurgaliev
3 Kutman Melisov
4 Atai Mambetov
5 Bekbolsun Ysmanov
6 Elina Baktigulova
7 Kutman Duishenov
8 Erbol Ruslanov
9 Jumabek Kalybaev
10 Talant Mataev
11 Nurdin Ismailov
12 Alienora Kurbanbekova
13 Akbar Sharipov
14 Baystan Jyldyzbekov
15 Dair Ainakulov
16 Janishbek Tynybekov
17 Gulnura Onolbekova
18 Muhammed Kadirkulov
19 Alaman Rysbekov
20 Nurmuhammed Kalmamatov
21 Zarylbek Attokurov
22 Yntymak Almazbek uulu
23 Bekbolsun Kerimov
24
25 Altynbek Tashtanov
26 Nazima Dildebeka
27 Kubanich Kaparov
28 Sumaya Nasiridinova
29 Tynchtykbek Rahmatulin
30 Bermet Arstanalieva
31 Daniial Va-Ahunov
32 Salma Aydralieva
33 Nasipa Abdiraimova
34 Adina Tagaeva
35 Nurtilek Abibillaev
36 Omurbek Seitbekov
37 Aknazar Beishaliev
38 Aman Anarbekov
39 Daniar Karimov
40 Jainagul Joodonbek kizi
41 Ismailbek Nurjanov
42
43 Erlan Balabekov
44 Azamjan Umarov
45 Almaz Abdimanapov
46 Almaz Tutashbaev
47 Eleonora Asanova
48 Alymbek Mamatjanov
49 Alimhan Seydakmatov
50 Aktanbek Keneshov
51 Shergazi Eraliev
52 Atabek Aitiev
53 Diaz Kenjetaev
54 Barsbek Umetbaev
55 Aktan Asanaliev
56 Aiatulla Turatbaev
57 Aiana Cherikova
58 Aktan Mamatjanova
59 Umar Isakov
60 Azim Ishenbaev
61 Tolonbek Abdibekov
62 Aiana Tologonova

In [18]:
s = '''1.
Напишите программу на Python, которая рассчитает общее количество каждого товара, купленного у дистрибьюторов, используя данные из файлов items.csv и purchase.csv.
2.
Объедините файлы sales.csv и items.csv, чтобы рассчитать общий доход, полученный от продажи каждого товара в магазине.
3.
Используя данные из purchase.csv, distributor.csv и items.csv, рассчитайте общую сумму, потраченную каждым дистрибьютором на каждый товар, и определите, какой дистрибьютор поставил самый дорогой товар.
4.
Объедините sales.csv и clients.csv, чтобы выяснить, какой клиент совершил наибольшую сумму покупок в магазине.
5.
Используя файлы sales.csv, clients.csv и items.csv, найдите топ-5 клиентов по количеству разных товаров, которые они приобрели.
6.
Объедините purchase.csv, items.csv и distributor.csv, чтобы рассчитать среднюю цену, заплаченную за каждый товар магазином у разных дистрибьюторов.
7.
Напишите программу на Python, чтобы определить, какой товар приносит наибольшую прибыль, сравнив стоимость покупки (из purchase.csv) и цену продажи (из sales.csv).
8.
Объедините purchase.csv и sales.csv, чтобы проанализировать, продал ли магазин больше товаров, чем приобрел, за определенный период времени.
9.
Используя clients.csv, sales.csv и items.csv, напишите программу, чтобы определить клиента, который купил наибольшее количество определенного товара.
10.
Напишите программу на Python, которая использует данные из distributor.csv и purchase.csv, чтобы узнать, какой дистрибьютор поставил больше всего разных товаров в магазин.
11.
Объедините sales.csv и items.csv, чтобы рассчитать среднюю цену продажи каждого товара в магазине.
12.
Напишите программу на Python, чтобы рассчитать общий доход от клиентов, которые купили товары у определенного дистрибьютора, используя данные из sales.csv, clients.csv и distributor.csv.
13.
Используя items.csv, purchase.csv и sales.csv, выясните, какой товар имеет наибольший товарооборот (т.е. наиболее часто покупаемый и продаваемый).
14.
Объедините purchase.csv, distributor.csv и sales.csv, чтобы узнать, какой доход от продаж был получен от товаров, поставляемых каждым дистрибьютором.
15.
Используя clients.csv, sales.csv и items.csv, определите, какой товар чаще всего покупают постоянные клиенты.
16.
Напишите программу на Python, чтобы рассчитать среднюю стоимость товаров, купленных у каждого дистрибьютора, и сравнить её со средней ценой продажи клиентам, используя данные из purchase.csv, distributor.csv и sales.csv.
17.
Объедините sales.csv и purchase.csv, чтобы проанализировать общее количество товаров, купленных у дистрибьюторов, по сравнению с общим количеством проданных товаров клиентам для каждого товара.
18.
Напишите программу на Python, которая использует данные из distributor.csv, purchase.csv и sales.csv, чтобы сгенерировать отчет о том, какие товары дистрибьютора приносят наибольший доход от продаж.
19.
Используя данные clients.csv и sales.csv, напишите программу, чтобы определить, какие клиенты принесли наибольший доход в магазин за определенный период времени.
20.
Объедините sales.csv, items.csv и purchase.csv, чтобы выяснить, есть ли товары, которые магазин продал в большем количестве, чем купил у дистрибьюторов.
21.
Используя clients.csv, sales.csv и items.csv, рассчитайте среднее количество каждого товара, приобретенного клиентами при оптовых заказах (более определенного количества).
22.
Напишите программу на Python, которая использует данные из purchase.csv, items.csv и sales.csv, чтобы определить товары, которые часто покупаются у дистрибьюторов, но редко продаются клиентам.
23.
Объедините distributor.csv, purchase.csv и sales.csv, чтобы сгенерировать отчет, показывающий среднее время между покупкой товара у дистрибьютора и его продажей клиенту.
24.
Используя clients.csv, sales.csv и items.csv, найдите самые популярные товары среди клиентов, которые сделали покупки на сумму выше определенного порога.
25.
Напишите программу на Python, чтобы проанализировать, какую долю от общего дохода приносят товары, купленные у топ-3 дистрибьюторов, используя данные из distributor.csv, purchase.csv и sales.csv.
26.
Объедините items.csv и sales.csv, чтобы рассчитать общее количество проданных товаров и сравнить его с общим количеством товаров, имеющихся на складе.
27.
Используя данные из distributor.csv, purchase.csv и sales.csv, выясните, товары какого дистрибьютора приносят наибольшую среднюю цену при продаже клиентам.
28.
Объедините clients.csv, sales.csv и items.csv, чтобы определить клиентов, которые купили все товары из определенной категории или группы товаров.
29.
Напишите программу на Python, которая объединяет данные из purchase.csv и sales.csv, чтобы проанализировать маржу прибыли для каждого дистрибьютора, сравнивая стоимость покупки товаров с доходом от их продажи.
30.
Используя clients.csv, sales.csv, purchase.csv и items.csv, создайте отчет, который покажет клиента, купившего наибольшее разнообразие товаров в магазине.
s = s.split('\n')
id = s[::2]
questions = s[]

In [21]:
shuffle(questions)

for i in [5, 8, 9]:
    print(questions[i])

Напишите программу на Python, которая использует данные из purchase.csv, items.csv и sales.csv, чтобы определить товары, которые часто покупаются у дистрибьюторов, но редко продаются клиентам.
Используя clients.csv, sales.csv, purchase.csv и items.csv, создайте отчет, который покажет клиента, купившего наибольшее разнообразие товаров в магазине.
Напишите программу на Python, которая объединяет данные из purchase.csv и sales.csv, чтобы проанализировать маржу прибыли для каждого дистрибьютора, сравнивая стоимость покупки товаров с доходом от их продажи.

In [24]:
d1 = {1:2, 2:3}
d2 = {2: 3, 3:4}

d1.keys() | d2.keys()

{1, 2, 3}

In [36]:
from math import log2
from random import randint
arr = []
for i in range(40, 101):
    arr += [i] * (2**round(10-log2(i)))



result = [0] * 101
for i in range(1000000):
    index = randint(0, len(arr)-1)
    result[arr[index]] += 1

for i, v in enumerate(result):
    print(i, v)

0 0
1 0
2 0
3 0
4 0
5 0
6 0
7 0
8 0
9 0
10 0
11 0
12 0
13 0
14 0
15 0
16 0
17 0
18 0
19 0
20 0
21 0
22 0
23 0
24 0
25 0
26 0
27 0
28 0
29 0
30 0
31 0
32 0
33 0
34 0
35 0
36 0
37 0
38 0
39 0
40 32540
41 32216
42 32431
43 32258
44 32295
45 31914
46 15949
47 15980
48 15999
49 16295
50 15932
51 16288
52 16266
53 16146
54 16287
55 16014
56 16037
57 16064
58 16171
59 16157
60 16390
61 16050
62 16045
63 16077
64 16389
65 16022
66 16048
67 16210
68 16272
69 15876
70 16015
71 16067
72 16176
73 16160
74 16191
75 16196
76 16269
77 16051
78 16183
79 15922
80 16002
81 15934
82 16108
83 16089
84 16160
85 16409
86 16023
87 15966
88 16229
89 15941
90 16045
91 8129
92 7995
93 8165
94 8122
95 8174
96 8180
97 8096
98 8142
99 8058
100 8185

In [56]:
from collections import defaultdict
purchase = defaultdict(int)
sales = defaultdict(int)

with open('purchase.csv') as fid:
    r = reader(fid)
    next(r)
    for i in r:
        iid, count, price, total, cid, did = i
        purchase[iid] += count

with open('sales.csv') as fid:
    r = reader(fid)
    next(r)
    for i in r:
        iid, count, price, total, cid, did = i
        sales[iid] += count

## version 
arr = []
for key in purchase.keys() | sales.keys():
    arr.appeend( (sales[key], purchase[key]) )

print(sorted(arr, reversed=True))


## other version
for key, value in sales.items():
    if purchase[key] - value > 100:
        print(key)

FileNotFoundError: [Errno 2] No such file or directory: 'purchase.csv'

In [52]:
purchase = {'chocolate': 10, 'toothpaste': 20, 'cola': 30, 'lipbalm': 15}
sales = {'chocolate': 5, 'cola':3, 'lipbalm': 8, 'melon': 3}

TypeError: first argument must be callable or None

In [43]:
sales.keys() | purchase.keys()

{'chocolate', 'cola', 'lipbalm', 'melon', 'toothpaste'}

In [53]:
sales = defaultdict(int)
print(sales)
sales['cola'] = 20 
sales['test'] = 30
print(sales)

defaultdict(<class 'int'>, {})
defaultdict(<class 'int'>, {'cola': 20, 'test': 30})

In [54]:
print(sales['test'], sales['arman'])

30 0

In [55]:
print(sales)

defaultdict(<class 'int'>, {'cola': 20, 'test': 30, 'arman': 0})

In [70]:
from csv import reader
with open('sales.csv') as fid:
    r = reader(fid)
    next(r)
    arr = []
    for i in r:
        date,distributor_id,item_id,count,price_per_item,total_cost = i
        arr.append(distributor_id)

print(arr)

d = {}
for id in arr:
    d[id] = d.get(id, 0) + 1
result = []
for key, value in d.items():
    result.append((value, key))
result = sorted(result, reverse = True)
print('Traditional long way')
print(result)


dist = {}
with open('distributor.csv') as fid:
    r = reader(fid)
    next(r)
    for i in r:
        id, name, tel = i
        dist[id] = (name, tel)

from collections import Counter
c = Counter(arr)
print('Short way')

for id in c:
    print(dist.get(id, ''), c[id])

['78', '88', '99', '35', '5', '97', '68', '93', '59', '80', '24', '18', '97', '24', '3', '37', '66', '70', '2', '78', '86', '5', '14', '68', '82', '48', '75', '37', '66', '86', '57', '84', '17', '92', '41', '3', '48', '30', '31', '8', '67', '82', '13', '22', '2', '95', '34', '66', '69', '11', '50', '57', '14', '55', '32', '61', '97', '70', '14', '45', '39', '37', '7', '65', '39', '78', '87', '46', '74', '45', '1', '4', '90', '13', '87', '13', '39', '8', '34', '56', '40', '40', '8', '82', '51', '65', '17', '96', '68', '61', '59', '45', '26', '12', '56', '63', '49', '9', '57', '38', '89', '38', '21', '3', '69', '86', '79', '47', '73', '38', '62', '56', '26', '89', '85', '82', '99', '42', '40', '29', '11', '22', '35', '71', '29', '55', '53', '21', '48', '100', '98', '83', '54', '82', '99', '60', '83', '45', '98', '12', '60', '88', '27', '83', '48', '39', '14', '52', '45', '99', '21', '77', '97', '21', '47', '26', '74', '72', '45', '44', '75', '10', '95', '42', '81', '9', '83', '90', '89', '28', '10', '80', '37', '55', '15', '98', '69', '55', '45', '65', '50', '33', '20', '8', '57', '88', '64', '43', '40', '85', '26', '97', '19', '97', '86', '26', '66', '76', '22', '15', '34', '24', '44', '74', '77', '16', '4', '89', '7', '77', '72', '72', '8', '48', '99', '80', '33', '54', '16', '33', '52', '91', '50', '24', '42', '92', '80', '39', '15', '75', '4', '83', '4', '25', '99', '90', '50', '28', '67', '18', '83', '18', '48', '49', '88', '40', '7', '15', '84', '85', '7', '43', '17', '53', '81', '38', '31', '39', '80', '32', '52', '39', '68', '4', '51', '10', '48', '45', '51', '96', '22', '63', '58', '71', '33', '35', '13', '75', '37', '29', '56', '82', '92', '42', '4', '94', '75', '81', '38', '5', '28', '99', '19', '73', '61', '100', '33', '16', '57', '9', '8', '46', '90', '76', '5', '7', '69', '57', '1', '64', '94', '37', '65', '32', '84', '89', '72', '75', '90', '98', '9', '62', '39', '100', '23', '25', '58', '62', '67', '77', '56', '7', '15', '36', '92', '10', '14', '12', '89', '10', '43', '51', '19', '89', '80', '18', '19', '88', '77', '66', '3', '26', '39', '12', '22', '54', '1', '97', '11', '65', '34', '68', '19', '94', '28', '54', '72', '70', '84', '38', '6', '7', '32', '99', '53', '88', '84', '44', '83', '4', '99', '34', '29', '84', '84', '89', '11', '37', '37', '86', '32', '23', '6', '19', '53', '57', '58', '35', '43', '32', '57', '72', '69', '93', '95', '26', '88', '84', '46', '11', '44', '29', '70', '99', '60', '22', '70', '62', '99', '31', '11', '67', '38', '42', '49', '47', '22', '95', '82', '39', '81', '60', '47', '91', '80', '79', '71', '36', '57', '100', '90', '27', '16', '12', '97', '95', '61', '16', '54', '5', '86', '77', '1', '14', '85', '95', '28', '33', '32', '48', '91', '22', '12', '78', '38', '83', '66', '87', '96', '44', '67', '8', '92', '77', '77', '54', '46', '72', '17', '24', '4', '56', '10', '40', '93', '9', '93', '47', '3', '34', '72', '81', '74', '69', '88', '43', '10', '58', '25', '72', '39', '30', '8', '62', '16', '74', '66', '34', '29', '53', '13', '46', '96', '47', '35', '47', '52', '64', '75', '3', '24', '49', '40', '49', '37', '95', '98', '24', '4', '16', '46', '13', '48', '23', '54', '23', '72', '37', '66', '57', '11', '40', '17', '76', '67', '7', '85', '51', '54', '3', '18', '75', '26', '40', '97', '75', '92', '6', '44', '67', '74', '94', '57', '38', '68', '60', '76', '54', '95', '81', '69', '11', '100', '42', '55', '21', '9', '1', '10', '81', '48', '36', '73', '15', '93', '30', '2', '87', '88', '73', '32', '31', '46', '100', '92', '89', '73', '86', '5', '77', '46', '91', '62', '59', '29', '99', '21', '7', '12', '96', '53', '66', '21', '50', '19', '12', '30', '10', '50', '90', '44', '93', '66', '2', '97', '71', '8', '54', '13', '26', '83', '52', '28', '57', '83', '70', '48', '26', '55', '41', '58', '49', '69', '90', '47', '17', '24', '56', '12', '23', '81', '38', '45', '23', '57', '32', '36', '4', '61', '57', '15', '28', '37', '99', '48', '1', '73', '40', '15', '19', '66', '8', '10', '57', '14', '68', '25', '1', '44', '63', '54', '65', '36', '20', '21', '56', '78', '59', '95', '91', '96', '49', '77', '97', '17', '93', '17', '53', '18', '48', '66', '43', '60', '64', '41', '28', '76', '77', '88', '51', '58', '21', '48', '34', '89', '62', '77', '20', '18', '17', '100', '46', '49', '78', '96', '15', '2', '26', '1', '44', '4', '90', '18', '80', '10', '9', '57', '67', '69', '19', '61', '17', '40', '28', '59', '19', '10', '94', '87', '39', '31', '96', '5', '63', '85', '26', '58', '40', '17', '40', '46', '63', '5', '96', '19', '44', '53', '62', '46', '82', '100', '35', '98', '85', '19', '53', '77', '20', '38', '100', '97', '100', '83', '81', '76', '78', '41', '20', '43', '54', '3', '31', '98', '32', '94', '67', '99', '91', '94', '15', '50', '71', '56', '26', '19', '50', '77', '11', '49', '84', '2', '63', '18', '67', '92', '60', '63', '31', '77', '30', '97', '99', '81', '89', '70', '8', '63', '71', '36', '62', '38', '17', '98', '36', '91', '85', '61', '34', '39', '17', '56', '36', '21', '51', '60', '12', '83', '54', '65', '4', '84', '86', '53', '65', '92', '27', '49', '93', '43', '19', '87', '35', '66', '23', '15', '45', '45', '55', '72', '85', '49', '6', '74', '39', '27', '50', '26', '37', '31', '24', '95', '65', '61', '9', '43', '84', '11', '13', '37', '23', '88', '53', '3', '96', '55', '52', '18', '19', '62', '80', '63', '96', '15', '30', '87', '100', '85', '68', '7', '64', '18', '44', '77', '36', '68', '22', '61', '33', '6', '44', '33', '68', '72', '78', '77', '74', '7', '90', '71', '61', '2', '73', '67', '20', '70', '79', '14', '85', '73', '60', '86', '54', '76', '57', '31', '92', '89', '53', '34', '88', '36', '68', '8', '40', '36', '65', '64', '23', '97', '13', '98', '64', '19', '18', '24', '76', '76', '83', '39', '48', '22', '85', '73', '88', '37', '73', '62', '58', '49', '98', '1', '75', '71', '78', '42', '48', '34', '26', '89', '71', '60', '92', '95', '85', '45', '97', '46', '87', '30', '65', '61', '51', '97', '28', '49', '33', '2', '85', '36', '34', '4', '27', '10', '10', '86', '45', '84', '65', '69', '20', '37', '94', '16', '42', '25', '40', '89', '83', '14', '74', '1', '50', '19', '37', '19', '13', '19', '66', '86', '92', '18', '62', '2', '51', '81', '46', '33', '66', '88', '31', '39', '8', '79', '44', '44', '80', '44', '80', '35', '78', '34', '93', '91', '86', '37', '55', '55', '14', '65', '14', '89', '14', '23', '80', '34', '52', '95', '41', '91', '9', '10', '29', '99', '24', '99', '3', '9', '35', '66', '49', '3', '22', '85', '2', '96', '56', '54', '90', '6', '16', '14', '21', '100', '72', '44', '78', '58', '35', '5', '92', '31', '77', '46', '29', '6', '35', '71', '98', '63', '38', '57', '42', '27', '53', '90', '35', '81', '40', '16', '87', '35', '24', '73', '42', '36', '38', '97', '87', '64', '67', '57', '10', '56', '43', '88', '45', '84', '74', '46', '91', '86', '30', '14', '11', '71', '33', '34', '87', '63', '19', '34', '38', '98', '44', '52', '70', '91', '6', '65', '15', '50', '90', '94', '24', '19', '75', '1', '50', '14', '95', '11', '20', '48', '65', '37', '49', '70', '98', '40', '14', '61', '24', '34', '62', '43', '1', '70', '60', '63', '34', '58', '32', '65', '86', '67', '83', '84', '54', '45', '97', '89', '98', '48', '4', '71', '52', '98', '27', '22', '65', '72', '37', '45', '84', '73', '68', '24', '88', '41', '15', '39', '26', '76', '24', '78', '49', '4', '87', '48', '56', '78', '77', '90', '13', '61', '75', '17', '26', '46', '53', '37', '88', '82', '7', '64', '85', '61', '42', '67', '64', '24', '51', '7', '29', '15', '95', '45', '36', '52', '37', '29', '8', '71', '28', '77', '83', '65', '18', '26', '74', '42', '63', '81', '54', '35', '13', '50', '63', '35', '46', '97', '76', '20', '31', '53', '92', '31', '99', '47', '40', '94', '34', '55', '13', '32', '48', '93', '48', '100', '7', '97', '85', '85', '30', '76', '54', '36', '68', '31', '73', '43', '37', '70', '14', '35', '8', '100', '84', '17', '74', '20', '45', '32', '41', '28', '68', '7', '3', '13', '85', '15', '96', '8', '58', '25', '24', '6', '50', '61', '46', '73', '78', '82', '21', '32', '30', '96', '89', '3', '86', '39', '99', '75', '48', '60', '70', '58', '63', '33', '1', '47', '45', '70', '92', '7', '69', '31', '78', '40', '90', '73', '69', '67', '38', '70', '20', '43', '35', '95', '84', '64', '14', '57', '70', '34', '61', '67', '43', '65', '41', '29', '71', '26', '4', '12', '32', '48', '8', '30', '61', '97', '80', '46', '29', '58', '2', '41', '51', '38', '23', '4', '6', '48', '40', '92', '82', '94', '99', '39', '74', '64', '38', '4', '81', '25', '66', '35', '69', '69', '41', '86', '92', '31', '78', '75', '12', '46', '4', '84', '49', '74', '46', '87', '95', '38', '66', '17', '98', '87', '80', '48', '53', '53', '39', '8', '79', '96', '38', '97', '6', '94', '27', '67', '12', '33', '18', '17', '23', '96', '32', '68', '100', '95', '60', '5', '21', '43', '21', '25', '11', '25', '60', '40', '60', '44', '55', '1', '26', '50', '59', '3', '25', '84', '15', '53', '70', '6', '87', '57', '75', '100', '40', '66', '55', '3', '27', '11', '70', '32', '53', '68', '14', '53', '87', '30', '19', '89', '80', '11', '38', '50', '90', '85', '10', '37', '75', '70', '2', '80', '84', '21', '35', '3', '84', '68', '48', '97', '52', '88', '35', '76', '5', '79', '77', '6', '99', '32', '39', '70', '15', '60', '74', '45', '1', '80', '42', '20', '96', '45', '20', '45', '72', '12', '64', '1', '31', '54', '93', '13', '86', '67', '65', '29', '82', '68', '22', '76', '91', '84', '45', '79', '49', '46', '16', '81', '45', '71', '11', '78', '48', '77', '26', '86', '8', '92', '46', '51', '95', '91', '74', '100', '38', '65', '23', '49', '39', '2', '18', '86', '30', '92', '10', '10', '100', '61', '75', '99', '36', '98', '58', '89', '94', '94', '60', '14', '54', '94', '86', '50', '99', '90', '57', '84', '17', '1', '83', '29', '95', '70', '82', '28', '63', '93', '77', '10', '76', '45', '5', '87', '98', '59', '35', '78', '97', '10', '32', '94', '71', '34', '5', '52', '3', '71', '53', '96', '55', '67', '40', '49', '82', '65', '44', '82', '49', '58', '90', '97', '59', '91', '86', '82', '88', '86', '94', '4', '79', '9', '32', '83', '60', '31', '43', '92', '33', '43', '84', '94', '85', '16', '15', '21', '65', '5', '37', '83', '59', '40', '30', '64', '33', '23', '48', '74', '80', '16', '91', '82', '44', '20', '5', '50', '65', '22', '39', '36', '37', '99', '35', '19', '35', '78', '12', '10', '73', '56', '98', '77', '9', '90', '83', '33', '16', '42', '10', '99', '91', '96', '10', '16', '34', '71', '69', '85', '50', '7', '62', '51', '76', '79', '65', '30', '56', '53', '15', '51', '67', '16', '100', '84', '85', '38', '63', '50', '89', '62', '27', '18', '37', '19', '74', '36', '77', '91', '8', '76', '58', '15', '24', '36', '62', '18', '87', '77', '7', '31', '22', '72', '4', '80', '93', '78', '85', '60', '91', '11', '99', '42', '77', '63', '57', '69', '98', '99', '26', '58', '66', '55', '92', '43', '65', '4', '37', '23', '19', '82', '90', '49', '99', '8', '90', '49', '31', '41', '65', '60', '93', '94', '55', '4', '62', '87', '2', '92', '19', '84', '62', '100', '80', '14', '38', '77', '13', '18', '82', '37', '60', '13', '65', '3', '90', '34', '78', '43', '100', '84', '14', '5', '13', '54', '7', '20', '89', '22', '62', '64', '62', '16', '2', '75', '13', '78', '91', '88', '59', '52', '19', '41', '58', '13', '57', '82', '73', '29', '22', '85', '33', '42', '57', '5', '16', '88', '52', '42', '69', '48', '80', '24', '32', '65', '34', '22', '60', '45', '53', '51', '64', '4', '33', '71', '67', '13', '98', '26', '79', '74', '99', '54', '17', '29', '45', '26', '4', '48', '91', '48', '22', '47', '74', '61', '11', '54', '10', '2', '14', '19', '76', '98', '53', '30', '96', '55', '78', '95', '60', '81', '54', '29', '29', '27', '81', '25', '86', '72', '39', '33', '100', '100', '24', '89', '73', '49', '16', '86', '74', '26', '17', '76', '88', '91', '25', '74', '1', '87', '24', '61', '86', '83', '76', '89', '26', '36', '17', '16', '80', '95', '77', '18', '83', '73', '71', '32', '94', '50', '40', '50', '17', '72', '78', '69', '37', '58', '52', '73', '67', '34', '82', '97', '23', '19', '78', '88', '9', '66', '46', '80', '54', '99', '91', '85', '42', '16', '35', '84', '31', '1', '17', '25', '20', '58', '14', '8', '30', '20', '20', '81', '57', '43', '24', '83', '94', '66', '39', '81', '98', '26', '1', '37', '4', '47', '63', '91', '80', '52', '42', '60', '96', '8', '71', '6', '90', '11', '41', '69', '89', '79', '83', '18', '12', '41', '65', '49', '14', '15', '100', '54', '86', '59', '40', '75', '78', '99', '77', '70', '86', '75', '69', '94', '58', '59', '45', '22', '98', '48', '47', '28', '59', '5', '26', '72', '14', '29', '55', '55', '14', '65', '84', '38', '18', '74', '89', '52', '26', '7', '66', '41', '15', '93', '3', '46', '8', '73', '69', '90', '23', '78', '58', '89', '31', '70', '39', '84', '32', '96', '78', '76', '3', '55', '15', '9', '42', '73', '48', '88', '32', '73', '90', '62', '51', '46', '40', '51', '63', '41', '99', '88', '38', '24', '92', '78', '61', '78', '97', '36', '32', '91', '25', '54', '86', '30', '12', '82', '17', '67', '81', '95', '78', '49', '60', '78', '79', '31', '5', '21', '7', '1', '16', '92', '90', '91', '94', '22', '79', '99', '75', '25', '70', '94', '50', '41', '74', '43', '33', '93', '62', '61', '38', '67', '42', '19', '67', '86', '21', '46', '83', '42', '2', '50', '94', '72', '39', '92', '28', '15', '20', '24', '42', '84', '4', '49', '97', '80', '35', '42', '31', '49', '31', '54', '31', '83', '33', '44', '7', '44', '87', '87', '87', '74', '62', '39', '74', '32', '40', '47', '51', '47', '85', '91', '85', '4', '26', '69', '32', '20', '52', '7', '91', '90', '25', '18', '8', '94', '5', '34', '11', '64', '93', '73', '92', '43', '54', '92', '72', '72', '8', '41', '26', '49', '71', '39', '23', '57', '52', '19', '100', '28', '70', '46', '9', '14', '83', '20', '51', '29', '55', '67', '2', '76', '100', '31', '67', '87', '74', '25', '61', '97', '53', '59', '33', '37', '14', '87', '52', '62', '87', '29', '91', '52', '97', '54', '51', '47', '51', '51', '53', '98', '41', '83', '58', '26', '26', '4', '55', '93', '59', '95', '61', '65', '15', '38', '62', '41', '45', '81', '43', '28', '14', '82', '42', '18', '59', '66', '36', '16', '52', '31', '28', '26', '6', '22', '57', '39', '93', '16', '33', '82', '71', '12', '71', '61', '57', '39', '53', '18', '6', '35', '20', '85', '25', '82', '25', '12', '12', '67', '49', '75', '98', '81', '80', '17', '9', '36', '10', '93', '39', '92', '75', '61', '54', '23', '12', '82', '37', '36', '9', '74', '47', '14', '65', '77', '35', '78', '84', '86', '10', '94', '12', '49', '57', '23', '21', '54', '69', '96', '28', '19', '16', '3', '53', '28', '52', '51', '89', '21', '82', '21', '87', '87', '89', '61', '68', '89', '19', '83', '78', '15', '94', '86', '97', '43', '58', '86', '38', '75', '1', '23', '12', '34', '95', '83', '65', '29', '44', '83', '89', '99', '20', '43', '71', '39', '16', '11', '41', '62', '36', '27', '78', '76', '81', '60', '100', '7', '88', '13', '69', '2', '77', '76', '92', '44', '83', '29', '94', '78', '97', '52', '19', '15', '76', '66', '78', '56', '94', '90', '54', '19', '80', '85', '95', '76', '7', '7', '90', '69', '21', '97', '1', '53', '22', '86', '73', '71', '21', '41', '88', '45', '88', '16', '39', '9', '48', '68', '48', '57', '10', '52', '57', '27', '75', '89', '1', '36', '52', '84', '12', '47', '69', '85', '78', '84', '67', '67', '82', '88', '56', '89', '30', '35', '10', '2', '54', '91', '94', '92', '96', '12', '94', '5', '79', '42', '76', '56', '74', '83', '94', '39', '4', '53', '93', '71', '98', '25', '29', '85', '77', '83', '55', '95', '77', '32', '93', '97', '69', '84', '20', '36', '44', '82', '14', '37', '35', '88', '26', '64', '65', '78', '59', '64', '68', '44', '30', '78', '6', '41', '80', '66', '12', '6', '16', '74', '70', '80', '13', '80', '35', '87', '73', '68', '37', '17', '52', '6', '9', '4', '25', '21', '89', '12', '19', '65', '44', '87', '56', '98', '84', '27', '44', '51', '3', '7', '71', '66', '28', '7', '90', '59', '24', '39', '53', '22', '7', '94', '9', '32', '27', '45', '64', '100', '37', '8', '40', '76', '62', '91', '87', '28', '13', '46', '86', '70', '28', '49', '93', '68', '4', '67', '95', '29', '94', '28', '3', '45', '95', '90', '13', '84', '20', '81', '24', '59', '35', '82', '47', '15', '20', '27', '99', '98', '14', '73', '58', '9', '50', '36', '98', '45', '27', '81', '58', '69', '31', '33', '13', '40', '77', '76', '19', '100', '45', '50', '33', '68', '75', '21', '55', '97', '7', '22', '47', '98', '69', '63', '9', '61', '34', '93', '29', '20', '71', '14', '53', '39', '8', '3', '39', '76', '43', '46', '10', '91', '72', '50', '4', '35', '51', '76', '75', '53', '43', '40', '93', '12', '18', '79', '2', '100', '3', '25', '83', '97', '3', '61', '29', '15', '81', '47', '39', '59', '13', '63', '5', '100', '96', '47', '14', '22', '20', '47', '60', '89', '16', '91', '92', '91', '14', '39', '87', '51', '9', '75', '33', '14', '64', '84', '61', '19', '86', '62', '77', '21', '55', '8', '34', '70', '68', '99', '63', '38', '39', '32', '29', '53', '34', '51', '38', '76', '55', '86', '13', '54', '22', '88', '24', '1', '86', '40', '6', '4', '26', '34', '85', '6', '88', '19', '82', '64', '89', '47', '49', '73', '3', '87', '93', '15', '91', '35', '98', '59', '90', '25', '67', '75', '17', '49', '97', '56', '97', '82', '86', '8', '6', '95', '75', '23', '85', '91', '6', '31', '58', '7', '5', '98', '93', '73', '40', '63', '98', '63', '76', '28', '85', '51', '52', '87', '75', '8', '2', '88', '64', '98', '98', '49', '35', '33', '48', '37', '2', '93', '55', '29', '17', '71', '91', '72', '8', '82', '62', '81', '86', '32', '84', '53', '74', '27', '81', '31', '17', '77', '37', '34', '30', '97', '93', '67', '8', '64', '58', '74', '41', '93', '9', '17', '75', '6', '57', '85', '42', '11', '83', '57', '96', '8', '22', '63', '44', '79', '53', '9', '22', '44', '32', '43', '11', '64', '25', '20', '67', '49', '33', '70', '37', '68', '16', '90', '21', '17', '92', '14', '47', '39', '56', '42', '88', '49', '61', '41', '82', '66', '37', '28', '58', '97', '39', '37', '97', '41', '36', '57', '99', '3', '42', '36', '86', '5', '56', '32', '23', '13', '34', '33', '25', '25', '33', '64', '96', '94', '58', '43', '42', '35', '57', '78', '63', '17', '8', '18', '97', '75', '49', '7', '57', '88', '55', '27', '79', '28', '64', '65', '60', '16', '33', '98', '95', '44', '51', '52', '65', '40', '17', '8', '53', '42', '19', '53', '28', '69', '88', '72', '41', '71', '46', '61', '80', '39', '22', '84', '4', '22', '6', '8', '89', '16', '63', '47', '35', '77', '82', '27', '49', '63', '60', '99', '74', '87', '63', '36', '12', '70', '90', '42', '35', '57', '19', '47', '98', '95', '13', '6', '30', '16', '73', '71', '1', '48', '15', '39', '25', '11', '20', '43', '19', '86', '31', '28', '46', '27', '22', '85', '15', '13', '35', '36', '16', '63', '40', '90', '60', '14', '28', '30', '49', '33', '22', '2', '4', '57', '4', '85', '5', '42', '98', '43', '82', '34', '93', '18', '80', '64', '25', '81', '74', '74', '61', '1', '8', '80', '29', '77', '14', '81', '99', '53', '57', '85', '21', '37', '65', '28', '93', '21', '32', '18', '4', '79', '55', '94', '44', '59', '23', '56', '86', '96', '44', '13', '8', '76', '33', '71', '34', '9', '11', '13', '76', '75', '20', '32', '8', '34', '23', '14', '26', '36', '52', '5', '48', '10', '75', '84', '91', '95', '89', '84', '17', '27', '52', '23', '37', '5', '80', '79', '72', '96', '27', '85', '67', '16', '92', '73', '100', '71', '62', '94', '2', '77', '24', '73', '1', '91', '15', '82', '9', '16', '1', '58', '57', '66', '28', '22', '58', '28', '4', '63', '92', '81', '70', '83', '79', '74', '5', '2', '33', '98', '15', '96', '13', '35', '35', '39', '90', '29', '43', '14', '40', '2', '38', '86', '37', '59', '96', '28', '6', '100', '43', '100', '37', '46', '15', '96', '86', '96', '40', '30', '30', '48', '89', '8', '94', '43', '59', '78', '15', '78', '78', '61', '69', '3', '93', '83', '48', '59', '5', '92', '46', '30', '11', '47', '86', '41', '87', '9', '61', '53', '45', '24', '48', '21', '22', '27', '4', '17', '33', '59', '97', '90', '83', '75

In [91]:
import faker
f = faker.Faker()
from csv import reader, writer
from random import randint

def fake(r, id_index, name_index):
    res = []
    for inx, i in enumerate(r):
        if len(i) == 0:
            res.append(i)
        elif inx == name_index:
            res.append(f.name())
        elif inx == id_index:
            res.append(randint(0, 100))
        else:
            try:
                v = int(i)
                res.append(randint(0,100))
            except:
                res.append(i)
    return res

fin = open('exam4.csv')
fout = open('exam_final.csv', 'w', newline='')
w = writer(fout)
r = reader(fin)
header = next(r)
id_index = header.index("id")
name_index = header.index("names")

w.writerow(header)
out = []
for i in r:
    out.append(fake(i, id_index, name_index))
w.writerows(out)
fin.close()
fout.close()

In [116]:
import os
import subprocess

files = os.listdir('avg_codes')
for file in files:
    res = subprocess.run(['python ', file])
    print(res)

CompletedProcess(args=['python ', 'test.py'], returncode=2)
CompletedProcess(args=['python ', 'test2.py'], returncode=0)

In [114]:
my_name = 'Emil Bilgazyev'
from csv import reader
def get_average_score(filename):
    with open(filename) as fid:
        r = reader(fid)
        '''YOUR CODE HERE'''
        ###return [(None, None)]

from csv import reader, writer
scores = get_average_score("exam4.csv")
d = {name:score for name, score in scores}
out = []
with open('result.csv') as fid:
    r = reader(fid)
    out.append(list(next(r)) + [my_name])
    for i in r:
        res = i + [d.get(i[0],'')]
        out.append(res)
with open('result.csv', 'w', newline='') as fid:
    w = writer(fid)
    w.writerows(out)

In [123]:
out = [['names']]
with open('exam4.csv') as fid:
    r = reader(fid)
    h = list(next(r))
    name_index = h.index('names')
    for i in r:
        name = i[name_index]
        if len(name) > 0:
            out.append([name])

with open('result.csv', 'w', newline='') as fid:
    w = writer(fid)
    w.writerows(out)

In [2]:
my_name = 'Emil Bilgazyev'
from csv import reader
def get_average_score(filename):
    result = []
    with open(filename) as fid:
        r = reader(fid)
        header = next(r)
        id_index = header.index('id')
        name_index = header.index('names')
        midterm_index = header.index('10/14/2024') 
        taken = [id_index, name_index, midterm_index]
        for i in r:
            try:
                midterm = int(i[midterm_index])
            except:
                midterm = 0
            id = i[id_index]
            name = i[name_index]
            quizzes = []
            for inx, j in enumerate(i):
                if inx not in taken:
                    quizzes.append(j)
            quiz_scores = []
            for j in quizzes:
                try:
                    score = int(j)
                    quiz_scores.append(score) 
                except:
                    quiz_scores.append(0)
            quiz_sorted = sorted(quiz_scores, reverse=True)
            avg_quiz = sum(quiz_sorted[:7])/7
            avg = round((0.7 * avg_quiz + 0.075*midterm ) / 0.775)
            result.append((name, avg))
    return result


from csv import reader, writer
scores = get_average_score("exam4.csv")
d = {name:score for name, score in scores}
out = []
with open('result.csv') as fid:
    r = reader(fid)
    out.append(list(next(r)) + [my_name])
    for i in r:
        res = i + [d.get(i[0],'')]
        out.append(res)
with open('result.csv', 'w', newline='') as fid:
    w = writer(fid)
    w.writerows(out)

print('finished')

finished

In [9]:
mentors = ['akbar', 'atabek', 'talant', 'alaman', 'daniyar', 'salma', 'gulnur', 
           'bekbolsun', 'alimhan', 'azam', 'aktan', 'ismailbek', 'umar', 'alymbek',
           'tolon', 'alianora', 'jumabek', 'ayatullah', 'zarylbek']

students = '''
Elina Baktigulova
Diaz Kenjetaev
Nazima Dildebeka
Kubanich Kaparov
Almaz Abdimanapov
Jainagul Joodonbek kizi
Bekbolsun Kerimov
Nurjigit Nurgaliev
Shergazi Eraliev
Muhammed Kadirkulov
Aknazar Beishaliev
Bayastan
adina
sumaya
bermet
omurbek
aman
yntymak
ayana
tynchtykbek
daniyal
'''.split('\n')

from random import shuffle, randint
shuffle(students)
shuffle(mentors)

from time import sleep
for mentor in mentors:
    print('mentor: ', mentor)
    n = randint(1, 2)
    for i in range(n):
        print(students.pop())
    print()
    sleep(5)

mentor:  bekbolsun
Kubanich Kaparov
Jainagul Joodonbek kizi

mentor:  alimhan
yntymak
Bayastan

mentor:  akbar
adina

mentor:  daniyar
Nurjigit Nurgaliev
Shergazi Eraliev

mentor:  talant


mentor:  tolon
omurbek
Almaz Abdimanapov

mentor:  aktan
Diaz Kenjetaev
daniyal

mentor:  atabek
Muhammed Kadirkulov


mentor:  alianora
bermet

mentor:  salma
Elina Baktigulova
Bekbolsun Kerimov

mentor:  ayatullah
tynchtykbek
aman

mentor:  ismailbek
ayana
Aknazar Beishaliev

mentor:  azam
Nazima Dildebeka

mentor:  alymbek
sumaya

IndexError: pop from empty list

In [5]:
len(students), len(mentors)

(26, 19)

In [29]:
import csv
with open('result.csv') as peremenniy:
    p = csv.reader(peremenniy)
    pustoy_massive = []
    header = next(p)
    index = header.index('Emil Bilgazyev')
    for i in p:
        try:
            grade = int(i[index])
        except:
            grade = 0
        name = i[0]
        s = f'{name} -> {grade}'
        pustoy_massive.append(grade)
        print(s)

    print(sum(pustoy_massive) / len(pustoy_massive))

Barsbek Umetbaev -> 97
Jainagul Joodonbek kizi -> 36
Baystan Jyldyzbekov -> 77
Alienora Kurbanbekova -> 65
Tynchtykbek Rahmatulin -> 54
Bekbolsun Ysmanov -> 95
Daniial Va-Ahunov -> 55
Aman Anarbekov -> 77
Alimhan Seydakmatov -> 88
Salma Aydralieva -> 94
Erlan Balabekov -> 59
Aiatulla Turatbaev -> 98
Alymbek Mamatjanov -> 95
Tolonbek Abdibekov -> 83
Nazima Dildebeka -> 42
Almaz Tutashbaev -> 69
Azim Ishenbaev -> 80
Atai Mambetov -> 55
Diaz Kenjetaev -> 45
Elina Baktigulova -> 46
Kubanich Kaparov -> 41
Kutman Melisov -> 84
Sumaya Nasiridinova -> 61
Aktan Asanaliev -> 99
Nurjigit Nurgaliev -> 25
Shergazi Eraliev -> 22
Adina Tagaeva -> 58
Nurdin Ismailov -> 64
Eleonora Asanova -> 80
Aktanbek Keneshov -> 60
Azamjan Umarov -> 95
Gulnura Onolbekova -> 94
Aiana Cherikova -> 59
Aiana Tologonova -> 25
Nurtilek Abibillaev -> 68
Alaman Rysbekov -> 95
Nasipa Abdiraimova -> 78
Aktan Mamatjanova -> 29
Altynbek Tashtanov -> 71
Kutman Duishenov -> 65
Dair Ainakulov -> 95
Talant Mataev -> 105
Umar Isakov -> 90
Janishbek Tynybekov -> 75
Zarylbek Attokurov -> 92
Atabek Aitiev -> 82
Daniar Karimov -> 84
Erbol Ruslanov -> 97
Omurbek Seitbekov -> 53
Almaz Abdimanapov -> 37
Akbar Sharipov -> 100
Yntymak Almazbek uulu -> 76
Jumabek Kalybaev -> 100
Nurmuhammed Kalmamatov -> 95
Bekbolsun Kerimov -> 33
Bermet Arstanalieva -> 62
Ismailbek Nurjanov -> 79
Muhammed Kadirkulov -> 20
Aziz Kalmatov -> 60
Aknazar Beishaliev -> 10
68.8

In [37]:
def calculate(n):
    x = n ** 2 + 2*n + 1
    print('result ', n, x)



def func(x, T):
    if x % 2 == 0:
        T(x)

f = calculate
for i in range(10):
    func(i, f)

result  0 1
result  2 9
result  4 25
result  6 49
result  8 81

In [33]:
out = []
for i in s.split(','):
    if len(i) > 0:
        out.append(i)
out

['1', '2', '4', '5', '8']

In [41]:
arr  = [['Emil', 20, 55, 120], ['nurtilek', 30, 22, 75], ['azam', 16, 34, 90],
        ['Emir', 20, 85, 120], ['sultan', 50, 22, 75], ['aziz', 56, 34, 90]]
out = []
for i in arr:
    s = i[1:]
    avg = sum(s) / len(s) 
    out.append((avg, i[0]))
s = sorted(out, reverse=True)
print(s)
result = []
for i in range(3):
    result.append(s[i][1])
print(result)

[(75.0, 'Emir'), (65.0, 'Emil'), (60.0, 'aziz'), (49.0, 'sultan'), (46.666666666666664, 'azam'), (42.333333333333336, 'nurtilek')]
['Emir', 'Emil', 'aziz']

In [42]:
arr  = [['Emil', 20, 55, 120], ['nurtilek', 30, 22, 75], ['azam', 16, 34, 90],
        ['Emir', 20, 85, 120], ['sultan', 50, 22, 75], ['aziz', 56, 34, 90]]

In [47]:
[i[0] for i in sorted(arr, key = lambda i: sum(i2+i3+i4)/3, reverse=True)[:3]]

SyntaxError: invalid syntax (3639354914.py, line 1)

In [2]:
from csv import reader

def countVowels(name):
    count = 0
    for i in name:
        if i in 'aeiyou':
            count += 1
    return count
with open("grades.csv") as fid:
    read = reader(fid)
    arr1 = []
    arr2= []
    arr3= []
    arr4 = []
    for name, score in read:
        arr1.append( (int(score), name) )
        arr2.append( (len(name), name))
        arr3.append( int(score))
        arr4.append( (countVowels(name), name))

print('ODD #1 : ', max(arr1))
print('ODD #2 : ', max(arr2))
print('EVEN #1 : ', sum(arr3) / len(arr3))
print('EVEN #2 : ', max(arr4))

ODD #1 :  (103, 'maksat')
ODD #2 :  (9, 'alamanbek')
EVEN #1 :  87.625
EVEN #2 :  (4, 'alamanbek')

In [62]:
class KyrgyzPassport:
    def __init__(self, x, y):
        self.name = x
        self.lastname = y
        self.latin_to_cyrillic = {
            'A': 'А', 'a': 'а',
            'B': 'Б', 'b': 'б',
            'V': 'В', 'v': 'в',
            'G': 'Г', 'g': 'г',
            'D': 'Д', 'd': 'д',
            'E': 'Е', 'e': 'е',
            'J': 'Ж', 'j': 'ж',
            'Z': 'З', 'z': 'з',
            'I': 'И', 'i': 'и',
            'Y': 'Й', 'y': 'й',
            'K': 'К', 'k': 'к',
            'L': 'Л', 'l': 'л',
            'M': 'М', 'm': 'м',
            'N': 'Н', 'n': 'н',
            'O': 'О', 'o': 'о',
            'P': 'П', 'p': 'п',
            'R': 'Р', 'r': 'р',
            'S': 'С', 's': 'с',
            'T': 'Т', 't': 'т',
            'U': 'У', 'u': 'у',
            'F': 'Ф', 'f': 'ф',
            'H': 'Х', 'h': 'х',
            'S': 'Ц', 's': 'ц',
            'Y': 'Ы', 'y': 'ы',
            'E': 'Э', 'e': 'э'
        }

    def korsot(self):
        print(f'Passport holder name: {self.name}, lastname : {self.lastname}')
    
    def convert(self, name):
        result = ''
        for i in name:
            result += self.latin_to_cyrillic.get(i, i)
        return result

    def kyrgyz(self):
        name = self.convert(self.name)
        lastname = self.convert(self.lastname)
        print(f'Пассроттун ээсинин аты : {name}, фамилиясы : {lastname}')

    def russian(self):
        name = self.convert(self.name)
        lastname = self.convert(self.lastname)
        print(f'Владельца пасспорта имя : {name}, фамилия : {lastname}')
    
    def kazakcha(self):
        print('emne kilasin eyy')
        
emil = KyrgyzPassport('Emil', 'Bilgazyev')

In [63]:
emil.korsot()
emil.kyrgyz()
emil.russian()

Passport holder name: Emil, lastname : Bilgazyev
Пассроттун ээсинин аты : Эмил, фамилиясы : Билгазыэв
Владельца пасспорта имя : Эмил, фамилия : Билгазыэв

In [ ]:
class KZPassport(KyrgyzPassport):
    def __init__(self, x, y, z):
        super().__init__(x, y)
        self.ochestvo = z
        pass
    
    def kazakcha(self):
        name = self.convert(self.name)
        lastname = self.convert(self.lastname)
        print(f'Пассрот ээсинин ашы : {name}, атасыны ашы : {lastname}, akesi : {self.ochestvo}')
    
    def kyrgyz(self):
        name = self.convert(self.name)
        lastname = self.convert(self.lastname)
        print(f'Пассрот ээсинин ашы : {name}, атасыны ашы : {lastname}, akesi : {self.ochestvo}')
        super().kyrgyz()

In [65]:
dovlet = KZPassport('Daulet', 'Sultan uulu', 'Abdylda')

In [68]:
dovlet.kazakcha()

Пассрот ээсинин ашы : Даулэт, атасыны ашы : Цултан уулу, akesi : Abdylda

In [69]:
emil.kazakcha()

emne kilasin eyy

In [44]:
class Auto:
    def __init__(self, brand, tiresize, enginesize, color):
        self.brand = brand
        self.tiresize = tiresize
        self.enginesize = enginesize
        self.color = color
    
    def korsot(self):
        print(self.brand, self.enginesize, self.color)

class Car(Auto):
    def __init__(self, brand, tiresize, enginesize, color, wheeldrive):
        super().__init__(brand, tiresize, enginesize, color)
        self.wheeldrive = wheeldrive


class Truck(Auto):
    def __init__(self, brand, tiresize, enginesize, color, trailer):
        super().__init__(brand, tiresize, enginesize, color)
        self.trailer = trailer


class BMW(Car):
    def __init__(self, brand, tiresize, enginesize, color, wheeldrive, handfree):
        super().__init__(brand, tiresize, enginesize, color, wheeldrive)
        self.handfree = handfree


class Audi(Auto):
    def __init__(self, brand, tiresize, enginesize, color, wheeldrive):
        super().__init__(brand, tiresize, enginesize, color, wheeldrive)


class Toyota(Truck):
    def __init__(self, brand, tiresize, enginesize, color, trailer):
        super().__init__(brand, tiresize, enginesize, color, trailer)

class Volvo(Truck):
    def __init__(self, brand, tiresize, enginesize, color, trailer):
        super().__init__(brand, tiresize, enginesize, color, trailer)

In [55]:
arr = [dovlet, emil]


def showAll(arr):
    for i in arr:
        i.korsot()
        i.kyrgyz()
        i.russian()
        print()
    
    print(emil.convert('Gulnur Satylganova'))

In [56]:
showAll(arr)

Passport holder name: Daulet, lastname : Sultan uulu
Пассрот ээсинин ашы : Даулэт, атасыны ашы : Цултан уулу, akesi : Abdylda
Пассроттун ээсинин аты : Даулэт, фамилиясы : Цултан уулу
Владельца пасспорта имя : Даулэт, фамилия : Цултан уулу

Passport holder name: Emil, lastname : Bilgazyev
Пассроттун ээсинин аты : Эмил, фамилиясы : Билгазыэв
Владельца пасспорта имя : Эмил, фамилия : Билгазыэв

Гулнур Цатылганова

In [ ]:
KyrgyzPassport.convert('Gulnur Satylganova')

TypeError: KyrgyzPassport.__init__() missing 2 required positional arguments: 'x' and 'y'

In [ ]:
class Car:
    def __init__(self):
        self.brand = None
        self.fullinfo = None
    
    def set_brand(self, brand):
        self.brand = brand
        self.fullinfo = brand.upper()
    
    def get_brand(self):
        return self.brand

In [82]:
audi = Car()
audi.brand = 'audi a6'
print(audi.brand)
print(audi.fullinfo)

audi a6
None

In [83]:
audi.set_brand('bmw m6')
print(audi.brand)
print(audi.fullinfo)

bmw m6
BMW M6

In [15]:
from salma import Salma

shop = Salma()
shop.changePersonal('Gulnur')

In [16]:
shop.addItem('cola', 20, 100)
shop.addItem('tort', 10, 250)
shop.addItem('coffee', 100, 100)
shop.addItem('macaron', 10, 190)

In [17]:
shop.sellItems('cola')
shop.sellItems('macaron')

In [18]:
shop.getKassa()

362.5

In [19]:
shop.getProfit()

72.5

In [20]:
print(shop.getItems())

cola : 19
tort : 10
coffee : 100
macaron : 9

In [21]:
print(shop.getHistory())

cola : 125.0 : Gulnur
macaron : 237.5 : Gulnur

In [22]:
print(shop.getPurchaseHistory())

cola : 100 : 20 : Gulnur
tort : 250 : 10 : Gulnur
coffee : 100 : 100 : Gulnur
macaron : 190 : 10 : Gulnur

In [23]:
shop.changePersonal('Atai')

In [24]:
shop.addItem('cola', 5, 120)
shop.addItem('samsy', 5, 50)

In [25]:
print(shop.getPurchaseHistory())

cola : 100 : 20 : Gulnur
tort : 250 : 10 : Gulnur
coffee : 100 : 100 : Gulnur
macaron : 190 : 10 : Gulnur
cola : 120 : 5 : Atai
samsy : 50 : 5 : Atai

In [26]:
shop.sellItems('cola')
shop.sellItems('samsy')
print(shop.getHistory())

cola : 125.0 : Gulnur
macaron : 237.5 : Gulnur
cola : 150.0 : Atai
samsy : 62.5 : Atai

In [29]:
print(shop.getPersonalSales('Atai'))

Atai SOLD ITEMS
cola: 150.0
samsy: 62.5

In [57]:
from csv import reader
from collections import defaultdict

doljen = defaultdict(int)
neplatil = defaultdict(list)
monthkassa = defaultdict(int)

def getmonths(month, year):
    arr = []
    for i in range(12):
        m = ( month + i ) % 12 + 1
        y = year + (month + i) // 12
        arr.append(f'{m}-{y}')
    return arr

with open('kassa.csv') as fid:
    r = list(reader(fid))
    for date, summa, id, description in r:
        doljen[id] += int(summa)
        day, month, year = date.split('-')
        month_year = month + '-' + year
        if int(summa) < 0:
            neplatil[id] = getmonths(int(month), int(year))
        else:
            neplatil[id].remove(month_year)
        monthkassa[month_year] += int(summa)

print(doljen)
print(neplatil)
print(monthkassa)
print([id for id in doljen if doljen[id] == 0])

defaultdict(<class 'int'>, {'1': 0, '2': -7500, '3': -10000})
defaultdict(<class 'list'>, {'1': ['1-24', '2-24', '6-24', '7-24', '8-24', '9-24', '10-24', '11-24'], '2': ['1-24', '2-24', '3-24', '4-24', '5-24', '6-24', '7-24', '9-24', '10-24', '11-24'], '3': ['1-24', '2-24', '3-24', '4-24', '5-24', '6-24', '7-24', '8-24', '9-24', '10-24', '11-24', '12-24']})
defaultdict(<class 'int'>, {'11-23': -31000, '12-23': -7300, '3-24': 2000, '4-24': 3000, '5-24': 9800, '8-24': 6000})
['1']

In [56]:
getmonths(8,24)

['9-24',
 '10-24',
 '11-24',
 '12-24',
 '1-25',
 '2-25',
 '3-25',
 '4-25',
 '5-25',
 '6-25',
 '7-25',
 '8-25']

In [59]:
from random import randint
a = ''.join([str(randint(0,9)) for i in range(100)])
print(a)

0215474659137464410471499834858745803612151156151360157238014282020311010475845168230807584042687111

In [60]:
int(a)

215474659137464410471499834858745803612151156151360157238014282020311010475845168230807584042687111

In [2]:
from random import randint

for i in range(3):
    print(randint(1,60))

56
17
54

In [25]:
def add1(a, b):
    x = a + '+' + b
    print(x)
    return eval(x)

add1('-99.9', '9.999')

-99.9+9.999

-89.90100000000001

In [ ]:
num = {str(i): i for i in range(10)}

def add2(a, b):
    if len(a) > len(b):
        diff = len(a) - len(b)
        b = '0' * diff + b
    else:
        diff = len(b) - len(a) 
        a = '0' * diff + a
    a, b = a[::-1], b[::-1]
    sum = ''
    c = '0'
    for i in range(len(a)):
        s = num[a[i]] + num[b[i]] + num[c]
        sum += str(s % 10)
        c =  str(s // 10)
    
    if num[c] > 0:
        sum += '1'
    return sum[::-1]

a = '754879473945864965943649386455999'
b = '1990958403764073640376403409752476'
print(add1(a, b))
print(add2(a, b))

754879473945864965943649386455999+1990958403764073640376403409752476
2745837877709938606320052796208475
2745837877709938606320052796208475

In [29]:
2/3

0.6666666666666666

biblioteka
parkovka
kinoteatr
optima
aviabilety
magazin
barbershop

In [1]:
from optima import Optima
bank = Optima()

In [2]:
bank.addNewClient('Emil', 1111)
bank.addNewClient('Atai', 2222)
bank.addNewClient('Ulan', 3333)
print(bank.getClients())

1111: Emil : 0
2222: Atai : 0
3333: Ulan : 0

In [3]:
bank.addBalance(3333, 5000)
print(bank.getClients())

1111: Emil : 0
2222: Atai : 0
3333: Ulan : 5000

In [4]:
bank.addBalance(1111, 10000)
print(bank.getClients())

1111: Emil : 10000
2222: Atai : 0
3333: Ulan : 5000

In [5]:
print(bank.getHistory())

Added new client Emil, 1111
Added new client Atai, 2222
Added new client Ulan, 3333
Added balance to Ulan amount of 5000
Added balance to Emil amount of 10000

In [6]:
bank.transfer(1111, 2222, 5000)

In [7]:
print(bank.getHistory())

Added new client Emil, 1111
Added new client Atai, 2222
Added new client Ulan, 3333
Added balance to Ulan amount of 5000
Added balance to Emil amount of 10000
Transfer Emil to Atai amount of 5000

In [8]:
bank.getPribl()

5.0

In [9]:
print(bank.getClients())

1111: Emil : 4995.0
2222: Atai : 5000
3333: Ulan : 5000

In [10]:
print(bank.obshiyBalansBanka())

15000

bank.clients[1111].setAge(40)

In [13]:
bank.clients[1111].setAge(40)

In [17]:
client = bank.clients[1111]
client.getAge()

40

In [11]:
bank.transfer(2222, 1111, 4000)

In [12]:
bank.obshiyBalansBanka()

15000

In [13]:
bank.getPribl()

9.0

In [15]:
print(bank.getClients())

1111: Emil : 8995.0
2222: Atai : 996.0
3333: Ulan : 5000

In [17]:
from random import randint
arr = ['biblioteka', 
'parkovka',
'kinoteatr',
'optima',
'aviabilety',
'magazin',
'barbershop']

print(arr[randint(0, len(arr)-1)])

N = randint(0, 5)
print(N)
print()
for i in range(N):
    print(randint(0, 62))

optima
0

In [ ]:
arr = [0, 100]
print(arr[randint(0,1)])

In [13]:
from parkovka import Parkovka
parking = Parkovka(50, 200)
parking.addCar('01kg901ghi', '10-11-2024')
parking.addCar('02kg085hfc', '15-11-2024')
print(parking.getTotalCost('01kg901ghi'))
print(parking.getTotalCost('02kg085hfc'))
print(parking.getAvailableParkingCount())

46131
22131
48

In [12]:

parking.removeCar('01kg901ghi', 46113)
print(parking.getHistory_parking('01-01-2024', '01-01-2025'))

parking.addBalance('02kg085hfc', 10000)
parking.removeCar('02kg085hfc')
# parking.history_id(id, start_date, end_date)
# parking.history_parking(start_date, end_date)
print(parking.getHistory_parking('01-01-2024', '01-01-2025'))
print(parking.getCostPerHour())
parking.getAverage()
# parking.getCarsCount()
parking.getAvailableParkingCount()

[(1731175200, 1732005557.879285, '01kg901ghi', 46113)]
[(1731175200, 1732005557.879285, '01kg901ghi', 46113), (1731607200, 1732005557.880725, '02kg085hfc', 22130)]
200

50

In [19]:
def f(a, b):
    return a + b

def f(a, b, c):
    return a + b + c

In [21]:
arr = [1, 2, 3, 6, 9, 22, 45, 77, 89, 123, 345, 2346]

In [23]:
import bisect
def getRange(start, end):
    start_index =bisect.bisect_left(arr, start)
    end_index = bisect.bisect_left(arr, end)
    return arr[start_index:end_index]

In [24]:
print(getRange(8, 80))

[9, 22, 45, 77]

In [26]:
from time import time

In [27]:
print(time())

1731928932.8778536

In [5]:
from time import time
from parkovka import Parkovka
parking = Parkovka(50)
print(parking.getTimestamp('19-11-2024'))
print(time())

1731952800
1732004908.598435

In [6]:
def add(a, b):
    #print(f'first value is {a}, second value is  {b}')
    return a + b

from time import time
from random import randint
start = time()
for i in range(1000000):
    a, b = randint(0, 1000), randint(0, 1000)
    add(a, b)
end = time()
print('Total time: ', end - start)

Total time:  1.015930414199829

In [2]:
class Student:
    def __init__(self, dob, name):
        self.name = name
        self.dob = dob


arr = [Student('12-12-2000', 'Kutman'), 
       Student('28-08-2001', 'Aziz'),
       Student('20-05-1998', 'Atai'),
       Student('28-12-1999', 'Tolon'),
       Student('01-08-1995', 'Salma')]

In [ ]:
def reverseDob(daniel):
    dob = daniel.dob
    return dob[6:]+dob[3:5]+dob[:2]

def youngest(arr):
    return max(arr, key=reverseDob).name

def oldest(arr):
    return min(arr, key=reverseDob).name

In [11]:
print('Oldest', oldest(arr))
print('Youngest', youngest(arr))

Oldest Salma
Youngest Aziz

In [17]:
def avg(arr):
    cy, cm, cd = 2024, 11, 25
    arr1 = []
    for student in arr:
        dob_d, dob_m, dob_y = map(int, student.dob.split("-"))
        age = cy - dob_y
        if (cm, cd) < (dob_m, dob_d):
            age -= 1
        arr1.append(age)
        print(student.name, student.dob, age)
    return sum(arr1) / len(arr1)

In [18]:
print('avg', avg(arr))

Kutman 12-12-2000 23
Aziz 28-08-2001 23
Atai 20-05-1998 26
Tolon 28-12-1999 24
Salma 01-08-1995 29
avg 25.0

In [ ]:
class Cinema:
    def __init__(self, price):
        self.price = price

    def add_movie(self, name, schedule, quantity):
        pass

    def remove_movie(self, name):
        pass

    def update_schedule(self, name, new_schedule):
        pass

    def book_ticket(self, name, date):
        pass

    def refund_ticket(self, booking_id):
        pass

    def earnings(self, name):
        pass

In [20]:
class Client:
    pass

class Room:
    pass


class Hotel:
    def __init__(self):
        pass

    def book(self, client, room_id):
        pass

    def cancel(self, client):
        pass

    def available_rooms(self):
        pass

    def profit(self):
        pass

    def history(self):
        pass

    def add_room(self, room):
        pass

    def remove_room(self, room):
        pass

In [ ]:
class Flight:
    def __init__(self, date, origin, destination):
        pass

class Passenger:
    def __init__(self):
        pass

class Aviasales:
    def __init__(self):
        pass

    def add_flight(self, flight):
        pass
    
    def remove_flight(self, flight):
        pass

    def book_flight(self, passenger, flight):
        pass

    def cancel_booking(self, passenger, flight):
        pass

    def change_flight(self, flight, new_flight):
        pass
    
    def get_flight_schedule(self, range):
        pass

    def get_available_seats(self, flight):
        pass

In [23]:
class Student:
    pass

class Sabak:
    pass

class Ebilim:
    def __init__(self):
        pass

    def add_student(self, student):
        pass

    def remove_student(self, student):
        pass

    def add_grade(self, student, sabak, grade):
        pass
    
    def update_grade(self, student, sabak, grade):
        pass

    def add_class(self, sabak):
        pass

    def remove_class(self, sabak):
        pass
    
    def register_to_class(self, student, sabak):
        pass

    def unregister_from_class(self, student, sabak):
        pass

In [24]:
from random import shuffle
arr = list(range(1,63))
shuffle(arr)
arr[:4]

[49, 61, 36, 31]

In [ ]:
'''Movie Class
get_available_seats
book_seat

Client Class
book_ticket
get_booked_movies

Cinema Class
add_movie ## movies.append( (movie, schedule) )
remove_movie ## 1. find, 2. remove
list_movies ## 
book_ticket ## book_id =  
cancel_ticket ## remove by book_id
get_seating_plan 
get_total_cost
get_total_profit
get_customers_who_watched_multiple_films'''

In [8]:
from cinema import Movie, Client, Cinema

m1 = Movie("Chaplin", "20241125")
m2 = Movie("Chaplin", "20241126")
m3 = Movie("Gladiator 2", "20241125")

c1 = Client("Gulnur")
c2 = Client("Atai")
c3 = Client("Bars")

cinema = Cinema()
cinema.add_movie(m1)
cinema.add_movie(m2)
cinema.add_movie(m3)

b1 = cinema.book_ticket(m1, c1)
b2 = cinema.book_ticket(m2, c1)
b3 = cinema.book_ticket(m1, c2)
b4 = cinema.book_ticket(m3, c2)

print([c.name for c in m1.clients])
cinema.cancel_ticket(b1)
print([c.name for c in m1.clients])
cinema.book_ticket(m1, c1)
cinema.get_total_cost(m1)

cinema.get_customers_who_watched_multiple_films()

['Gulnur', 'Atai']
['Atai']

'Atai\nGulnur'

In [3]:
for i in movies:
    print(i.name, i.schedule, i.getavailabe_seats())

Chaplin 20241125 50
Chaplin 20241126 50
Gladiator 2 20241125 50